<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin dashboard</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/stylesheets/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <link rel="stylesheet" href="stylesheets/adminTrainerProfile.css">
        <link rel="stylesheet" href="/stylesheets/userDashboard.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
                
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
                
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav" style="background-color: #79B258 !important;">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Admin</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile mx-auto mb-2" src="/images/arnav.png" alt="" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a href="/admin/trainers" class="nav-link btn">Trainers</a></li>
                    <li class="nav-item"><a href="/admin/users" class="nav-link btn">Users</a></li>
                    <li class="nav-item"><a href="/admin/pricing" class="nav-link btn">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link btn" href="/admin/couponRequests">Coupon Requests</a></li>
                    <li class="nav-item"><a class="nav-link btn" href="/admin/reports">Trainer Reports</a></li>
                    <li class="nav-item"><a class="nav-link btn" href="/admin/changepassword">Change Password</a></li>
                    <li class="nav-item"><a class="nav-link btn" href="/auth/logout">Sign Out</a></li>
                </ul>
            </div>
        </nav>
          <div class="container">
            <div class="main-body">
          <a href="/admin">Go Back</a>
        
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="<%= trainer.profilePic%>" alt="Admin" class="" width="150">
                        <div class="mt-3">
                          <h4><%=trainer.username%></h4>
                          
                          <% if(!trainer.isVerified) { %>
                            <form action="/admin/trainerVerify/<%= trainer._id %>?_method=PUT" method="POST" style="display: inline;">
                              <button class="btn btn-primary" id="verify">Verify</button>
                            </form>
                            <button class="btn btn-outline-primary">Decline</button>
                          <% } %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                        <span class="text-secondary"><%= trainer.website %></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Social Handle</h6>
                        <span class="text-secondary"><%= trainer.socialHandle %></span>
                      </li>
                    </ul>
                  </div>
                  <div class="card mt-3" style="overflow-y: scroll; max-height: 300px;">
                    <% if(trainer.meetingLogs) { %>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Meeting Logs </h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <ul>
                            <% trainer.meetingLogs.forEach(function (meeting){ %>
                              <li><%=meeting.uuid%></li><hr>
                              <li><%= meeting.id %></li><hr>
                              <li><%= meeting.user_name %></li> <hr>
                              <li><%= meeting.start_time %></li><hr>
                              <li><%= meeting.end_time %></li><hr>
                              <li><%= meeting.duration %></li><hr>
                              <li><%= meeting.participants_count %></li>
                            <% }) %> 
                          </ul>
                        </div>
                      </div>
                      <% } %>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card mb-3" style="overflow-y: scroll;height: 300px !important;">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <%= trainer.username %>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <%= trainer.email %>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <%=trainer.contact%>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <% if(trainer.address){%>
                          <%= trainer.address %>
                          <%}else{%>
                            -
                            <%}%>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Amount</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <% if(trainer.amount){%>
                          <%= trainer.amount %>
                          <%}else{%>
                            -
                            <%}%>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">About</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <% if(trainer.about){%>
                          <%= trainer.about %>
                          <%}else{%>
                            -
                            <%}%>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Modes of payment</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <% if(trainer.payment && trainer.payment.length > 0){%>
                          <% trainer.payment.forEach((payment) => { %>
                            <%= payment %>
                          <% }) %>
                          <%}else{%>
                            -
                            <%}%>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Experience place</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <% if(trainer.experiencePlace){%>
                            <%= trainer.experiencePlace %>
                            <%}else{%>
                              -
                              <%}%>
                            </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Experience </h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <%if (trainer.experienceYears) {%>
                          <%= trainer.experienceYears %> Years
                          <% } else { %>
                            null
                          <% } %>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Certification </h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <%if (trainer.certification) {%>
                          <%= trainer.certification %>
                          <% } else { %>
                            null
                          <% } %>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Education </h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <%if (trainer.education) {%>
                          <%= trainer.education %>
                          <% } else { %>
                            null
                          <% } %>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Resume</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <% if(trainer.resume) {%>
                          <a href="<%= trainer.resume %>" class="btn btn-primary" download>Download resume</a>
                          <% } else {%>
                            not uploaded
                            <% } %>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Aadhar/PAN</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <%if(trainer.aahdar) {%>
                          <a href="<%= trainer.aadhar %>" class="btn btn-primary" download>Download aadhar/PAN details</a>
                          <%}%>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                      <div class="card" style="overflow-y: scroll; height: 300px !important;">
                        <div class="card-body">
                          <h4 class="d-flex align-items-center mb-3">Ratings</h4>
                          <!-- <small>Web Design</small>
                          <div class="progress mb-3" style="height: 5px">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <small>Website Markup</small>
                          <div class="progress mb-3" style="height: 5px">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <small>One Page</small>
                          <div class="progress mb-3" style="height: 5px">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <small>Mobile Template</small>
                          <div class="progress mb-3" style="height: 5px">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <small>Backend API</small>
                          <div class="progress mb-3" style="height: 5px">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                          </div> -->
                          <% if(trainer.reviews.length > 0) { %>
                            <% trainer.reviews.forEach((review) => { %>
                              <div class="row">
                                <div class="col-lg-6">
                                  <h5><%= review.author.username %></h5>
                                </div>
                                <div class="col-lg-6">
                                  <p class="starability-result text-left" data-rating = "<%= review.rating %>">
                                    Rated: 3 stars
                                  </p>
                                </div>
                              </div>
                            <% }) %>
                          <% } else { %>
                            <h4>No reviews yet.</h4>
                            <% } %>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                      <div class="card" style="overflow-y: scroll;height: 300px !important;">
                        <div class="card-body">
                          <h4 class="d-flex align-items-center mb-3">Users Associated</h4>
                          <% if(trainer.users.length != 0){
                            trainer.users.forEach((user)=>{ %>
                              <div class="containerSmall" style="color: white;margin-bottom: 15px;">
                                <h5>Name: <%=user.userName%></h5>
                                <h6>Category: <%= user.category%></h6>
                                <h6>Type: <%= user.type%></h6>
                                <h6>Num of Sessions: <%= user.numOfSessions%></h6>
                                <h5>Payment Info : </h5>
                                <h6>TransactionId: <%= user.payment_info.TransactionID%></h6>
                                <h6>TransactionAmount:<%= user.payment_info.TransactionAmount%></h6>
                                <h6>TransactionDate: <%= user.payment_info.TransactionDate%></h6>
                                <h6>OrderID: <%= user.payment_info.orderId%></h6>
                                <h6>BankName: <%= user.payment_info.BankName%></h6>
                                <h6>BankTransactionId: <%= user.payment_info.BankTransactionID%></h6>
                              </div>
                              <hr>
                            <%});
                          }%>
                         
                        </div>
                      </div>
                    </div>
                  </div>
                  <% if(trainer.isVerified && !trainer.pricePlan) { %>
                      <!-- Allot to basic/standard/premium -->
                      <h3>Verified! Please allot this trainer into basic/standard/premium category.</h3>
                      <form action="/admin/trainerPack/<%= trainer._id %>?_method=PUT" method="POST">
                        <label for="basic">Basic</label>
                          <input type="radio" name="trainerPack" id="basic" value="Basic" />
                        <label for="standard">Standard</label>
                          <input type="radio" name="trainerPack" id="standard" value="Standard">
                        <label for="premium">Premium</label>
                          <input type="radio" name="trainerPack" id="premium" value="Premium">
                          <button type="submit">Set</button>
                      </form>
                  <% } %>
                  <% if(trainer.pricePlan) { %>
                    <h4>Trainer has been alotted <%= trainer.pricePlan %> category</h4>  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      Change price plan
                    </button>
                  <% } %>
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Price plans</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/admin/upgrade/<%= trainer._id %>?_method=PUT" method="POST">
                  Basic <input type="radio" name="pricePlan" id="" value="Basic">
                  Standard <input type="radio" name="pricePlan" id="" value="Standard">
                  Premium <input type="radio" name="pricePlan" id="" value="Premium">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
  var email = <%-JSON.stringify(trainer.email) %>;
  var id = <%- JSON.stringify(trainer._id) %>;
  $(document).on('click','#verify',(e)=>{
    e.preventDefault();
  })
</script>


        <div class="container trainerTimeTable table-responsive">
          <table class="table table-bordered" id="trainerTT">
            <thead class="week-names">
              <tr style="text-align: center;font-family: 'Roboto', sans-serif;">
                <th scope="col" style="background-color: #888888;vertical-align: inherit;" >Slots</th>
                <th scope="col" style="background-color: rgb(144, 140, 140); color:black" id="dateT1"></th>
                <th scope="col" id="dateT2"></th>
                <th scope="col" id="dateT3"></th>
                <th scope="col" id="dateT4"></th>
                <th scope="col" id="dateT5"></th>
                <th scope="col"  id="dateT6"></th>
                <th scope="col" style="background-color: rgb(144, 140, 140); color:black" id="dateT7"></th>
              </tr>
            </thead>
              <tbody style="text-align:center">
                  <tr>
                    <th scope="row" class="time-interval">6AM-7AM</th>
                    <td class="weekend">
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                        
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                        
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row" class="time-interval">7AM-8AM</th>
                    <td class="weekend">
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td >
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row" class="time-interval">8AM-9AM</th>
                    <td  class="weekend">
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row" class="time-interval" >9AM-10AM</th>
                    <td  class="weekend">
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row"class="time-interval" >10AM-11AM</th>
                    <td  class="weekend">
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td >
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row"class="time-interval" >11AM-12PM</th>
                    <td  class="weekend">
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td >
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row"class="time-interval" >12PM-1PM</th>
                    <td  class="weekend">
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td >
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row"class="time-interval" >1PM-2PM</th>
                    <td  class="weekend">
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td >
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row"class="time-interval" >2PM-3PM</th>
                    <td  class="weekend">
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td >
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row"class="time-interval" >3PM-4PM</th>
                    <td  class="weekend">
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td >
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row"class="time-interval" >4PM-5PM</th>
                    <td  class="weekend">
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td >
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row"class="time-interval" >5PM-6PM</th>
                    <td  class="weekend">
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td >
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row"class="time-interval" >6PM-7PM</th>
                    <td  class="weekend">
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td >
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row"class="time-interval" >7PM-8PM</th>
                    <td  class="weekend">
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td >
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row"class="time-interval" >8PM-9PM</th>
                    <td  class="weekend">
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td >
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row"class="time-interval" >9PM-10PM</th>
                    <td  class="weekend">
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td >
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row"class="time-interval" >10PM-11PM</th>
                    <td  class="weekend">
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td >
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                </tbody>
              </table>
    
        </div>

       
  <script>
    var email = <%-JSON.stringify(trainer.email) %>;
    var id = <%- JSON.stringify(trainer._id) %>;


    $(document).on('click','#verify',(e)=>{
      e.preventDefault();
      $.ajax({
        // url:'http://127.0.0.1:3500/admin/trainerVerify',
        url:'https://shapeyou-demo.herokuapp.com/admin/trainerVerify',
        method:'PUT',
        data:{
          email:email,
          id:id
        },
        success:()=>{
          alert('Trainer Verified.');
          location.reload();
        }
      })
    });

    var trainerPersonals = <%- JSON.stringify(trainer.personalSlots) %>;
    var calendar = <%- JSON.stringify(trainer.calendar) %>;
    var compare = new Array();
    var compareP = null;
    
    var persSlots = null;

    $.ajax({
      //   url:'http://127.0.0.1:3500/trainer/getTimeTable/<%= trainer._id %>',
        url:'https://shapeyou-demo.herokuapp.com/trainer/getTimeTable/'+id,
        method: 'GET',
        success:(data)=>{
            var index = 0;
            $('#trainerTT tr').each(function(){
              var timeR = null;
                      var timeStr = null;
                      var timeStr2 = null;
                      
                      if(index!=0){
                          timeR = $(this).find('th')[0].innerText;
                          var timeA = timeR.split('-');
                          timeStr = timeA[0].substring(0,timeA[0].length-2) + ":00" + timeA[0].slice(-2) +" - "+timeA[1].substring(0,timeA[1].length-2)+":00" + timeA[1].slice(-2);
                          timeStr2 = timeStr.replace(/\s/g,'');
                        }
                        
                        $(this).find('td').each(function(){
                            var col = $("table thead tr th").eq($(this).index());
                            var key = col[0].getAttribute('value');
                            var dayCol = col[0].innerHTML.split('>')[2].split('<')[0];

                            switch (dayCol){
                                case 'MON':
                                    dayCol = "Monday";
                                    break;
                                case 'TUE':
                                    dayCol = "Tuesday";
                                    break;
                                case 'WED':
                                    dayCol = "Wednesday";
                                    break;
                                case 'THU':
                                    dayCol = "Thursday";
                                    break;
                                case 'FRI':
                                    dayCol = "Friday";
                                    break;
                                case 'SAT':
                                    dayCol = "Saturday";
                                    break;
                                default:
                                    dayCol = "Sunday";
                            }

                            if(trainerPersonals){
                                persSlots = trainerPersonals[dayCol];
                            }
                            
                            if(persSlots){
                                for(var i=0;i<persSlots.length;i++){
                                    if(persSlots[i].split(' ')[0] == timeStr2){
                                        $(this).find('.content')[0].innerText = "Personal";
                                        $(this).find('.content').css('color',"rgb(138, 148, 254)");
                                    }
                                }
                            }


                            if(index!=0 && data && data[key]!=undefined){
                                for(var i=0;i<data[key].length;i++){
                                    var ne = data[key][i].replace(/\s/g,'-').split('-');
                                    var timeSlot = ne[0]+" - "+ne[3];
                                    if(timeSlot == timeStr){
                                        var subCat = ne[4];
                                        if(subCat == "CrossFit"){
                                      $(this).find('.content')[0].innerText = "CrossFit";
                                      $(this).find('.content').css('color',"#2F4858");
                                      $(this).find('.content').css('font-weight',"600");
                                      $(this).find('.content').css('font-size',"28px");
                                      
                                  }
                                  else if(subCat == "Functional&StrengthTraining"){
                                      $(this).find('.content')[0].innerText = "F&ST";
                                      $(this).find('.content').css('color',"#1B5E6F");
                                      $(this).find('.content').css('font-weight',"600");
                                      $(this).find('.content').css('font-size',"28px");
                                      
                                  }
                                  else if(subCat == "MMA&Boxing"){
                                      $(this).find('.content')[0].innerText = "MMA";
                                      $(this).find('.content').css('color',"#0059A7");
                                      $(this).find('.content').css('font-weight',"600");
                                      $(this).find('.content').css('font-size',"28px");
                                      
                                  }
                                  else if(subCat == "Zumba"){
                                      $(this).find('.content')[0].innerText = "Zumba";
                                      $(this).find('.content').css('color',"#40A16C");
                                      $(this).find('.content').css('font-weight',"600");
                                      $(this).find('.content').css('font-size',"28px");
                                      
                                  }
                                  else if(subCat == "Dance"){
                                      $(this).find('.content')[0].innerText = "Dance";
                                      $(this).find('.content').css('color',"#9999CC");
                                      $(this).find('.content').css('font-weight',"600");
                                      $(this).find('.content').css('font-size',"28px");
                                      
                                  }
                                  else if(subCat == "Yoga"){
                                      $(this).find('.content')[0].innerText = "Yoga";
                                      $(this).find('.content').css('color',"#FF7C4B");
                                      $(this).find('.content').css('font-weight',"600");
                                      $(this).find('.content').css('font-size',"28px");
                                      
                                  }
                                  else if(subCat == "Meditation"){
                                      $(this).find('.content')[0].innerText = "Meditation";
                                      $(this).find('.content').css('color',"black");
                                      $(this).find('.content').css('font-weight',"600");
                                      $(this).find('.content').css('font-size',"28px");
                                      
                                  }
                                  else if(subCat == "Nutrition"){
                                      $(this).find('.content')[0].innerText = "Nutrition";
                                      $(this).find('.content').css('color',"#FF648E");
                                      $(this).find('.content').css('font-weight',"600");
                                      $(this).find('.content').css('font-size',"28px");
                                      
                                  }else if(subCat =="Therapy"){
                                      $(this).find('.content')[0].innerText = "Therapy";
                                      $(this).find('.content').css('color',"rgb(130, 215, 0)");
                                      $(this).find('.content').css('font-weight',"600");
                                      $(this).find('.content').css('font-size',"28px");
                                      
                                  }
                                        $(this).find('.content').css('border-radius',"20px");
                                        // $(this).find('.content').css('color',"darkgreen");
                                    }
                                }
                            }
                            
                        });
                        index++;
              });
              }
            });

    var weekday=new Array(7);
          weekday[0]="SUN";
          weekday[1]="MON";
          weekday[2]="TUE";
          weekday[3]="WED";
          weekday[4]="THU";
          weekday[5]="FRI";
          weekday[6]="SAT";


        var curr = new Date;
        var firstday = new Date(curr.setDate((curr.getDate() - curr.getDay())));
        var lastday = new Date((curr.setDate((curr.getDate() - curr.getDay())+6)));
        var j=1;
        var first = firstday;
        var data=new Object();

          for(var d = 0;d<7; d++){
              var nextDay = new Date();
              nextDay.setDate(firstday.getDate()+1);
              var datePassed = firstday.getDate() + " " + firstday.toLocaleString('default', { month: 'short' })+" "+firstday.getFullYear();
              data[datePassed] = new Array();
              firstday = nextDay;
          }

          firstday = first;

          for(var i=firstday;i<=lastday;i.setDate(i.getDate() + 1)){
              document.getElementById('dateT'+j).innerHTML = `<span>${i.getDate()}<br>${weekday[j-1]}</span>`;
              document.getElementById('dateT'+j).setAttribute('value',Object.keys(data)[j-1]);
              j++;
          }



  </script>
</body>
</html>