<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Admin dashboard</title>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="/stylesheets/userDashboard.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
                
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
                
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav" style="background-color: #79B258 !important;">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Admin</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile mx-auto mb-2" src="/images/arnav.png" alt="" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a href="/admin/trainers" class="nav-link btn">Trainers</a></li>
                    <li class="nav-item"><a href="/admin/users" class="nav-link btn">Users</a></li>
                    <li class="nav-item"><a href="/admin/pricing" class="nav-link btn">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link btn" href="/admin/couponRequests">Coupon Requests</a></li>
                    <li class="nav-item"><a class="nav-link btn" href="/admin/reports">Trainer Reports</a></li>
                    <li class="nav-item"><a class="nav-link btn" href="/admin/changepassword">Change Password</a></li>
                    <li class="nav-item"><a class="nav-link btn" href="/auth/logout">Sign Out</a></li>
                </ul>
            </div>
        </nav>
        <h1 class="text-center">ShapeYou - Trainers</h1>
        <% if(success && success.length) {%>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= success %>
            </div>
        <% } %>
    
        <% if(error && error.length) {%>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= error %>
            </div>
        <% } %>
        <div class="text-center mb-5">
            <button class="btn btn-success" value="trainers">Trainers</button>
            <button class="btn btn-success" value="declined">Declined trainers</button>
        </div>
        <table class="table table-striped trainers">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
            <% trainers.forEach(function(trainer, idx) { %>
                <% if(!trainer.isDeclined) {%>
              <tr>
                <th scope="row"><%= idx+1 %></th>
                <td><%= trainer.username %></td>
                <td><%= trainer.email %></td>
                <td><a href="/admin/trainer/<%= trainer._id %>">View Profile</a></td>
              </tr>
              <% } %>
            <% }) %>
              
            </tbody>
          </table>

          <table class="table table-striped declined" style="display: none;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
            <% trainers.forEach(function(trainer, idx) { %>
                <% if(trainer.isDeclined){ %>
              <tr>
                <th scope="row"><%= idx+1 %></th>
                <td><%= trainer.username %></td>
                <td><%= trainer.email %></td>
                <td><a href="/admin/trainer/<%= trainer._id %>">View Profile</a></td>
              </tr>
              <% } %>
            <% }) %>
              
            </tbody>
          </table>
          <script>
              $('button').click(function() {
                  var val = $(this).val();
                  if(val == 'trainers') {
                      $('.declined').css('display', 'none');
                      $('.trainers').css('display', 'table');
                  } else {
                      $('.trainers').css('display', 'none');
                      $('.declined').css('display', 'table');
                  }
                //   $('.' + val).css('display', 'table');
              })
          </script>
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        </body>
        </html>