<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShapeYou - Categories</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.lite.min.css" integrity="sha512-rtKpq+tUiLpzSJ9MWw/nbRZjsGzTqFoh+cyzF8IVSAEO5TeQLCXCfELo/a1dLy/4Zc9SWyZ6YAPvrD+E4n4fZQ==" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
<style>
  .navbar-nav > li > .dropdown-menu {
    background-color: rgb(7, 7, 8); 
  }
</style>
    <link rel="stylesheet" href="/stylesheets/categoryShow.css">
   
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  
</head>
<body>

  <div class="mainBox">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#79B258; height: 80px; font-size: 18px;">
      <a class="navbar-brand" href="/user"><img style="width: 3rem; height: auto;" src="/images/arnav.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item ml-3">
            <a class="nav-link" href="/user/category/Fitness%20trainer">Fitness</a>
            <div class="underline"></div>
          </li>
          <li class="nav-item ml-3">
            <a class="nav-link" href="/user/category/Wellness">Wellness</a>
            <div class="underline"></div>
          </li>
          <li class="nav-item ml-3">
            <a class="nav-link" href="/user/category/Counselling" >Counselling</a>
            <div class="underline"></div>
          </li>
            
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if(!currentUser){ %>
            
              
              <form action="/user/category/<%= parent %>" method="GET" class="form-inline">
                <div class="form-group">
                <input type="text" name="search" placeholder="Search.." class="form-control mr-1" style="border-radius: 25px;">
                <button type="submit" style="padding: 0; background-color: #79B258; border: none"><i class="fas fa-search ml-1 mr-3" style="color: white"></i></button>
                <!-- <input type="submit" value="Search" class="btn btn-success"> -->
              </div>
              </form>
              <li><a class="nav-link mr-3" href="/auth/login">Login</a></li>
              
          <% } else{ %>
            <form action="/user/category/<%= parent %>" method="GET" class="form-inline">
              <div class="form-group">
                <input type="text" name="search" placeholder="Search.." class="form-control mr-1" style="border-radius: 25px;"> 
                <button type="submit" style="padding: 0; background-color: #79B258; border: none"><i class="fas fa-search ml-1 mr-3" style="color: white"></i></button>
              <!-- <input type="submit" value="Search" class="btn btn-success"> -->
            </div>
            </form>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle mr-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: black;">
                <a class="dropdown-item" href="/user/userDashboard/<%= currentUser._id %>" style="color: white;">Go to dashboard</a>
                <a class="dropdown-item" href="#" style="color: white;">Signed In as <%= currentUser.username %></a>
                <a class="dropdown-item" href="/auth/logout" style="color: white;">Sign Out</a>
              </div>
            </li>
          <% } %>
        </ul>
      </div>
    </nav>

<!-- content -->

                <% switch (category.parent) {
                    case 'Wellness' : %>
                    <section style="height: 400px; background: url('https://images.unsplash.com/photo-1524901548305-08eeddc35080?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80')">
                    <div class="text-center" style="padding-top: 80px;">
                      <h1 style="color: white; font-family: 'Playfair Display', serif; font-size: 100px;">WELLNESS</h1> 
                    </div>
                     </section>
                    <% break;%>
                
                    <% case 'Counselling' : %>
                    <section style="height: 400px; background: url('https://images.unsplash.com/photo-1588873281272-14886ba1f737?ixlib=rb-1.2.1&auto=format&fit=crop&w=1525&q=80') bottom ">
                    <div class="text-center" style="padding-top: 80px;">
                      <h1 style="color: white; font-family: 'Playfair Display', serif; font-size: 100px;">COUNSELLING</h1> 
                     </div>
                     </section>
                    <% break;%>
                
                    <% case 'Fitness trainer' : %>
                    <section style="height: 400px; background: url('https://images.unsplash.com/photo-1575052814074-c05122e0a17a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') center center">
                    <div class="text-center" style="padding-top: 80px;">
                      <h1 style="color: white; font-family: 'Playfair Display', serif; font-size: 100px;">FITNESS TRAINERS</h1> 
                     </div>
                     </section>
                    <% break;%>
                
                <% } %>

          
            
          </section>
            <% if(parent == 'Fitness trainer') { %>
            <section>
                <div class="container pt-5 mx-auto">
                  <div class="row">
                    <div class="col-lg-6 my-auto">
                      <h1 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 55px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase;">CROSSFIT</h1>
                      <p style="margin-top: 31px; font-size: 18px;line-height: 27px;font-weight: 300;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque aliquid maxime rerum, consectetur inventore ipsa exercitationem aperiam tempora velit labore incidunt porro vel magni enim, laboriosam libero explicabo neque repudiandae.</p>
                    </div>
                    <div class="col-lg-6">
                      <img src="https://images.unsplash.com/photo-1578762560042-46ad127c95ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="" class="img-fluid">
                    </div>
                  </div>
                  <div class="row" style="margin-top: 100px;">
                    <div class="col-lg-4 text-center">
                      <button value="Basic CrossFit"></a><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase; border-right: 5px solid black;">basic</h5></button>
                    </div>
                    <div class="col-lg-4 text-center">
                      <button value="Standard CrossFit"><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase; border-right: 5px solid black;">standard</h5></button>
                    </div>
                    <div class="col-lg-4 text-center">
                      <button value="Premium CrossFit"><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase;">premium</h5></button>
                    </div>
                  </div>
                  <!-- <div id="carousel1" class="carouselBox">
                    <div class="control-container">
                    <div id="left-scroll-button" class="left-scroll button scroll">
                      <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div id="right-scroll-button" class="right-scroll button scroll">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                    </div> -->
                    <!-- <div class="items"> -->
                      <br><br>
                      <div class="card-deck">
                      <% trainers.forEach(function(trainer,i) { %>
                        <% if( trainer.subCategories.includes('CrossFit')) { 
                          if(trainer.pricePlan && (trainer.pricePlan == "Basic")){ %>
                              <% z = 0 %>
                              <div class="Basic CrossFit">
                              <% if(z<3){ %>
                                <div class="card <%= trainer.username %> CrossFit">
                                  <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                  <div class="card-body text-center">
                                    <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/CrossFit"><%= trainer.username %></a></h5>
                                    
                                  </div>
                                </div>
                              <% } else {%>
                                <div class="card more <%= trainer.username %> CrossFit" hidden>
                                  <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                  <div class="card-body text-center">
                                    <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/CrossFit"><%= trainer.username %></a></h5>
                                  </div>
                                </div>
                              <% }
                                z++  %>
                              </div>
                              
                          <% }else if (trainer.pricePlan && (trainer.pricePlan == "Standard")){ %>
                              <% z = 0 %>
                              <div class="Standard CrossFit" hidden>
                              <% if(z<3){ %>
                                <div class="card <%= trainer.username %> CrossFit">
                                  <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                  <div class="card-body text-center">
                                    <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/CrossFit"><%= trainer.username %></a></h5>
                                    
                                  </div>
                                </div>
                              <% } else {%>
                                <div class="card more <%= trainer.username %> CrossFit" hidden>
                                  <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                  <div class="card-body text-center">
                                    <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/CrossFit"><%= trainer.username %></a></h5>
                                  </div>
                                </div>
                              <% }
                                z++  %>
                              </div>
                             
                          <% }else if(trainer.pricePlan && (trainer.pricePlan == "Premium")){ %>
                              <% z = 0 %>
                              <div class="Premium CrossFit" hidden>
                              <% if(z<3){ %>
                                <div class="card <%= trainer.username %> CrossFit">
                                  <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                  <div class="card-body text-center">
                                    <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/CrossFit"><%= trainer.username %></a></h5>
                                    
                                  </div>
                                </div>
                              <% } else {%>
                                <div class="card more <%= trainer.username %> CrossFit" hidden>
                                  <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                  <div class="card-body text-center">
                                    <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/CrossFit"><%= trainer.username %></a></h5>
                                  </div>
                                </div>
                              <% }
                                z++  %>
                              </div>
                              
                          <% }
                            }
                            }) %>
              </div>
              <% if(z>=3){ %>
                <div class="btn-holder">
                  <button class="btn btn-primary viewMore">View more</button>
                  <button class="btn btn-warning viewLess" hidden>View less</button>
                </div>
              <% } %>
            </section>

            <section style="background: #7F986F;">
              <div class="container pt-5 mx-auto">
                <div class="row">
                  <div class="col-lg-6 my-auto">
                    <h1 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 55px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase;">FUNCTIONAL STRENGHT & TRAINING</h1>
                    <p style="margin-top: 31px; font-size: 18px;line-height: 27px;font-weight: 300;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque aliquid maxime rerum, consectetur inventore ipsa exercitationem aperiam tempora velit labore incidunt porro vel magni enim, laboriosam libero explicabo neque repudiandae.</p>
                  </div>
                  <div class="col-lg-6">
                    <img class="img-fluid" src="https://images.unsplash.com/photo-1516208813382-cbaf53501037?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
                  </div>
                </div>
                <div class="row" style="margin-top: 100px;">
                  <div class="col-lg-4 text-center">
                    <button value="Basic Functional&StrengthTraining"></a><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase; border-right: 5px solid black;">basic</h5></button>
                  </div>
                  <div class="col-lg-4 text-center">
                    <button value="Standard Functional&StrengthTraining"><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase; border-right: 5px solid black;">standard</h5></button>
                  </div>
                  <div class="col-lg-4 text-center">
                    <button value="Premium Functional&StrengthTraining"><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase;">premium</h5></button>
                  </div>
                </div>
                <!-- <div id="carousel2" class="carouselBox">
                  <div class="control-container">
                  <div id="left-scroll-button" class="left-scroll button scroll">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  </div>
                  <div id="right-scroll-button" class="right-scroll button scroll">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </div>
                  </div> -->
                  <!-- <div class="items" id="carousel-items2"> -->
                    <br><br>
                    <div class="card-deck">
                    <% trainers.forEach(function(trainer,i) { %>
                      <% if( trainer.subCategories.includes('Functional & Strength Training')) { 
                        if(trainer.pricePlan && (trainer.pricePlan == "Basic")){ %>
                            <% z = 0 %>
                            <div class="Basic Functional-StrengthTraining">
                            <% if(z<3){ %>
                              <div class="card <%= trainer.username %> Functional-StrengthTraining">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Functional&StrengthTraining"><%= trainer.username %></a></h5>
                                  
                                </div>
                              </div>
                            <% } else {%>
                              <div class="card more <%= trainer.username %> Functional-StrengthTraining" hidden>
                                <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Functional&StrengthTraining"><%= trainer.username %></a></h5>
                                </div>
                              </div>
                            <% }
                              z++  %>
                            </div>
                            
                        <% }else if (trainer.pricePlan && (trainer.pricePlan == "Standard")){ %>
                            <% z = 0 %>
                            <div class="Standard Functional-StrengthTraining" hidden>
                            <% if(z<3){ %>
                              <div class="card <%= trainer.username %> Functional-StrengthTraining">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Functional&StrengthTraining"><%= trainer.username %></a></h5>
                                  
                                </div>
                              </div>
                            <% } else {%>
                              <div class="card more <%= trainer.username %> Functional-StrengthTraining" hidden>
                                <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Functional&StrengthTraining"><%= trainer.username %></a></h5>
                                </div>
                              </div>
                            <% }
                              z++  %>
                            </div>
                           
                        <% }else if(trainer.pricePlan && (trainer.pricePlan == "Premium")){ %>
                            <% z = 0 %>
                            <div class="Premium Functional-StrengthTraining" hidden>
                            <% if(z<3){ %>
                              <div class="card <%= trainer.username %> Functional-StrengthTraining">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Functional&StrengthTraining"><%= trainer.username %></a></h5>
                                  
                                </div>
                              </div>
                            <% } else {%>
                              <div class="card more <%= trainer.username %> Functional-StrengthTraining" hidden>
                                <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Functional&StrengthTraining"><%= trainer.username %></a></h5>
                                </div>
                              </div>
                            <% }
                              z++  %>
                            </div>
                            
                        <% }
                      }
                    }) %>
                    </div>
                    <% if(z>=3){ %>
                      <div class="btn-holder">
                        <button class="btn btn-primary viewMore">View more</button>
                        <button class="btn btn-warning viewLess" hidden>View less</button>
                      </div>
                    <% } %>
            </section>

            <section>
              <div class="container pt-5 mx-auto">
                <div class="row">
                  <div class="col-lg-6 my-auto">
                    <h1 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 55px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase;">ZUMBA</h1>
                    <p style="margin-top: 31px; font-size: 18px;line-height: 27px;font-weight: 300;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque aliquid maxime rerum, consectetur inventore ipsa exercitationem aperiam tempora velit labore incidunt porro vel magni enim, laboriosam libero explicabo neque repudiandae.</p>
                  </div>
                  <div class="col-lg-6">
                    <img class="img-fluid" src="https://images.unsplash.com/photo-1524594152303-9fd13543fe6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
                  </div>
                </div>
                <div class="row" style="margin-top: 100px;">
                  <div class="col-lg-4 text-center">
                    <button value="Basic Zumba"></a><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase; border-right: 5px solid black;">basic</h5></button>
                  </div>
                  <div class="col-lg-4 text-center">
                    <button value="Standard Zumba"><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase; border-right: 5px solid black;">standard</h5></button>
                  </div>
                  <div class="col-lg-4 text-center">
                    <button value="Premium Zumba"><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase;">premium</h5></button>
                  </div>
                </div>
                <!-- <div id="carousel3" class="carouselBox">
                  <div class="control-container">
                  <div id="left-scroll-button" class="left-scroll button scroll">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  </div>
                  <div id="right-scroll-button" class="right-scroll button scroll">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </div>
                  </div>
                  <div class="items" id="carousel-items3"> -->
                    <br><br>
                    <div class="card-deck">
                    <% trainers.forEach(function(trainer,i) { %>
                      <% if( trainer.subCategories.includes('Zumba')) { 
                        if(trainer.pricePlan && (trainer.pricePlan == "Basic")){ %>
                            <% z = 0 %>
                            <div class="Basic Zumba">
                            <% if(z<3){ %>
                              <div class="card <%= trainer.username %> Zumba">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Zumba"><%= trainer.username %></a></h5>
                                  
                                </div>
                              </div>
                            <% } else {%>
                              <div class="card more <%= trainer.username %> Zumba" hidden>
                                <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Zumba"><%= trainer.username %></a></h5>
                                </div>
                              </div>
                            <% }
                              z++  %>
                            </div>
                            
                        <% }else if (trainer.pricePlan && (trainer.pricePlan == "Standard")){ %>
                            <% z = 0 %>
                            <div class="Standard Zumba" hidden>
                            <% if(z<3){ %>
                              <div class="card <%= trainer.username %> Zumba">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Zumba"><%= trainer.username %></a></h5>
                                  
                                </div>
                              </div>
                            <% } else {%>
                              <div class="card more <%= trainer.username %> Zumba" hidden>
                                <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Zumba"><%= trainer.username %></a></h5>
                                </div>
                              </div>
                            <% }
                              z++  %>
                            </div>
                           
                        <% }else if(trainer.pricePlan && (trainer.pricePlan == "Premium")){ %>
                            <% z = 0 %>
                            <div class="Premium Zumba" hidden>
                            <% if(z<3){ %>
                              <div class="card <%= trainer.username %> Zumba">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Zumba"><%= trainer.username %></a></h5>
                                  
                                </div>
                              </div>
                            <% } else {%>
                              <div class="card more <%= trainer.username %> Zumba" hidden>
                                <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Zumba"><%= trainer.username %></a></h5>
                                </div>
                              </div>
                            <% }
                              z++  %>
                            </div>
                           
                        <% }
                      }
                    }) %>
                  </div>
                  <% if(z>=3){ %>
                    <div class="btn-holder">
                      <button class="btn btn-primary viewMore">View more</button>
                      <button class="btn btn-warning viewLess" hidden>View less</button>
                    </div>
                  <% } %>
            </section>

            <section style="background: #7F986F;">
              <div class="container pt-5 mx-auto">
                <div class="row">
                  <div class="col-lg-6 my-auto">
                    <h1 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 55px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase;">DANCE</h1>
                    <p style="margin-top: 31px; font-size: 18px;line-height: 27px;font-weight: 300;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque aliquid maxime rerum, consectetur inventore ipsa exercitationem aperiam tempora velit labore incidunt porro vel magni enim, laboriosam libero explicabo neque repudiandae.</p>
                  </div>
                  <div class="col-lg-6">
                    <img class="img-fluid" src="https://images.unsplash.com/photo-1508700929628-666bc8bd84ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
                  </div>
                </div>
                <div class="row" style="margin-top: 100px;">
                  <div class="col-lg-4 text-center">
                    <button value="Basic Dance"></a><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase; border-right: 5px solid black;">basic</h5></button>
                  </div>
                  <div class="col-lg-4 text-center">
                    <button value="Standard Dance"><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase; border-right: 5px solid black;">standard</h5></button>
                  </div>
                  <div class="col-lg-4 text-center">
                    <button value="Premium Dance"><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase;">premium</h5></button>
                  </div>
                </div>
                <!-- <div id="carousel4" class="carouselBox">
                  <div class="control-container">
                  <div id="left-scroll-button" class="left-scroll button scroll">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  </div>
                  <div id="right-scroll-button" class="right-scroll button scroll">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </div>
                  </div>
                  <div class="items" id="carousel-items4"> -->
                    <br><br>
                    <div class="card-deck">
                    <% trainers.forEach(function(trainer,i) { %>
                      <% if( trainer.subCategories.includes('Dance')) { 
                        if(trainer.pricePlan && (trainer.pricePlan == "Basic")){ %>
                            <% z = 0 %>
                            <div class="Basic Dance">
                            <% if(z<3){ %>
                              <div class="card <%= trainer.username %> Dance">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Dance"><%= trainer.username %></a></h5>
                                  
                                </div>
                              </div>
                            <% } else {%>
                              <div class="card more <%= trainer.username %> Dance" hidden>
                                <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Dance"><%= trainer.username %></a></h5>
                                </div>
                              </div>
                            <% }
                              z++  %>
                            </div>
                           
                        <% }else if (trainer.pricePlan && (trainer.pricePlan == "Standard")){ %>
                            <% z = 0 %>
                            <div class="Standard Dance" hidden>
                            <% if(z<3){ %>
                              <div class="card <%= trainer.username %> Dance">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Dance"><%= trainer.username %></a></h5>
                                  
                                </div>
                              </div>
                            <% } else {%>
                              <div class="card more <%= trainer.username %> Dance" hidden>
                                <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Dance"><%= trainer.username %></a></h5>
                                </div>
                              </div>
                            <% }
                              z++  %>
                            </div>
                            
                        <% }else if(trainer.pricePlan && (trainer.pricePlan == "Premium")){ %>
                            <% z = 0 %>
                            <div class="Premium Dance" hidden>
                            <% if(z<3){ %>
                              <div class="card <%= trainer.username %> Dance">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Dance"><%= trainer.username %></a></h5>
                                  
                                </div>
                              </div>
                            <% } else {%>
                              <div class="card more <%= trainer.username %> Dance" hidden>
                                <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Dance"><%= trainer.username %></a></h5>
                                </div>
                              </div>
                            <% }
                              z++  %>
                            </div>
                            
                       <% }
                      }
                    }) %>
                  </div>
                  <% if(z>=3){ %>
                    <div class="btn-holder">
                      <button class="btn btn-primary viewMore">View more</button>
                      <button class="btn btn-warning viewLess" hidden>View less</button>
                    </div>
                  <% } %>
            </section>

            <section>
              <div class="container pt-5 mx-auto">
                <div class="row">
                  <div class="col-lg-6 my-auto">
                    <h1 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 55px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase;">MMA & BOXING</h1>
                    <p style="margin-top: 31px; font-size: 18px;line-height: 27px;font-weight: 300;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque aliquid maxime rerum, consectetur inventore ipsa exercitationem aperiam tempora velit labore incidunt porro vel magni enim, laboriosam libero explicabo neque repudiandae.</p>
                  </div>
                  <div class="col-lg-6">
                    <img class="img-fluid" src="https://images.unsplash.com/photo-1555661530-68c8e98db4e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
                  </div>
                </div>
                <div class="row" style="margin-top: 100px;">
                  <div class="col-lg-4 text-center">
                    <button value="Basic MMA&Boxing"></a><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase; border-right: 5px solid black;">basic</h5></button>
                  </div>
                  <div class="col-lg-4 text-center">
                    <button value="Standard MMA&Boxing"><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase; border-right: 5px solid black;">standard</h5></button>
                  </div>
                  <div class="col-lg-4 text-center">
                    <button value="Premium MMA&Boxing"><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase;">premium</h5></button>
                  </div>
                </div>
                <!-- <div id="carousel5" class="carouselBox">
                  <div class="control-container">
                  <div id="left-scroll-button" class="left-scroll button scroll">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  </div>
                  <div id="right-scroll-button" class="right-scroll button scroll">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </div>
                  </div>
                  <div class="items" id="carousel-items5"> -->
                    <br><br>
                    <div class="card-deck">
                    <% trainers.forEach(function(trainer,i) { %>
                      <% if( trainer.subCategories.includes('MMA & Boxing')) { 
                        if(trainer.pricePlan && (trainer.pricePlan == "Basic")){ %>
                            <% z = 0 %>
                            <div class="Basic MMA-Boxing">
                            <% if(z<3){ %>
                              <div class="card <%= trainer.username %> MMA-Boxing">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/MMA&Boxing"><%= trainer.username %></a></h5>
                                  
                                </div>
                              </div>
                            <% } else {%>
                              <div class="card more <%= trainer.username %> MMA-Boxing" hidden>
                                <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/MMA&Boxing"><%= trainer.username %></a></h5>
                                </div>
                              </div>
                            <% }
                              z++  %>
                            </div>
                            
                        <% }else if (trainer.pricePlan && (trainer.pricePlan == "Standard")){ %>
                            <% z = 0 %>
                            <div class="Standard MMA-Boxing" hidden>
                            <% if(z<3){ %>
                              <div class="card <%= trainer.username %> MMA-Boxing">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/MMA&Boxing"><%= trainer.username %></a></h5>
                                  
                                </div>
                              </div>
                            <% } else {%>
                              <div class="card more <%= trainer.username %> MMA-Boxing" hidden>
                                <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/MMA&Boxing"><%= trainer.username %></a></h5>
                                </div>
                              </div>
                            <% }
                              z++  %>
                            </div>
                            
                        <% }else if(trainer.pricePlan && (trainer.pricePlan == "Premium")){ %>
                            <% z = 0 %>
                            <div class="Premium MMA-Boxing" hidden>
                            <% if(z<3){ %>
                              <div class="card <%= trainer.username %> MMA-Boxing">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/MMA&Boxing"><%= trainer.username %></a></h5>
                                  
                                </div>
                              </div>
                            <% } else {%>
                              <div class="card more <%= trainer.username %> MMA-Boxing" hidden>
                                <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/MMA&Boxing"><%= trainer.username %></a></h5>
                                </div>
                              </div>
                            <% }
                              z++  %>
                            </div>
                           
                        <% }
                      }
                    }) %>
                  </div>
                  <% if(z>=3){ %>
                    <div class="btn-holder">
                      <button class="btn btn-primary viewMore">View more</button>
                      <button class="btn btn-warning viewLess" hidden>View less</button>
                    </div>
                  <% } %>
            </section>
            
            <% } if(parent == 'Wellness') { %>
              <div class="container">

                <div id="carouselExampleControls" class="carousel slide mt-5 mb-5" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100 img-fluid" src="https://images.unsplash.com/photo-1532630571098-79a3d222b00d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2276&q=80" alt="First slide">
                    </div>
                    <div class="carousel-item" style="max-height: 400px;">
                      <img class="d-block w-100 img-fluid" src="https://images.unsplash.com/photo-1508769941802-a6ca19d19e08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80" alt="Second slide">
                    </div>
                    <div class="carousel-item" style="max-height: 400px;">
                      <img class="d-block w-100 img-fluid" src="https://images.unsplash.com/photo-1598908315465-05e45955b8ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Third slide">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <section style="background: #9ad3bc;">
                  <div class="container pt-5 mx-auto">
                    <div class="row">
                      <div class="col-lg-6 my-auto">
                        <h1 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 55px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase;">YOGA</h1>
                        <p style="margin-top: 31px; font-size: 18px;line-height: 27px;font-weight: 300;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque aliquid maxime rerum, consectetur inventore ipsa exercitationem aperiam tempora velit labore incidunt porro vel magni enim, laboriosam libero explicabo neque repudiandae.</p>
                    </div>
                    <div class="col-lg-6">
                      <img class="img-fluid" src="https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
                    </div>
                  </div>
                  <div class="row" style="margin-top: 100px;">
                    <div class="col-lg-4 text-center">
                      <button value="Basic Yoga"></a><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase; border-right: 5px solid black;">basic</h5></button>
                    </div>
                    <div class="col-lg-4 text-center">
                      <button value="Standard Yoga"><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase; border-right: 5px solid black;">standard</h5></button>
                    </div>
                    <div class="col-lg-4 text-center">
                      <button value="Premium Yoga"><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase;">premium</h5></button>
                    </div>
                  </div>
                  <!-- <div id="carousel5" class="carouselBox">
                    <div class="control-container">
                    <div id="left-scroll-button" class="left-scroll button scroll">
                      <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div id="right-scroll-button" class="right-scroll button scroll">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                    </div>
                    <div class="items" id="carousel-items5"> -->
                      <br><br>
                      <div class="card-deck">
                      <% trainers.forEach(function(trainer,i) { %>
                        <% if( trainer.subCategories.includes('Yoga')) { 
                          if(trainer.pricePlan && (trainer.pricePlan == "Basic")){ %>
                              <% z = 0 %>
                              <div class="Basic Yoga">
                              <% if(z<3){ %>
                                <div class="card <%= trainer.username %> Yoga">
                                  <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                  <div class="card-body text-center">
                                    <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Yoga"><%= trainer.username %></a></h5>
                                    
                                  </div>
                                </div>
                              <% } else {%>
                                <div class="card more <%= trainer.username %> Yoga" hidden>
                                  <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                  <div class="card-body text-center">
                                    <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Yoga"><%= trainer.username %></a></h5>
                                  </div>
                                </div>
                              <% }
                                z++  %>
                              </div>
                              
                          <% }else if (trainer.pricePlan && (trainer.pricePlan == "Standard")){ %>
                              <% z = 0 %>
                              <div class="Standard Yoga" hidden>
                              <% if(z<3){ %>
                                <div class="card <%= trainer.username %> Yoga">
                                  <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                  <div class="card-body text-center">
                                    <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Yoga"><%= trainer.username %></a></h5>
                                    
                                  </div>
                                </div>
                              <% } else {%>
                                <div class="card more <%= trainer.username %> Yoga" hidden>
                                  <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                  <div class="card-body text-center">
                                    <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Yoga"><%= trainer.username %></a></h5>
                                  </div>
                                </div>
                              <% }
                                z++  %>
                              </div>
                            
                          <% }else if(trainer.pricePlan && (trainer.pricePlan == "Premium")){ %>
                              <% z = 0 %>
                              <div class="Premium Yoga" hidden>
                              <% if(z<3){ %>
                                <div class="card <%= trainer.username %> Yoga">
                                  <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                  <div class="card-body text-center">
                                    <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Yoga"><%= trainer.username %></a></h5>
                                    
                                  </div>
                                </div>
                              <% } else {%>
                                <div class="card more <%= trainer.username %> Yoga" hidden>
                                  <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                  <div class="card-body text-center">
                                    <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Yoga"><%= trainer.username %></a></h5>
                                  </div>
                                </div>
                              <% }
                                z++  %>
                              </div>
                              
                          <% }
                        }
                      }) %>
                    </div>
                    <% if(z>=3){ %>
                      <div class="btn-holder">
                        <button class="btn btn-primary viewMore">View more</button>
                        <button class="btn btn-warning viewLess" hidden>View less</button>
                      </div>
                    <% } %>
                </section>

                <section>
                  <div class="container pt-5 mx-auto">
                    <div class="row">
                      <div class="col-lg-6 my-auto">
                        <h1 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 55px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase;">MEDITATION</h1>
                        <p style="margin-top: 31px; font-size: 18px;line-height: 27px;font-weight: 300;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque aliquid maxime rerum, consectetur inventore ipsa exercitationem aperiam tempora velit labore incidunt porro vel magni enim, laboriosam libero explicabo neque repudiandae.</p>
                      </div>
                      <div class="col-lg-6">
                        <img class="img-fluid" src="https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1993&q=80" alt="">
                      </div>
                    </div>
                    <div class="row" style="margin-top: 100px;">
                      <div class="col-lg-4 text-center">
                        <button value="Basic Meditation"></a><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase; border-right: 5px solid black;">basic</h5></button>
                      </div>
                      <div class="col-lg-4 text-center">
                        <button value="Standard Meditation"><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase; border-right: 5px solid black;">standard</h5></button>
                      </div>
                      <div class="col-lg-4 text-center">
                        <button value="Premium Meditation"><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase;">premium</h5></button>
                      </div>
                    </div>
                    <br><br>
                    <div class="card-deck">
                    <% trainers.forEach(function(trainer,i) { %>
                      <% if( trainer.subCategories.includes('Meditation')) { 
                        if(trainer.pricePlan && (trainer.pricePlan == "Basic")){ %>
                            <% z = 0 %>
                            <div class="Basic Meditation">
                            <% if(z<3){ %>
                              <div class="card <%= trainer.username %> Meditation">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Meditation"><%= trainer.username %></a></h5>
                                  
                                </div>
                              </div>
                            <% } else {%>
                              <div class="card more <%= trainer.username %> Meditation" hidden>
                                <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Meditation"><%= trainer.username %></a></h5>
                                </div>
                              </div>
                            <% }
                              z++  %>
                            </div>
                            
                        <% }else if (trainer.pricePlan && (trainer.pricePlan == "Standard")){ %>
                            <% z = 0 %>
                            <div class="Standard Meditation" hidden>
                            <% if(z<3){ %>
                              <div class="card <%= trainer.username %> Meditation">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Meditation"><%= trainer.username %></a></h5>
                                  
                                </div>
                              </div>
                            <% } else {%>
                              <div class="card more <%= trainer.username %> Meditation" hidden>
                                <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Meditation"><%= trainer.username %></a></h5>
                                </div>
                              </div>
                            <% }
                              z++  %>
                            </div>
                            
                        <% }else if(trainer.pricePlan && (trainer.pricePlan == "Premium")){ %>
                            <% z = 0 %>
                            <div class="Premium Meditation" hidden>
                            <% if(z<3){ %>
                              <div class="card <%= trainer.username %> Meditation">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Meditation"><%= trainer.username %></a></h5>
                                  
                                </div>
                              </div>
                            <% } else {%>
                              <div class="card more <%= trainer.username %> Meditation" hidden>
                                <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Meditation"><%= trainer.username %></a></h5>
                                </div>
                              </div>
                            <% }
                              z++  %>
                            </div>
                            <%}
                      }
                    }) %>
                  </div>
                  <% if(z>=3){ %>
                    <div class="btn-holder">
                      <button class="btn btn-primary viewMore">View more</button>
                      <button class="btn btn-warning viewLess" hidden>View less</button>
                    </div>
                  <% } %>
                </section>
            <% } if(parent == 'Counselling') { %>
              <section>
                <div class="container pt-5 mx-auto">
                  <div class="row">
                    <div class="col-lg-6 my-auto">
                      <h1 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 55px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase;">NUTRITION</h1>
                      <p style="margin-top: 31px; font-size: 18px;line-height: 27px;font-weight: 300;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque aliquid maxime rerum, consectetur inventore ipsa exercitationem aperiam tempora velit labore incidunt porro vel magni enim, laboriosam libero explicabo neque repudiandae.</p>
                    </div>
                    <div class="col-lg-6">
                      <img class="img-fluid" src="https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1935&q=80" alt="">
                    </div>
                  </div>
                  <div class="row" style="margin-top: 100px;">
                    <div class="col-lg-4 text-center">
                      <button value="Basic Nutrition"></a><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase; border-right: 5px solid black;">basic</h5></button>
                    </div>
                    <div class="col-lg-4 text-center">
                      <button value="Standard Nutrition"><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase; border-right: 5px solid black;">standard</h5></button>
                    </div>
                    <div class="col-lg-4 text-center">
                      <button value="Premium Nutrition"><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase;">premium</h5></button>
                    </div>
                  </div>
                  <br>
                  <div class="card-deck"><br>
              <% trainers.forEach(function(trainer,i) { %>
                <% if( trainer.subCategories.includes('Nutrition')) { 
                  if(trainer.pricePlan && (trainer.pricePlan == "Basic")){ %>
                      <% z = 0 %>
                      <div class="Basic Nutrition">
                      <% if(z<3){ %>
                        <div class="card <%= trainer.username %> Nutrition">
                          <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                          <div class="card-body text-center">
                            <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Nutrition"><%= trainer.username %></a></h5>
                            
                          </div>
                        </div>
                      <% } else {%>
                        <div class="card more <%= trainer.username %> Nutrition" hidden>
                          <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                          <div class="card-body text-center">
                            <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Nutrition"><%= trainer.username %></a></h5>
                          </div>
                        </div>
                      <% }
                        z++  %>
                      </div>
                     
                  <% }else if (trainer.pricePlan && (trainer.pricePlan == "Standard")){ %>
                      <% z = 0 %>
                      <div class="Standard Nutrition" hidden>
                      <% if(z<3){ %>
                        <div class="card <%= trainer.username %> Nutrition">
                          <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                          <div class="card-body text-center">
                            <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Nutrition"><%= trainer.username %></a></h5>
                            
                          </div>
                        </div>
                      <% } else {%>
                        <div class="card more <%= trainer.username %> Nutrition" hidden>
                          <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                          <div class="card-body text-center">
                            <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Nutrition"><%= trainer.username %></a></h5>
                          </div>
                        </div>
                      <% }
                        z++  %>
                      </div>
                    
                  <% }else if(trainer.pricePlan && (trainer.pricePlan == "Premium")){  %>
                      <% z = 0 %>
                      <div class="Premium Nutrition" hidden>
                      <% if(z<3){ %>
                        <div class="card <%= trainer.username %> Nutrition">
                          <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                          <div class="card-body text-center">
                            <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Nutrition"><%= trainer.username %></a></h5>
                            
                          </div>
                        </div>
                      <% } else {%>
                        <div class="card more <%= trainer.username %> Nutrition" hidden>
                          <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                          <div class="card-body text-center">
                            <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Nutrition"><%= trainer.username %></a></h5>
                          </div>
                        </div>
                      <% }
                        z++  %>
                      </div>
                      <% }
                }
              }) %>
            </div>
            <% if(z>=3){ %>
              <div class="btn-holder">
                <button class="btn btn-primary viewMore">View more</button>
                <button class="btn btn-warning viewLess" hidden>View less</button>
              </div>
            <% } %>
                </section>

                <section style="background: #F6EDD9;">
                  <div class="container pt-5 mx-auto">
                    <div class="row">
                      <div class="col-lg-6 my-auto">
                        <h1 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 55px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase;">THERAPY & COUNSELLING</h1>
                        <p style="margin-top: 31px; font-size: 18px;line-height: 27px;font-weight: 300;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque aliquid maxime rerum, consectetur inventore ipsa exercitationem aperiam tempora velit labore incidunt porro vel magni enim, laboriosam libero explicabo neque repudiandae.</p>
                      </div>
                      <div class="col-lg-6">
                        <img class="img-fluid" src="https://images.unsplash.com/photo-1569437061241-a848be43cc82?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
                      </div>
                    </div>
                    <div class="row" style="margin-top: 100px;">
                      <div class="col-lg-4 text-center">
                        <button value="Basic Therapy&counselling"></a><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase; border-right: 5px solid black;">basic</h5></button>
                      </div>
                      <div class="col-lg-4 text-center">
                        <button value="Standard Therapy&counselling"><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase; border-right: 5px solid black;">standard</h5></button>
                      </div>
                      <div class="col-lg-4 text-center">
                        <button value="Premium Therapy&counselling"><h5 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: .9em; letter-spacing: .02em; text-transform: uppercase;">premium</h5></button>
                      </div>
                    </div>
                    <br><br>
                    <div class="card-deck">
                    <% trainers.forEach(function(trainer,i) { %>
                      <% if( trainer.subCategories.includes('Therapy & counselling')) { 
                        if(trainer.pricePlan && (trainer.pricePlan == "Basic")){ %>
                            <% z = 0 %>
                            <div class="Basic Therapy-counselling">
                            <% if(z<3){ %>
                              <div class="card <%= trainer.username %> Therapy-counselling">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Therapy&counselling"><%= trainer.username %></a></h5>
                                  
                                </div>
                              </div>
                            <% } else {%>
                              <div class="card more <%= trainer.username %> Therapy-counselling" hidden>
                                <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Therapy&counselling"><%= trainer.username %></a></h5>
                                </div>
                              </div>
                            <% }
                              z++  %>
                            </div>
                           
                        <% }else if (trainer.pricePlan && (trainer.pricePlan == "Standard")){ %>
                            <% z = 0 %>
                            <div class="Standard Therapy-counselling" hidden>
                            <% if(z<3){ %>
                              <div class="card <%= trainer.username %> Therapy-counselling">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Therapy&counselling"><%= trainer.username %></a></h5>
                                  
                                </div>
                              </div>
                            <% } else {%>
                              <div class="card more <%= trainer.username %> Therapy-counselling" hidden>
                                <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Therapy&counselling"><%= trainer.username %></a></h5>
                                </div>
                              </div>
                            <% }
                              z++  %>
                            </div>
                          
                        <% }else if(trainer.pricePlan && (trainer.pricePlan == "Premium")){ %>
                            <% z = 0 %>
                            <div class="Premium Therapy-counselling" hidden>
                            <% if(z<3){ %>
                              <div class="card <%= trainer.username %> Therapy-counselling">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Therapy&counselling"><%= trainer.username %></a></h5>
                                  
                                </div>
                              </div>
                            <% } else {%>
                              <div class="card more <%= trainer.username %> Therapy-counselling" hidden>
                                <img class="card-img-top" width="250px" src="https://images.unsplash.com/photo-1583454103137-57bd578f0afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title"><a href="/trainer/profile/<%= trainer._id %>/Therapy&counselling"><%= trainer.username %></a></h5>
                                </div>
                              </div>
                            <% }
                              z++  %>
                            </div>
                            <%}
                      }
                    }) %>
                  </div>
                  <% if(z>=3){ %>
                    <div class="btn-holder">
                      <button class="btn btn-primary viewMore">View more</button>
                      <button class="btn btn-warning viewLess" hidden>View less</button>
                    </div>
                  <% } %>
                </section>
              
            <% } %>
            <footer id="footer">

              <div class="footer-top">
                <div class="container">
                  <div class="row">
          
                    <div class="col-lg-4 col-md-6 footer-contact">
                      <h3>ShapeYou</h3>
                      <p>
                        A108 Gzb <br>
                        Ghaziabad, 201001<br>
                        India <br><br>
                        <strong>Phone:</strong> +91 95824567813<br>
                        <strong>Email:</strong> info@example.com<br>
                      </p>
                    </div>
          
                    <div class="col-lg-4 col-md-6 footer-links">
                      <h4>Useful Links</h4>
                      <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Fitness</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Wellness</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Counselling</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Gym</a></li>
                      </ul>
                    </div>
          
                    <div class="col-lg-4 col-md-6 footer-newsletter">
                      <h4>Join Our Newsletter</h4>
                      <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                      <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                      </form>
                    </div>
          
                  </div>
                </div>
              </div>
          
              <div class="container">
          
                <div class="copyright-wrap d-md-flex py-4">
                  <div class="mr-md-auto text-center text-md-left">
                    <div class="copyright">
                      &copy; Copyright <strong><span>ShapeYou</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                      Designed by <a href="https://theredatom.com/">RedAtom</a>
                    </div>
                  </div>
                  <div class="social-links text-center text-md-right pt-3 pt-md-0">
                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="fab fa-skype"></i></a>
                    <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
          
              </div>
            </footer><!-- End Footer -->

            
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <!-- <script src="/scripts/carousel.js"></script> -->
            <script>
            //  $(document).on('click','.viewMore',()=>{
            //   $(this).prev('.more').css('display','block');
            //   console.log($(this));
            //  });
            const viewMore = document.querySelectorAll('.viewMore');

            for (let i = 0; i < viewMore.length; i++) {
                viewMore[i].addEventListener("click", function() {
                  $(this).parent().prev().find('.more').css('display','block');
                  $(this).parent().prev().find('.more').removeAttr('hidden');
                  $(this).parent().prev().css('overflow-y','scroll');
                  $(this).parent().prev().css('max-height','500px');
                  $(this).attr('hidden','');
                  $(this).next().removeAttr('hidden');
                });

            }
            const viewLess = document.querySelectorAll('.viewLess');

            for (let i = 0; i < viewLess.length; i++) {
                viewLess[i].addEventListener("click", function() {
                  $(this).parent().prev().find('.more').css('display','none');
                  $(this).parent().prev().find('.more').attr('hidden','');
                  $(this).parent().prev().css('overflow-y','unset');
                  $(this).parent().prev().css('max-height','unset');
                  $(this).attr('hidden','');
                  $(this).prev().removeAttr('hidden');
                });
            }
          
            </script>
            <script>

              var trainers = <%- JSON.stringify(trainers) %>
              trainers.forEach((trainer)=>{
                console.log(trainer.username)
                console.log(trainer.pricePlan)
                console.log(trainer.subCategories)
              })

              $('button').click(function() {
                var value = $(this).val();
                var pricePlan = value.substr(0,value.indexOf(' '));
                var subCategory = value.substr(value.indexOf(' ')+1);
                subCategory = subCategory.replace('&','-');

                var className = pricePlan + ' ' + subCategory;
                var className2 = "";
                var className3 = "";
                if(pricePlan == 'Basic'){
                  className2 = "Standard"+ ' ' + subCategory;
                  className3 = "Premium"+ ' ' + subCategory;
                }
                else if(pricePlan == 'Standard'){
                  className2 = "Basic"+ ' ' + subCategory;
                  className3 = "Premium"+ ' ' + subCategory;
                }
                else if(pricePlan == "Premium"){
                  className2 = "Standard"+ ' ' + subCategory;
                  className3 = "Basic"+ ' ' + subCategory;
                }
                $('div.' + className.replace(' ', '.')).removeAttr('hidden');
                $('div.' + className2.replace(' ', '.')).attr('hidden','');
                $('div.' + className3.replace(' ', '.')).attr('hidden','');
               
              });
            </script>
</body>
</html>