<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShapeYou - Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/trainerDashboard.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.lite.min.css" integrity="sha512-rtKpq+tUiLpzSJ9MWw/nbRZjsGzTqFoh+cyzF8IVSAEO5TeQLCXCfELo/a1dLy/4Zc9SWyZ6YAPvrD+E4n4fZQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="stylesheets/lightslider.css"/>
<style>
  .navbar-nav > li > .dropdown-menu { background-color: rgb(7, 7, 8); }
  
</style>
<script type="text/javascript" src="scripts/JQuery3.3.1.js"></script>
<script type="text/javascript" src="scripts/lightslider.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgb(0, 0, 0);">
        <a class="navbar-brand" href="#">ShapeYou</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown ml-3">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/user/category/Fitness%20trainer" style="color: white;">Fitness Trainer</a>
                <a class="dropdown-item" href="/user/category/Wellness" style="color: white;">Welness</a>
                <a class="dropdown-item" href="/user/category/Counselling" style="color: white;">Counselling</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <% if(!currentUser){ %>
              
                
                <form action="/user" method="GET" class="form-inline">
                  <div class="form-group">
                  <input type="text" name="search" placeholder="Search.." class="form-control mr-1" style="border-radius: 25px;"> <button class="btn" type="submit" style="padding: 0;"><i class="fas fa-search mr-3"></i></button>
                  <!-- <input type="submit" value="Search" class="btn btn-success"> -->
                </div>
                </form>
                <li><a class="nav-link mr-3" href="/auth/login" style="color: white;">Login</a></li>
                <li><a class="nav-link mr-3" href="/auth" style="color: white">Sign Up</a></li>
            <% } else{ %>
              <form action="/user" method="GET" class="form-inline">
                <div class="form-group">
                <input type="text" name="search" placeholder="Search.." class="form-control mr-1" style="border-radius: 25px;"> <button class="btn" type="submit" style="padding: 0;"><i class="fas fa-search mr-3"></i></button>
                <!-- <input type="submit" value="Search" class="btn btn-success"> -->
              </div>
              </form>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: black;">
                  <a class="dropdown-item" href="/user/userDashboard/<%= currentUser._id %>" style="color: white;">Go to dashboard</a>
                  <a class="dropdown-item" href="#" style="color: white;">Signed In as <%= currentUser.username %></a>
                  <a class="dropdown-item" href="/auth/logout" style="color: white;">Sign Out</a>
                </div>
              </li>
            <% } %>
          </ul>
        </div>
      </nav>

      <section class="content-section" id="index">
        <!-- <div class="container"> -->
          <div class="row no-gutters">
            <div class="col-lg-6">
              <a class="portfolio-item" href="/user/category/Fitness%20trainer">
                <div class="caption">
                  <div class="caption-content">
                    <div class="h2" style="color: white">Fitness trainers</div>
                    <p class="mb-0">Lorem ipsum dolor sit </p>
                  </div>
                </div>
                <img class="img-fluid" src="https://images.unsplash.com/photo-1574680096145-d05b474e2155?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
              </a>
            </div>
            <div class="col-lg-6">
              <a class="portfolio-item" href="/user/category/Wellness">
                <div class="caption">
                  <div class="caption-content">
                    <div class="h2" style="color: white">Wellness</div>
                    <p class="mb-0">aliquam aspernatur iusto nulla soluta dolor ullam excepturi possimus, repudiandae obcaecati perspiciatis voluptas?</p>
                  </div>
                </div>
                <img class="img-fluid" src="https://images.unsplash.com/photo-1505455184862-554165e5f6ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
              </a>
            </div>
            <div class="col-lg-6">
              <a class="portfolio-item" href="/user/category/Counselling">
                <div class="caption">
                  <div class="caption-content">
                    <div class="h2" style="color: white;">Counselling</div>
                    <p class="mb-0">amet consectetur adipisicing elit. Totam deleniti doloribus debitis tempora unde qui a, inventore</p>
                  </div>
                </div>
                <img class="img-fluid" src="https://images.unsplash.com/photo-1569437061241-a848be43cc82?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
              </a>
            </div>
            <div class="col-lg-6">
              <a class="portfolio-item" href="#!">
                <div class="caption">
                  <div class="caption-content">
                    <div class="h2" style="color: white;">Gym</div>
                    <p class="mb-0">amet consectetur adipisicing elit. Totam deleniti doloribus debitis tempora unde qui a, inventore</p>
                  </div>
                </div>
                <img class="img-fluid" src="https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
              </a>
            </div>
          </div>
        <!-- </div> -->
      </section>

  <!-- ======= Intro Section ======= -->
  <!-- <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url(https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">We are professional</h2>
                <p class="animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(https://images.unsplash.com/photo-1552196563-55cd4e45efb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1526&q=80)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">At vero eos et accusamus</h2>
                <p class="animate__animated animate__fadeInUp">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut.</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(https://images.unsplash.com/photo-1518611012118-696072aa579a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Temporibus autem quibusdam</h2>
                <p class="animate__animated animate__fadeInUp">Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt omnis iste natus error sit voluptatem accusantium.</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(https://images.unsplash.com/photo-1544216717-3bbf52512659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Nam libero tempore</h2>
                <p class="animate__animated animate__fadeInUp">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum.</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div> -->
  <!-- </section>End Intro Section -->

  <section style="margin-top: 130px; padding-bottom: 70px;">
    <h1 class="text-center" style="font-size: 50px; font-family: 'Comfortaa', cursive;"><span style="color: black;">Define your goals</span></h1>
    <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="card" style="margin-top: 3rem;">
              <div class="card-body">
                This is some text within a card body.
              </div>
            </div>
          </div>
          <div class="col-lg-12 text-center">
            <div class="card" style="margin-top: 3rem;">
              <div class="card-body">
                This is some text within a card body.
              </div>
            </div>
          </div>
          <div class="col-lg-12 text-center">
            <div class="card" style="margin-top: 3rem;">
              <div class="card-body">
                This is some text within a card body.
              </div>
            </div>
          </div>
          <div class="col-lg-12 text-center">
            <div class="card" style="margin-top: 3rem;"> 
              <div class="card-body">
                This is some text within a card body.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4"><img src="./images/undraw_yoga_248n.svg" alt="" class="img-fluid mx-auto"></div>
      <div class="col-lg-4">
        <div class="row">
        <div class="col-lg-12 text-center">
          <div class="card" style="margin-top: 3rem;">
  <div class="card-body">
    This is some text within a card body.
  </div>
</div>
        </div>
        <div class="col-lg-12 text-center">
          <div class="card" style="margin-top: 3rem;">
  <div class="card-body">
    This is some text within a card body.
  </div>
</div>
        </div>
        <div class="col-lg-12 text-center">
          <div class="card" style="margin-top: 3rem;">
  <div class="card-body">
    This is some text within a card body.
  </div>
</div>
        </div>
        <div class="col-lg-12 text-center">
          <div class="card" style="margin-top: 3rem;">
  <div class="card-body">
    This is some text within a card body.
  </div>
</div>
        </div>
      </div>
    </div>
    </div>
  </div>
    
    
  </section>

<section style="background-color: rgb(134, 196, 203); height: 150px; width: 100%; opacity: 1;"> 
  <h1 class="text-center pl-3" style="color: white; font-size: 40px; padding-top: 50px; font-family: 'Poiret One', cursive;">Choose Your Sessions and Start Your Training</h1>
</section>

    <h1 class="text-center" style="font-size: 50px; margin-top: 90px; font-family: 'Comfortaa', cursive; color: black;">Our classes</h1>

    <section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900" style="font-size: 40px;">Fitness trainer</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-base" style="font-size: 20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium repellat iste aliquam tenetur nam, totam autem. Beatae officia ex accusamus cum illum rem veritatis voluptate, veniam sequi quos ad nisi?</p>
    </div>

        <ul class="autoWidth" class="cs-hidden">
      <% categories.forEach(function(category) { %>
        <% if(category.parent == 'Fitness trainer') { %>
          
          
          <li class="item-a">
            <!--slider-box-->
            <div class="card">
              <!--model-->
              <div class="view overlay">
                <img class="card-img-top model" src="https://images.unsplash.com/photo-1534258936925-c58bed479fcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                  alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- <img src="" class="model"> -->
              <!--details-->
               <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title"><%= category.title %></h4>
      <!-- Text -->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <!-- Button -->
      <a href="/user/category/<%= category.parent %>" class="btn btn-primary">Read More</a>
  
    </div>
              
              </div>
            </li>
      <% } %>
      <% }); %>
    </ul>
  </div>
</section>
<section class="text-gray-700 body-font" >
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900" style="font-size: 40px;">Wellness</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-base" style="font-size: 20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium repellat iste aliquam tenetur nam, totam autem. Beatae officia ex accusamus cum illum rem veritatis voluptate, veniam sequi quos ad nisi?</p>
    </div>

    
    <ul class="autoWidth" class="cs-hidden">
      <% categories.forEach(function(category) { %>
        <% if(category.parent == 'Wellness') { %>

          <li class="item-a">
            <!--slider-box-->
            <div class="card">
            <!--model-->
            <div class="view overlay">
              <img class="card-img-top model" src="https://images.unsplash.com/photo-1534258936925-c58bed479fcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!-- <img src="" class="model"> -->
            <!--details-->
             <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title"><%= category.title %></h4>
    <!-- Text -->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
    <!-- Button -->
    <a href="/user/category/<%= category.parent %>" class="btn btn-primary">Read More</a>

  </div>
            
            </div>
            </li>

      <% } %>
      <% }); %>
    </ul>
  </div>
</section>

<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900" style="font-size: 40px;">Counselling</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-base" style="font-size: 20px;">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
    </div>

    
    <ul class="autoWidth" class="cs-hidden">
      <% categories.forEach(function(category) { %>
        <% if(category.parent == 'Counselling') { %>

          <li class="item-a">
            <!--slider-box-->
            <div class="card">
              <!--model-->
              <div class="view overlay">
                <img class="card-img-top model" src="https://images.unsplash.com/photo-1534258936925-c58bed479fcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                  alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- <img src="" class="model"> -->
              <!--details-->
               <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title"><%= category.title %></h4>
      <!-- Text -->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <!-- Button -->
      <a href="/user/category/<%= category.parent %>" class="btn btn-primary">Read More</a>
  
    </div>
              
              </div>
            </li>
      <% } %>
      <% }); %>


    </ul>
  </div>
</section>

<script src="scripts/script.js" type="text/javascript"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
