<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShapeYou - Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.lite.min.css" integrity="sha512-rtKpq+tUiLpzSJ9MWw/nbRZjsGzTqFoh+cyzF8IVSAEO5TeQLCXCfELo/a1dLy/4Zc9SWyZ6YAPvrD+E4n4fZQ==" crossorigin="anonymous" /> -->
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="stylesheets/lightslider.css"/> -->
<style>
  .navbar-nav > li > .dropdown-menu { background-color: #79B258 !important; }
  .dropdown-item:focus, .dropdown-item:hover {color: black !important;}
  .navbar-collapse { background-color: #79B258; }
</style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#79B258; height: 80px; font-size: 18px;">
        <a class="navbar-brand" href="/user"><img style="width: 3rem; height: auto;" src="/images/arnav.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item ml-3">
              <% if(currentUser && currentUser.type=="Admin") {%>
              <a class="nav-link" href="/admin/category/Fitness%20trainer">Fitness</a>
              <% }else{ %>
              <a class="nav-link" href="/user/category/Fitness%20trainer">Fitness</a>
              <% } %>
              <div class="underline"></div>
            </li>
            <li class="nav-item ml-3">
              <% if(currentUser && currentUser.type=="Admin") {%>
                <a class="nav-link" href="/admin/category/Wellness">Wellness</a>
                <% }else{ %>
                <a class="nav-link" href="/user/category/Wellness">Wellness</a>
                <% } %>
              <div class="underline"></div>
            </li>
            <li class="nav-item ml-3">
              <% if(currentUser && currentUser.type=="Admin") {%>
                <a class="nav-link" href="/admin/category/Counselling">Counselling</a>
                <% }else{ %>
                <a class="nav-link" href="/user/category/Counselling">Counselling</a>
                <% } %>
              <div class="underline"></div>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link" href="#">
                  Fitness center
                </a>
                <div class="underline"></div>
            </li>
            <li class="nav-item ml-3">
              <a class="nav-link" href="#">
                Relaxation Center
              </a>
              <div class="underline"></div>
          </li>
              
          </ul>
          <ul class="navbar-nav ml-auto">
            <% if(!currentUser){ %>
              
                
                <form action="/user" method="GET" class="form-inline">
                  <div class="form-group">
                  <input type="text" name="search" placeholder="Search.." class="form-control mr-1" style="border-radius: 25px;"> <button type="submit" style="padding: 0; background-color: #79B258; border: none"><i class="fas fa-search ml-1 mr-3" style="color: white"></i></button>
                  <!-- <input type="submit" value="Search" class="btn btn-success"> -->
                </div>
                </form>
                <li><a class="nav-link mr-3" href="/auth/login">Login</a></li>
                
            <% } else{ %>
              <form action="/user" method="GET" class="form-inline">
                <div class="form-group">
                  <input type="text" name="search" placeholder="Search.." class="form-control mr-1" style="border-radius: 25px;"> <button type="submit" style="padding: 0; background-color: #79B258; border: none"><i class="fas fa-search ml-1 mr-3" style="color: white"></i></button>
                <!-- <input type="submit" value="Search" class="btn btn-success"> -->
              </div>
              </form>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: black;">
                  <% if(currentUser.type=="Admin"){ %>
                  <a class="dropdown-item" href="/admin" style="color: white;">Go to dashboard</a>
                  <a class="dropdown-item" href="#" style="color: white;">Signed In as Admin</a>
                  <%}else{ %>
                    <a class="dropdown-item" href="/user/userDashboard/<%= currentUser._id %>" style="color: white;">Go to dashboard</a>
                    <a class="dropdown-item" href="#" style="color: white;">Signed In as <%= currentUser.username %></a>
                  <%}%>
                  <a class="dropdown-item" href="/auth/logout" style="color: white;">Sign Out</a>
                </div>
              </li>
            <% } %>
          </ul>
        </div>
      </nav>

      <section class="content-section" id="index" style="background-image: url('https://images.unsplash.com/photo-1561532325-7d5231a2dede?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80');" >
        <!-- <div class="container"> -->
          <div class="card-columns no-gutters">
            <div class="">
              <% if(currentUser && currentUser.type=="Admin"){ %>
                <a class="portfolio-item" href="/admin/category/Fitness%20trainer">
              <%}else{ %>
                <a class="portfolio-item" href="/user/category/Fitness%20trainer">
              <%}%>
                <div class="caption">
                  <div class="caption-content">
                    <div class="h2" style="color: white;">Fitness trainers</div>
                    <!-- <p class="mb-0">Lorem ipsum dolor sit </p> -->
                  </div>
                </div>
                <img class="img-fluid" src="https://images.unsplash.com/photo-1575052814074-c05122e0a17a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
              </a>
            </div>
            <div class="">
              <% if(currentUser && currentUser.type=="Admin"){ %>
                <a class="portfolio-item" href="/admin/category/Wellness">
              <%}else{ %>
                <a class="portfolio-item" href="/user/category/Wellness">
              <%}%>
                <div class="caption">
                  <div class="caption-content">
                    <div class="h2" style="color: white">Wellness</div>
                    <!-- <p class="mb-0">aliquam aspernatur iusto nulla soluta dolor ullam excepturi possimus, repudiandae obcaecati perspiciatis voluptas?</p> -->
                  </div>
                </div>
                <img class="img-fluid" src="https://images.unsplash.com/photo-1524901548305-08eeddc35080?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="">
              </a>
            </div>
            <div class="" >
              <% if(currentUser && currentUser.type=="Admin"){ %>
                <a class="portfolio-item" href="/admin/category/Counselling">
              <%}else{ %>
                <a class="portfolio-item" href="/user/category/Counselling">
              <%}%>
                <div class="caption">
                  <div class="caption-content">
                    <div class="h2 text-left" style="color: white;">Counselling</div>
                    <!-- <p class="mb-0">amet consectetur adipisicing elit. Totam deleniti doloribus debitis tempora unde qui a, inventore</p> -->
                  </div>
                </div>
                <img class="img-fluid" src="https://images.unsplash.com/photo-1588873281272-14886ba1f737?ixlib=rb-1.2.1&auto=format&fit=crop&w=1525&q=80" alt="">
              </a>
            </div>
            <div class=""> 
              <a class="portfolio-item" href="#!">
                <div class="caption">
                  <div class="caption-content">
                    <div class="h2" style="color: white;">Fitness Center</div>
                    <!-- <p class="mb-0">amet consectetur adipisicing elit. Totam deleniti doloribus debitis tempora unde qui a, inventore</p> -->
                  </div>
                </div>
                <img class="img-fluid" src="https://images.unsplash.com/photo-1558611848-73f7eb4001a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80" alt="">
              </a>
            </div>
            <div class="" style="background: red; min-height: 100vh;">
              <a class="portfolio-item" href="#!" style="min-height: 100vh;">
                <div class="caption" style="min-height: 100%;">
                  <div class="caption-content">
                    <div class="h2 text-left pr-3" style="color: white;">Relaxation center</div>
                  </div>
                </div>
                <div class="text-center">
                  <!-- <img style="min-width: 70vw;" class="img-fluid" src="https://images.unsplash.com/photo-1488345979593-09db0f85545f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt=""> -->
                </div>
              </a>
            </div>
          </div>
        <!-- </div> -->
      </section>
<!-- <div class="container"> -->
  <section style=" height: 150px; width: 100%; opacity: 1; background: #6ab04c;"> 
    <h1 class="text-center" style="color: white; font-size: 50px; padding-top: 50px; font-family: 'Playfair Display', serif;">Choose Your Sessions and Start Your Training.</h1>
  </section>
<!-- </div>   -->
<!-- 
<section style="height: 400px; background: url('https://images.unsplash.com/photo-1484452330304-377cdeb05340?ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80')">
  <div class="text-center" style="padding-top: 10%;">
   <h1 style="color: white; font-family: 'Londrina Outline', cursive; font-size: 100px;">OUR CLASSES</h1> 
  </div>
</section> -->

<section class="text-left" style="margin-top: 100px;">
  <div class="container mx-auto">
    <div>
      <h1 style="font-size: 40px; color: black; font-family: 'Playfair Display', serif;">Fitness Trainers</h1><br>
    </div>
      
    <div id="carousel" class="carouselBox">
      <div class="control-container">
      <div id="left-scroll-button" class="left-scroll button scroll">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div id="right-scroll-button" class="right-scroll button scroll">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
      </div>
      <div class="items" id="carousel-items">
      <% categories.forEach(function(category) { %>
        <% if(category.parent == 'Fitness trainer') { %>
          
          <div class="item text-center" style="background: #7F986F;">
            <img class="item-image img-fluid" src="/images/dumbell.png" style="width: 60%; height: auto; padding-top: 30%;" />
            <div class="container">
              <span class="item-title">
                <%if(category.title.length > 12) { %>
                  FITNESS
                <% } else { %> 
                <%= category.title %>
                <% } %>
              </span>
            </div>
            <% if(currentUser && currentUser.type=="Admin") { %>
            <span class="item-load-icon button opacity-none"><a href="/admin/category/<%= category.parent %>"><i class="fas fa-play" style="color: white;"></i></a></span>
            <% }else{ %>
            <span class="item-load-icon button opacity-none"><a href="/user/category/<%= category.parent %>"><i class="fas fa-play" style="color: white;"></i></a></span>
            <%} %>
            <div class="item-description opacity-none container">Trainers under <%= category.title %> category.</div>
          </div>
      <% } %>
      <% }); %>
     
          </div>
  </div>
</section>
<section class="text-left" style="margin-top: 40px; margin-bottom: 40px">
  <div class="container mx-auto">
    <div>
      <h1 style="font-size: 40px; color: black; font-family: 'Playfair Display', serif;">Wellness</h1>
    </div>

    
    <div id="carousel" class="carouselBox">
      <div class="control-container">
      <div id="left-scroll-button" class="left-scroll button scroll">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div id="right-scroll-button" class="right-scroll button scroll">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
      </div>
      <div class="items" id="carousel-items">
      <% categories.forEach(function(category) { %>
        <% if(category.parent == 'Wellness') { %>
          <div class="item text-center" style="background: #9ad3bc;">
            <img class="item-image img-fluid" src="/images/dumbell.png" style="width: 60%; height: auto; padding-top: 30%;" />
            <div class="container">
              <span class="item-title">
                <%= category.title %>
              </span>
            </div>
            <% if(currentUser && currentUser.type=="Admin") { %>
              <span class="item-load-icon button opacity-none"><a href="/admin/category/<%= category.parent %>"><i class="fas fa-play" style="color: white;"></i></a></span>
              <% }else{ %>
              <span class="item-load-icon button opacity-none"><a href="/user/category/<%= category.parent %>"><i class="fas fa-play" style="color: white;"></i></a></span>
              <%} %>
            <div class="item-description opacity-none container">Trainers under <%= category.title %> category.</div>
          </div>

      <% } %>
      <% }); %>
      <div class="item text-center" style="background: #9ad3bc;">
        <img class="item-image img-fluid" src="/images/dumbell.png" style="width: 60%; height: auto; padding-top: 30%;" />
        <div class="container">
          <span class="item-title">
            Yoga
          </span>
        </div>
         <% if(currentUser && currentUser.type=="Admin") { %>
            <span class="item-load-icon button opacity-none"><a href="/admin/category/Wellness"><i class="fas fa-play" style="color: white;"></i></a></span>
            <% }else{ %>
            <span class="item-load-icon button opacity-none"><a href="/user/category/Wellness"><i class="fas fa-play" style="color: white;"></i></a></span>
            <%} %>
        <div class="item-description opacity-none container">Trainers under Yoga category.</div>
      </div>

      <div class="item text-center" style="background: #9ad3bc;">
        <img class="item-image img-fluid" src="/images/dumbell.png" style="width: 60%; height: auto; padding-top: 30%;" />
        <div class="container">
          <span class="item-title">
            Meditation
          </span>
        </div>
         <% if(currentUser && currentUser.type=="Admin") { %>
            <span class="item-load-icon button opacity-none"><a href="/admin/category/Wellness"><i class="fas fa-play" style="color: white;"></i></a></span>
            <% }else{ %>
            <span class="item-load-icon button opacity-none"><a href="/user/category/Wellness"><i class="fas fa-play" style="color: white;"></i></a></span>
            <%} %>
        <div class="item-description opacity-none container">Trainers under Meditation category.</div>
      </div>

      <div class="item text-center" style="background: #9ad3bc;">
        <img class="item-image img-fluid" src="/images/dumbell.png" style="width: 60%; height: auto; padding-top: 30%;" />
        <div class="container">
          <span class="item-title">
            Yoga
          </span>
        </div>
         <% if(currentUser && currentUser.type=="Admin") { %>
            <span class="item-load-icon button opacity-none"><a href="/admin/category/Wellness"><i class="fas fa-play" style="color: white;"></i></a></span>
            <% }else{ %>
            <span class="item-load-icon button opacity-none"><a href="/user/category/Wellness"><i class="fas fa-play" style="color: white;"></i></a></span>
            <%} %>
        <div class="item-description opacity-none container">Trainers under Yoga category.</div>
      </div>


        </div>
  </div>
</section>

<section class="text-left">
  <div class="container mx-auto">
    <div>
      <h1 style="font-size: 40px; color: black; font-family: 'Playfair Display', serif;">Counselling</h1>
    </div>

    
    <div id="carousel" class="carouselBox">
      <div class="control-container">
      <div id="left-scroll-button" class="left-scroll button scroll">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div id="right-scroll-button" class="right-scroll button scroll">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
      </div>
      <div class="items" id="carousel-items">
      <% categories.forEach(function(category) { %>
        <% if(category.parent == 'Counselling') { %>
          <div class="item text-center" style="background: #F6EDD9;">
            <img class="item-image img-fluid" src="/images/dumbell.png" style="width: 60%; height: auto; padding-top: 30%;" />
            <div class="container">
              <span class="item-title">
                <%if(category.title.length > 12) { %>
                  therapy
                <% } else { %> 
                <%= category.title %>
                <% } %>
              </span>
            </div>
            <% if(currentUser && currentUser.type=="Admin") { %>
              <span class="item-load-icon button opacity-none"><a href="/admin/category/<%= category.parent %>"><i class="fas fa-play" style="color: white;"></i></a></span>
              <% }else{ %>
              <span class="item-load-icon button opacity-none"><a href="/user/category/<%= category.parent %>"><i class="fas fa-play" style="color: white;"></i></a></span>
              <%} %>
            <div class="item-description opacity-none container">Trainers under <%= category.title %> category.</div>
          </div>
      <% } %>
      <% }); %>

      <div class="item text-center" style="background: #F6EDD9;">
        <img class="item-image img-fluid" src="/images/dumbell.png" style="width: 60%; height: auto; padding-top: 30%;" />
        <div class="container">
          <span class="item-title">
            nutrition
          </span>
        </div>
        <% if(currentUser && currentUser.type=="Admin") { %>
            <span class="item-load-icon button opacity-none"><a href="/admin/category/Counselling"><i class="fas fa-play" style="color: white;"></i></a></span>
            <% }else{ %>
            <span class="item-load-icon button opacity-none"><a href="/user/category/Counselling"><i class="fas fa-play" style="color: white;"></i></a></span>
            <%} %>
        <div class="item-description opacity-none container">Trainers under Nutrition category.</div>
      </div>
      <div class="item text-center" style="background: #F6EDD9;">
        <img class="item-image img-fluid" src="/images/dumbell.png" style="width: 60%; height: auto; padding-top: 30%;" />
        <div class="container">
          <span class="item-title">
            Therapy
          </span>
        </div>
        <% if(currentUser && currentUser.type=="Admin") { %>
            <span class="item-load-icon button opacity-none"><a href="/admin/category/Counselling"><i class="fas fa-play" style="color: white;"></i></a></span>
            <% }else{ %>
            <span class="item-load-icon button opacity-none"><a href="/user/category/Counselling"><i class="fas fa-play" style="color: white;"></i></a></span>
            <%} %>
        <div class="item-description opacity-none container">Trainers under Therapy category.</div>
      </div>
      <div class="item text-center" style="background: #F6EDD9;">
        <img class="item-image img-fluid" src="/images/dumbell.png" style="width: 60%; height: auto; padding-top: 30%;" />
        <div class="container">
          <span class="item-title">
            nutrition
          </span>
        </div>
        <% if(currentUser && currentUser.type=="Admin") { %>
            <span class="item-load-icon button opacity-none"><a href="/admin/category/Counselling"><i class="fas fa-play" style="color: white;"></i></a></span>
            <% }else{ %>
            <span class="item-load-icon button opacity-none"><a href="/user/category/Counselling"><i class="fas fa-play" style="color: white;"></i></a></span>
            <%} %>
        <div class="item-description opacity-none container">Trainers under Nutrition category.</div>
      </div>
        </div>
  </div>
</section>

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-contact">
            <h3>ShapeYou</h3>
            <p>
              A108 Gzb <br>
              Ghaziabad, 201001<br>
              India <br><br>
              <strong>Phone:</strong> +91 95824567813<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Fitness</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Wellness</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Counselling</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Gym</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">

      <div class="copyright-wrap d-md-flex py-4">
        <div class="mr-md-auto text-center text-md-left">
          <div class="copyright">
            &copy; Copyright <strong><span>ShapeYou</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            Designed by <a href="https://theredatom.com/">RedAtom</a>
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
          <a href="#" class="google-plus"><i class="fab fa-skype"></i></a>
          <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>

    </div>
  </footer><!-- End Footer -->

<script src="scripts/script.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/scripts/carousel.js"></script>
<script>
  $('.nav-link').on('click', function() {
	$('.active-link').removeClass('active-link');
	$(this).addClass('active-link');
});
</script>
</body>
</html>
