<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShapeYou - Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.lite.min.css" integrity="sha512-rtKpq+tUiLpzSJ9MWw/nbRZjsGzTqFoh+cyzF8IVSAEO5TeQLCXCfELo/a1dLy/4Zc9SWyZ6YAPvrD+E4n4fZQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="stylesheets/lightslider.css"/> -->
<style>
  .navbar-nav > li > .dropdown-menu { background-color: #79B258; }
</style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#79B258; height: 80px; font-size: 18px;">
        <a class="navbar-brand" href="/user"><img style="width: 9rem; height: auto; margin-top: 1rem;" src="/images/arnav.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active-link" href="/user">Home</a>
              <div class="underline"></div>
            </li>
            <li class="nav-item ml-3">
              <a class="nav-link" href="/user/category/Fitness%20trainer">Fitness</a>
              <div class="underline"></div>
            </li>
            <li class="nav-item ml-3">
              <a class="nav-link" href="/user/category/Wellness" ">Wellness</a>
              <div class="underline"></div>
            </li>
            <li class="nav-item ml-3">
              <a class="nav-link" href="/user/category/Counselling" ">Counselling</a>
              <div class="underline"></div>
            </li>
              
          </ul>
          <ul class="navbar-nav ml-auto">
            <% if(!currentUser){ %>
              
                
                <form action="/user" method="GET" class="form-inline">
                  <div class="form-group">
                  <input type="text" name="search" placeholder="Search.." class="form-control mr-1" style="border-radius: 25px;"> <button type="submit" style="padding: 0; background-color: #79B258; border: none"><i class="fas fa-search ml-1 mr-3" style="color: white"></i></button>
                  <!-- <input type="submit" value="Search" class="btn btn-success"> -->
                </div>
                </form>
                <li><a class="nav-link mr-3" href="/auth/login">Login</a></li>
                
            <% } else{ %>
              <form action="/user" method="GET" class="form-inline">
                <div class="form-group">
                  <input type="text" name="search" placeholder="Search.." class="form-control mr-1" style="border-radius: 25px;"> <button type="submit" style="padding: 0; background-color: #79B258; border: none"><i class="fas fa-search ml-1 mr-3" style="color: white"></i></button>
                <!-- <input type="submit" value="Search" class="btn btn-success"> -->
              </div>
              </form>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: black;">
                  <a class="dropdown-item" href="/user/userDashboard/<%= currentUser._id %>" style="color: white;">Go to dashboard</a>
                  <a class="dropdown-item" href="#" style="color: white;">Signed In as <%= currentUser.username %></a>
                  <a class="dropdown-item" href="/auth/logout" style="color: white;">Sign Out</a>
                </div>
              </li>
            <% } %>
          </ul>
        </div>
      </nav>

      <section class="content-section" id="index" >
        <!-- <div class="container"> -->
          <div class="row no-gutters">
            <div class="col-lg-6">
              <a class="portfolio-item" href="/user/category/Fitness%20trainer">
                <div class="caption">
                  <div class="caption-content">
                    <div class="h2" style="color: white">Fitness trainers</div>
                    <!-- <p class="mb-0">Lorem ipsum dolor sit </p> -->
                  </div>
                </div>
                <img class="img-fluid" src="https://images.unsplash.com/photo-1575052814074-c05122e0a17a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
              </a>
            </div>
            <div class="col-lg-6">
              <a class="portfolio-item" href="/user/category/Wellness">
                <div class="caption">
                  <div class="caption-content">
                    <div class="h2" style="color: white">Wellness</div>
                    <!-- <p class="mb-0">aliquam aspernatur iusto nulla soluta dolor ullam excepturi possimus, repudiandae obcaecati perspiciatis voluptas?</p> -->
                  </div>
                </div>
                <img class="img-fluid" src="https://images.unsplash.com/photo-1524901548305-08eeddc35080?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="">
              </a>
            </div>
            <div class="col-lg-6">
              <a class="portfolio-item" href="/user/category/Counselling">
                <div class="caption">
                  <div class="caption-content">
                    <div class="h2" style="color: white;">Counselling</div>
                    <!-- <p class="mb-0">amet consectetur adipisicing elit. Totam deleniti doloribus debitis tempora unde qui a, inventore</p> -->
                  </div>
                </div>
                <img class="img-fluid" src="https://images.unsplash.com/photo-1588873281272-14886ba1f737?ixlib=rb-1.2.1&auto=format&fit=crop&w=1525&q=80" alt="">
              </a>
            </div>
            <div class="col-lg-6">
              <a class="portfolio-item" href="#!">
                <div class="caption">
                  <div class="caption-content">
                    <div class="h2" style="color: white;">Gym</div>
                    <!-- <p class="mb-0">amet consectetur adipisicing elit. Totam deleniti doloribus debitis tempora unde qui a, inventore</p> -->
                  </div>
                </div>
                <img class="img-fluid" src="https://images.unsplash.com/photo-1558611848-73f7eb4001a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80" alt="">
              </a>
            </div>
          </div>
        <!-- </div> -->
      </section>
  
<section style=" height: 150px; width: 100%; opacity: 1;"> 
  <h1 class="text-center pl-3" style="color: #0083A9; font-size: 40px; padding-top: 50px; font-family: 'Poiret One', cursive; font-weight: 700;">Choose Your Sessions and Start Your Training</h1>
</section>
<!-- 
<section style="height: 400px; background: url('https://images.unsplash.com/photo-1484452330304-377cdeb05340?ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80')">
  <div class="text-center" style="padding-top: 10%;">
   <h1 style="color: white; font-family: 'Londrina Outline', cursive; font-size: 100px;">OUR CLASSES</h1> 
  </div>
</section> -->

<section class="text-center">
  <div class="container mx-auto">
    <div class="text-left">
      <h1 style="font-size: 40px; color: black;">Fitness Trainer</h1>
    </div>
      
    <div id="carousel1" class="carouselBox">
      <div class="control-container">
      <div id="left-scroll-button1" class="left-scroll button scroll">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div id="right-scroll-button1" class="right-scroll button scroll">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
      </div>
      <div class="items" id="carousel-items1">
      <% categories.forEach(function(category) { %>
        <% if(category.parent == 'Fitness trainer') { %>
          
          <div class="item">
            <img class="item-image" src="https://images.unsplash.com/photo-1534258936925-c58bed479fcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" />
            <span class="item-title"><%= category.title %></span>
            <span class="item-load-icon button opacity-none"><a href="/user/category/<%= category.parent %>"><i class="fa fa-play"></i></a></span>
            <div class="item-description opacity-none">Trainers under <%= category.title %> category.</div>
          </div>
      <% } %>
      <% }); %>
     
          </div>
  </div>
</section>
<section class="text-gray-700 body-font" >
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900" style="font-size: 40px;">Wellness</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      
    </div>

    
    <div id="carousel2" class="carouselBox">
      <div class="control-container">
      <div id="left-scroll-button2" class="left-scroll button scroll">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div id="right-scroll-button2" class="right-scroll button scroll">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
      </div>
      <div class="items" id="carousel-items2">
      <% categories.forEach(function(category) { %>
        <% if(category.parent == 'Wellness') { %>
          <div class="item">
            <img class="item-image" src="https://images.unsplash.com/photo-1534258936925-c58bed479fcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" />
            <span class="item-title"><%= category.title %></span>
            <span class="item-load-icon button opacity-none"><a href="/user/category/<%= category.parent %>"><i class="fa fa-play"></i></a></span>
            <div class="item-description opacity-none">Trainers under <%= category.title %> category.</div>
          </div>

      <% } %>
      <% }); %>
        </div>
  </div>
</section>

<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900" style="font-size: 40px;">Counselling</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-base" style="font-size: 20px;">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
    </div>

    
    <div id="carousel3" class="carouselBox">
      <div class="control-container">
      <div id="left-scroll-button3" class="left-scroll button scroll">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div id="right-scroll-button3" class="right-scroll button scroll">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
      </div>
      <div class="items" id="carousel-items3">
      <% categories.forEach(function(category) { %>
        <% if(category.parent == 'Counselling') { %>
          <div class="item">
            <img class="item-image" src="https://images.unsplash.com/photo-1534258936925-c58bed479fcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" />
            <span class="item-title"><%= category.title %></span>
            <span class="item-load-icon button opacity-none"><a href="/user/category/<%= category.parent %>"><i class="fa fa-play"></i></a></span>
            <div class="item-description opacity-none">Trainers under <%= category.title %> category.</div>
          </div>
      <% } %>
      <% }); %>
        </di0v>
  </div>
</section>

<!-- <script src="scripts/script.js" type="text/javascript"></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/scripts/carousel.js"></script>
<script>
  $('.nav-link').on('click', function() {
	$('.active-link').removeClass('active-link');
	$(this).addClass('active-link');
});
</script>
</body>
</html>
