<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Admin dashboard</title>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="/stylesheets/userDashboard.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
                
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
                
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Admin</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="" alt="" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="/admin/trainers" class="nav-link btn">Trainers</a></li>
                    <li class="nav-item"><a href="/admin/users" class="nav-link btn">Users</a></li>
                    <li class="nav-item active"><a href="/admin/pricing" class="nav-link btn">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link btn" href="/auth/logout">Sign Out</a></li>
                </ul>
            </div>
        </nav>
        <h2 class="text-center">ShapeYou - Pricing structure</h2>
        <h3 class="text-center">Basic Segment: </h3> <a href="/admin/editPrice">Edit</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Subscription Name</th>
                    <th scope="col">Subscription Details</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Segment</th>
                    <th scope="col">Price Per Session</th>
                </tr>
            </thead>
            <% prices.forEach(function(price) { %>
                <% if(price.title == 'Basic') { %>
                    <tr>
                        <td>Trial Pack</td>
                        <td>1</td>
                        <td><%= price.trialPackDiscount %> %</td>
                        <td><%= price.trialPackPrice %></td>
                        <td><%= price.trialPerSessionAmount %></td>
                      </tr>
                      <tr>
                      <td>Gold Pack</td>
                        <td>5</td>
                        <td><%= price.goldPackDiscount %></td>
                        <td><%= price.goldPackPrice %></td>
                        <td><%= price.goldPerSessionAmount %></td>
                      </tr>
                      <tr>
                          <td>Platinum Pack</td>
                          <td>10</td>
                          <td><%= price.platinumPackDiscount %></td>
                          <td><%= price.platinumPackPrice %></td>
                          <td><%= price.platinumPerSessionAmount %></td>
                      </tr>
                <% } %>
            <% }) %>
        </table>

        <h3 class="text-center">Standard Segment: </h3> <a href="/admin/editPrice">Edit</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Subscription Name</th>
                    <th scope="col">Subscription Details</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Segment</th>
                    <th scope="col">Price Per Session</th>
                </tr>
            </thead>
            <% prices.forEach(function(price) { %>
                <% if(price.title == 'Standard') { %>
                    <tr>
                        <td>Trial Pack</td>
                        <td>1</td>
                        <td><%= price.trialPackDiscount %></td>
                        <td><%= price.trialPackPrice %></td>
                        <td><%= price.trialPerSessionAmount %></td>
                      </tr>
                      <tr>
                      <td>Gold Pack</td>
                        <td>5</td>
                        <td><%= price.goldPackDiscount %></td>
                        <td><%= price.goldPackPrice %></td>
                        <td><%= price.goldPerSessionAmount %></td>
                      </tr>
                      <tr>
                          <td>Platinum Pack</td>
                          <td>10</td>
                          <td><%= price.platinumPackDiscount %></td>
                          <td><%= price.platinumPackPrice %></td>
                          <td><%= price.platinumPerSessionAmount %></td>
                      </tr>
                <% } %>
            <% }) %>
        </table>

        <h3 class="text-center">Premium Segment: </h3> <a href="/admin/editPrice">Edit</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Subscription Name</th>
                    <th scope="col">Subscription Details</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Segment</th>
                    <th scope="col">Price Per Session</th>
                </tr>
            </thead>
            <% prices.forEach(function(price) { %>
                <% if(price.title == 'Premium') { %>
                    <tr>
                        <td>Trial Pack</td>
                        <td>1</td>
                        <td><%= price.trialPackDiscount %></td>
                        <td><%= price.trialPackPrice %></td>
                        <td><%= price.trialPerSessionAmount %></td>
                      </tr>
                      <tr>
                      <td>Gold Pack</td>
                        <td>5</td>
                        <td><%= price.goldPackDiscount %></td>
                        <td><%= price.goldPackPrice %></td>
                        <td><%= price.goldPerSessionAmount %></td>
                      </tr>
                      <tr>
                          <td>Platinum Pack</td>
                          <td>10</td>
                          <td><%= price.platinumPackDiscount %></td>
                          <td><%= price.platinumPackPrice %></td>
                          <td><%= price.platinumPerSessionAmount %></td>
                      </tr>
                <% } %>
            <% }) %>
        </table>
    <!-- <form action="/admin/pricing" method="POST">
        <input type="text" name="title" placeholder="title" />
        <input type="number" name="trialPackPrice" placeholder="trialPackPrice" />
        <input type="number" name="trialPackDiscount" placeholder="trialPackDiscount" />
        <input type="number" name="trialBasicSegment" placeholder="trialBasicSegment" />
        <input type="number" name="trialPerSessionAmount" placeholder="trialPerSessionAmount" />
        <input type="number" name="goldPackPrice" placeholder="goldPackPrice" />
        <input type="number" name="goldPackDiscount" placeholder="goldPackDiscount" />
        <input type="number" name="goldBasicSegment" placeholder="goldBasicSegment" />
        <input type="number" name="goldPerSessionAmount" placeholder="goldPerSessionAmount" />
        <input type="number" name="platinumPackPrice" placeholder="platinumPackPrice" />
        <input type="number" name="platinumPackDiscount" placeholder="platinumPackDiscount" />
        <input type="number" name="platinumBasicSegment" placeholder="platinumBasicSegment" />
        <input type="number" name="platinumPerSessionAmount" placeholder="platinumPerSessionAmount" />
        <button type="submit">Submit</button>
    </form> -->
</body>
</html>