<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShapeYou - Trainers</title>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/trainerProfile.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> 
    
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
      .navbar-nav > li > .dropdown-menu { background-color: #79B258 !important; }
      .dropdown-item:focus, .dropdown-item:hover {color: black !important;}
        .navbar-collapse { background-color: #79B258; }
      .modal{
        overflow-y: auto !important;
      }
      
    </style>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#79B258; height: 80px; font-size: 18px;">
      <a class="navbar-brand" href="/user"><img style="width: 3rem; height: auto;" src="/images/arnav.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item ml-3">
            <% if(currentUser.type=="Admin") { %>
            <a class="nav-link" href="/admin/category/Fitness%20trainer">Fitness</a>
            <%}else{%>
            <a class="nav-link" href="/user/category/Fitness%20trainer">Fitness</a>
            <%}%>
            <div class="underline"></div>
          </li>
          <li class="nav-item ml-3">
            <% if(currentUser.type=="Admin") { %>
              <a class="nav-link" href="/admin/category/Wellness">Wellness</a>
              <%}else{%>
              <a class="nav-link" href="/user/category/Wellness">Wellness</a>
              <%}%>
            <div class="underline"></div>
          </li>
          <li class="nav-item ml-3">
            <% if(currentUser.type=="Admin") { %>
              <a class="nav-link" href="/admin/category/Counselling">Counselling</a>
              <%}else{%>
              <a class="nav-link" href="/user/category/Counselling">Counselling</a>
              <%}%>
            <div class="underline"></div>
          </li>
          <li class="nav-item ml-3">
            <a class="nav-link" href="#">
              Fitness center
            </a>
            <div class="underline"></div>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="#">
            Relaxation Center
          </a>
          <div class="underline"></div>
      </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if(!currentUser){ %>
              <li><a class="nav-link mr-3" href="/auth/login">Login</a></li>
              
          <% } else{ %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle mr-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: black;">
                <%if (currentUser.type=="Admin"){ %>
                <a class="dropdown-item" href="/admin" style="color: white;">Go to dashboard</a>
                <a class="dropdown-item" href="#" style="color: white;">Signed In as Admin</a>
                <%}else{%>
                  <a class="dropdown-item" href="/user/userDashboard/<%= currentUser._id %>" style="color: white;">Go to dashboard</a>
                  <a class="dropdown-item" href="#" style="color: white;">Signed In as <%= currentUser.username %></a>
                  <%}%>
                <a class="dropdown-item" href="/auth/logout" style="color: white;">Sign Out</a>
              </div>
            </li>
          <% } %>
        </ul>
      </div>
    </nav>

<!-- content -->

<section style="height: 380px; background: #000000; background: linear-gradient(45deg, rgba(133, 175, 99, 0.9) 0%, rgba(0, 105, 148, 0.9) 100%)">
  <div class="row">
    <div class="col-6 mt-5">
     <h2 style="font-size: 4rem; text-align: center; text-transform: uppercase; color: white; margin-top: 18%;"> <%= trainer.username %> </h2>
      <p style="font-size: 1rem; text-align: center; text-transform: uppercase; color: white"> <%= category %> | <%= trainer.pricePlan %> </p>
      <%if(trainer.coupon != null){%>
      <div class="coupon">
          <div class="ticket__content">
            <%=trainer.coupon.couponName %><br>
            <%=trainer.coupon.couponDiscount %>
          </div>
        </div>
      <%}%>
    </div>
    <div class="col-6" style="margin-top: 8rem;">
      <% if(trainer.profilePic) {%>
        <img src="<%= trainer.profilePic %>" style="max-width: 20rem; max-height: 50%; border-radius: 50%; display: block; margin-left: 10%;">
      <% } else {%>
        <img src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" style="max-width: 20rem; max-height: 50%; border-radius: 50%; display: block; margin-left: 10%;">
      <% } %>
    </div>
  </div>
</section>

      <div class="container">
        <div class="text-left">
          <h1 style="color: black; font-family: 'Montserrat', sans-serif; font-size: 55px; font-weight: 800; line-height: .9em; letter-spacing: .02em; text-transform: uppercase;">about <%= trainer.username %> </h1>
          <p style="margin-top: 31px; font-size: 18px;line-height: 27px;font-weight: 300;">
            <%= trainer.about %>
          </p>
        </div>
      </div>
    
      
      <div id="loading">
        <img id="loading-image" src="/images/ajax-loader.gif" alt="Loading..." />
      </div>



      <div class="trainingType" id="container1" hidden>
        <!-- <h3><%= trainer.pricePlan %></h3> -->
        <button name = "personal" class="button activated">Personal Training</button>
        <button name = "group" class="button ml-5">Group Training - <%=category %></button>
    </div>



      <div class="container trainerTimeTable table-responsive" id="container2" style="height: 500px;overflow-y: scroll;margin-bottom: 50px;" hidden>
        <table class="table table-bordered" id="trainerTT">
          <thead class="week-names">
            <tr style="text-align: center;font-family: 'Roboto', sans-serif;">
              <th scope="col" style="background-color: #888888;vertical-align: inherit;" >Slots</th>
              <th scope="col" style="background-color: rgb(144, 140, 140); color:black" id="dateT1"></th>
              <th scope="col" id="dateT2"></th>
              <th scope="col" id="dateT3"></th>
              <th scope="col" id="dateT4"></th>
              <th scope="col" id="dateT5"></th>
              <th scope="col"  id="dateT6"></th>
              <th scope="col" style="background-color: rgb(144, 140, 140); color:black" id="dateT7"></th>
            </tr>
          </thead>
            <tbody style="text-align:center">
                <tr>
                  <th scope="row" class="time-interval">6AM-7AM</th>
                  <td class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                      
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                      
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td class="weekend">
                    <div class="content">
                      <div class="empty">
                        - 
                      </div>
                    </div>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row" class="time-interval">7AM-8AM</th>
                  <td class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td >
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td class="weekend">
                    <div class="content">
                      <div class="empty">
                        - 
                      </div>
                    </div>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row" class="time-interval">8AM-9AM</th>
                  <td  class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td class="weekend">
                    <div class="content">
                      <div class="empty">
                        - 
                      </div>
                    </div>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row" class="time-interval" >9AM-10AM</th>
                  <td  class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td class="weekend">
                    <div class="content">
                      <div class="empty">
                        - 
                      </div>
                    </div>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row"class="time-interval" >10AM-11AM</th>
                  <td  class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td >
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td class="weekend">
                    <div class="content">
                      <div class="empty">
                        - 
                      </div>
                    </div>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row"class="time-interval" >11AM-12PM</th>
                  <td  class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td >
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td class="weekend">
                    <div class="content">
                      <div class="empty">
                        - 
                      </div>
                    </div>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row"class="time-interval" >12PM-1PM</th>
                  <td  class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td >
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td class="weekend">
                    <div class="content">
                      <div class="empty">
                        - 
                      </div>
                    </div>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row"class="time-interval" >1PM-2PM</th>
                  <td  class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td >
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td class="weekend">
                    <div class="content">
                      <div class="empty">
                        - 
                      </div>
                    </div>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row"class="time-interval" >2PM-3PM</th>
                  <td  class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td >
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td class="weekend">
                    <div class="content">
                      <div class="empty">
                        - 
                      </div>
                    </div>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row"class="time-interval" >3PM-4PM</th>
                  <td  class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td >
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td class="weekend">
                    <div class="content">
                      <div class="empty">
                        - 
                      </div>
                    </div>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row"class="time-interval" >4PM-5PM</th>
                  <td  class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td >
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td class="weekend">
                    <div class="content">
                      <div class="empty">
                        - 
                      </div>
                    </div>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row"class="time-interval" >5PM-6PM</th>
                  <td  class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td >
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td class="weekend">
                    <div class="content">
                      <div class="empty">
                        - 
                      </div>
                    </div>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row"class="time-interval" >6PM-7PM</th>
                  <td  class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td >
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td class="weekend">
                    <div class="content">
                      <div class="empty">
                        - 
                      </div>
                    </div>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row"class="time-interval" >7PM-8PM</th>
                  <td  class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td >
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td class="weekend">
                    <div class="content">
                      <div class="empty">
                        - 
                      </div>
                    </div>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row"class="time-interval" >8PM-9PM</th>
                  <td  class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td >
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td class="weekend">
                    <div class="content">
                      <div class="empty">
                        - 
                      </div>
                    </div>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row"class="time-interval" >9PM-10PM</th>
                  <td  class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td >
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td class="weekend">
                    <div class="content">
                      <div class="empty">
                        - 
                      </div>
                    </div>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row"class="time-interval" >10PM-11PM</th>
                  <td  class="weekend">
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td >
                      <div class="content">
                        <div class="empty">
                          - 
                        </div>
                      </div>
                  </td>
                  <td class="weekend">
                    <div class="content">
                      <div class="empty">
                        - 
                      </div>
                    </div>
                  </td>
                  
                </tr>
              </tbody>
            </table>
      </div>
<% if(trainer.reviews.length > 0) { %>

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container">
      
      <div class="section-title text-center" data-aos="fade-up">
        <h2>Reviews</h2>
        <!-- <p>Magnam dolores commodi suscipit eum quidem consectetur velit</p> -->
      </div>
      
      <div class="owl-carousel testimonials-carousel" data-aos="fade-up" data-aos-delay="200">
        <% trainer.reviews.forEach((review) => { %>
          <div class="testimonial-wrap">
            <div class="testimonial-item text-center">
              <!-- <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt=""> -->
              <h3><%= review.author.username %> </h3>
              <!-- <h4>Ceo &amp; Founder</h4> -->
              <p class="starability-result text-left" data-rating = "<%= review.rating %>">
                Rated: 3 stars
              </p>
              <p>
                <i class="fas fa-quote-left"></i>
                <%= review.body %> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, alias ipsa dignissimos tempore fugiat veritatis distinctio nam dolores officia quas quos, cum suscipit labore sit tempora hic sed commodi dolorem!
                <i class="fas fa-quote-right"></i>
              </p>
            </div>
          </div>
        <% }) %>
          
        
        
      </div>
      
    </div>
  </section><!-- End Testimonials Section -->
<% } %>

      <!-- <button data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#mymodal1">Book Your Slot</button> -->

    <section>
  <!-- Modal for coupon -->
<div class="modal fade" id="mymodal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"  >
     <div class="modal-content" style="background-image: url('/images/coupon.jpg');">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Avail Coupon</h4>
           <button type="button" class="close" onclick="javascript:window.location.reload()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
              <fieldset style="display: block;">
                    <input type="text" style="text-transform: uppercase;border: 1px solid black;" />
                    <button type="button" class="couponApply btn cn1 btn-success" id="applyButton">Apply</button>
                    <small class="text-danger" id="couponInvalid" hidden>Coupon is NOT VALID</small>
                    <small class="text-success" id="couponValid" hidden>Coupon Applied!!</small>
              </fieldset>
              <div class="available" style="background-color: white;">
                <h4>Available Coupon</h4>
                <%if(trainer.coupon != null){%>
                  <div class="coupon">
                      <div class="ticket__content">
                        <%=trainer.coupon.couponName %><br>
                        <%=trainer.coupon.couponDiscount %>
                      </div>
                    </div>
                  <%}else{%>
                    <span>No Coupon Available for this Trainer</span>
                  <%}%>
              </div>
        </div>
        <div class="modal-footer">
           <a class="btn btn-primary btn-default cn1" href="#mymodal2" data-toggle="modal" >Next</a>
           <button type="button" class="btn btn-default btn-danger" onclick="javascript:window.location.reload()" data-dismiss="modal">Close</button>
        </div>
     </div>
  </div>
</div>
  <div class="modal fade bd-example-modal-lg modal-open" id="mymodal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
      <div class="personal">
        <h1 style="text-align: center;margin-top: 25px;">Sessions Available</h1>
        <button type="button" class="close"onclick="javascript:window.location.reload()" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
        <div id="sessions">
 <section id="pricing" class="pricing">
  <div class="container">

    <div class="row mb-3">

      <div class="col-lg-4 col-md-6">
        <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
          <h3><%= pricing.trialNumofSessions %> Session</h3>
          <h4 class="prices"><sup>₹</sup><%= pricing.trialPackPrice%></h4>
          <form class="newSession" id="formp1" action="/user/paytm" method="POST">
            
            <input type="hidden" name="trainerId" value="<%= trainer._id %>">
            <input type="hidden" name="category" value="<%= category %>">
            <input type="hidden" name="type" value="personal">
            <input type="hidden" name="username" value="<%= trainer.username %>">
            <input type="hidden" name="pack" value="trial"> 
            <input type="hidden" name="numOfSessions" value="<%= pricing.trialNumofSessions %>" >
            <input type="hidden" name="defaultPrice" value="<%= pricing.trialPackPrice%>">
            <div class="btn-wrap">
              <button type="submit" class="btn-buy">Buy Now</button>
            </div>
        </form>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
        <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
          <h3><%= pricing.goldNumofSessions %> Session</h3>
          <h4 class="prices"><sup>₹</sup><%= pricing.goldPackPrice%></h4>
          <form class="newSession" id="formp2" action="/user/paytm" method="POST">
            
            <input type="hidden" name="trainerId" value="<%= trainer._id %>">
            <input type="hidden" name="category" value="<%= category %>">
            <input type="hidden" name="type" value="personal">
            <input type="hidden" name="username" value="<%= trainer.username %>">
            <input type="hidden" name="pack" value="gold"> 
            <input type="hidden" name="numOfSessions" value="<%= pricing.goldNumofSessions %>" >
            <input type="hidden" name="defaultPrice" value="<%= pricing.goldPackPrice%>">
            <input type="hidden" name="validity" value="<%= pricing.goldValidity%>">
            <div class="btn-wrap">
              <button type="submit" class="btn-buy">Buy Now</button>
            </div>
        </form>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
        <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
          <h3><%= pricing.platinumNumofSessions %> Session</h3>
          <h4 class="prices"><sup>₹</sup><%= pricing.platinumPackPrice%></h4>
          <form class="newSession" id="formp3" action="/user/paytm" method="POST">
            
            <input type="hidden" name="trainerId" value="<%= trainer._id %>">
            <input type="hidden" name="category" value="<%= category %>"> 
            <input type="hidden" name="type" value="personal">
            <input type="hidden" name="username" value="<%= trainer.username %>"> 
            <input type="hidden" name="pack" value="platinum"> 
            <input type="hidden" name="numOfSessions" value="<%= pricing.platinumNumofSessions %>" >
            <input type="hidden" name="defaultPrice" value="<%= pricing.platinumPackPrice%>">
            <input type="hidden" name="validity" value="<%= pricing.platinumValidity%>">
            <div class="btn-wrap">
              <button type="submit" class="btn-buy">Buy Now</button>
            </div>
        </form>
        </div>
      </div>

    </div>

  </div>
</section>
  </div>
</div>
</div>
</div>
</div>


<!-- Modal for coupon-group -->
<div class="modal fade" id="mymodal-g1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content" style="background-image: url('/images/coupon.jpg');">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Avail Coupon</h4>
         <button type="button" class="close" onclick="javascript:window.location.reload()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
            <fieldset style="display: block;">
                  <input type="text" style="text-transform: uppercase;border: 1px solid black;" />
                  <button type="button" class="couponApply btn cn1 btn-success" id="applyButton2">Apply</button>
                  <small class="text-danger" id="couponInvalid2" hidden>Coupon is NOT VALID</small>
                  <small class="text-success" id="couponValid2" hidden>Coupon Applied!!</small>
            </fieldset>
            <div class="available" style="background-color: white;">
              <h4>Available Coupon</h4>
              <%if(trainer.coupon != null){%>
                <div class="coupon">
                    <div class="ticket__content">
                      <%=trainer.coupon.couponName %><br>
                      <%=trainer.coupon.couponDiscount %>
                    </div>
                  </div>
                <%}else{%>
                  <span>No Coupon Available for this Trainer</span>
                <%}%>
            </div>
      </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-primary btn-default cn1" href="#mymodal-g2" data-toggle="modal">Next</a>
           <button type="button" class="btn btn-default btn-danger" onclick="javascript:window.location.reload()" data-dismiss="modal">Close</button>
        </div>
     </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg-group" id="mymodal-g2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" >
    <div class="modal-content">
      <div class="group">

        <h1 style="text-align: center;margin-top: 25px;">Sessions Available</h1>
        <button type="button" class="close" onclick="javascript:window.location.reload()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div id="sessions">
          <section id="pricing" class="pricing">
            <div class="container">
          
              <div class="row mb-3">
          
                <div class="col-lg-4 col-md-6">
                  <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
                    <h3><%= pricing.trialNumofSessions %> Session</h3>
                    <h4 class="prices"><sup>₹</sup><%= pricing.trialPackPrice%></h4>
                    <form class="newSession" id="form1" action="/user/paytm" method="POST">
                      
                      <input type="hidden" name="trainerId" value="<%= trainer._id %>">
                      <input type="hidden" name="category" value="<%= category %>">
                      <input type="hidden" name="type" value="group">
                      <input type="hidden" name="username" value="<%= trainer.username %>">
                      <input type="hidden" name="pack" value="trial"> 
                      <input type="hidden" name="numOfSessions" value="<%= pricing.trialNumofSessions %>" >
                      <input type="hidden" name="defaultPrice" value="<%= pricing.trialPackPrice%>">
                      <div class="btn-wrap">
                        <button type="submit" class="btn-buy">Buy Now</button>
                      </div>
                  </form>
                  </div>
                </div>
          
                <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                  <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
                    <h3><%= pricing.goldNumofSessions %> Session</h3>
                    <h4 class="prices"><sup>₹</sup><%= pricing.goldPackPrice%></h4>
                    <form class="newSession" id="form2" action="/user/paytm" method="POST">
                      
                      <input type="hidden" name="trainerId" value="<%= trainer._id %>">
                      <input type="hidden" name="category" value="<%= category %>">
                      <input type="hidden" name="type" value="group">
                      <input type="hidden" name="username" value="<%= trainer.username %>">
                      <input type="hidden" name="pack" value="gold"> 
                      <input type="hidden" name="numOfSessions" value="<%= pricing.goldNumofSessions %>" >
                      <input type="hidden" name="defaultPrice" value="<%= pricing.goldPackPrice%>">
                      <input type="hidden" name="validity" value="<%= pricing.goldValidity%>">
                      <div class="btn-wrap">
                        <button type="submit" class="btn-buy">Buy Now</button>
                      </div>
                  </form>
                  </div>
                </div>
          
                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                  <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
                    <h3><%= pricing.platinumNumofSessions %> Session</h3>
                    <h4 class="prices"><sup>₹</sup><%= pricing.platinumPackPrice%></h4>
                    <form class="newSession" id="form3" action="/user/paytm" method="POST">
                      
                      <input type="hidden" name="trainerId" value="<%= trainer._id %>">
                      <input type="hidden" name="category" value="<%= category %>">
                      <input type="hidden" name="type" value="group">
                      <input type="hidden" name="username" value="<%= trainer.username %>">
                      <input type="hidden" name="pack" value="platinum"> 
                      <input type="hidden" name="numOfSessions" value="<%= pricing.platinumNumofSessions %>" >
                      <input type="hidden" name="defaultPrice" value="<%= pricing.platinumPackPrice%>">
                      <input type="hidden" name="validity" value="<%= pricing.platinumValidity%>">
                      <div class="btn-wrap">
                        <button type="submit" class="btn-buy">Buy Now</button>
                      </div>
                  </form>
                  </div>
                </div>
          
              </div>
          
            </div>
          </section>
          </div>
    </div>
    </div>
  </div>
</div>


    </section>

    <%- include('./partials/footer') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>

    <script>

      var id = <%-JSON.stringify(trainer._id) %>;
      var trainerCat = <%-JSON.stringify(category) %>;
      var trainerType = 'personal';
      var name = <%- JSON.stringify(trainer.username)%>;
      var coupon = <%- JSON.stringify(trainer.coupon) %>;

      if(coupon){
        var couponName = coupon.couponName%>;
        var discount = coupon.couponDiscount;
      }

      var trainerPersonals = <%- JSON.stringify(trainer.personalSlots) %>;
      var persSlots = null;
      var loaded = false;

      
      var interval = setInterval(()=>{
        if(loaded == true){
          $('#loading').hide();
          $('#container1').removeAttr('hidden');
          $('#container2').removeAttr('hidden');
          loaded = false;
        }
       },500);

      $(".button").click(function() {
        $('#loading').show();
        $('#container1').attr('hidden','');
        $('#container2').attr('hidden','');
        $(this).addClass("activated");
        $(".button").not(this).removeClass('activated');
        trainerType = this.name;
        if(trainerType == 'personal'){
            $('.personal').removeAttr('hidden');
            $('.group').attr('hidden','');
        }
        else{
            $('.group').removeAttr('hidden');
            $('.personal').attr('hidden','');
        }

        $('#trainerTT tr').each(function(){
          $(this).find('td').each(function(){
            $(this).find('.content')[0].innerHTML = `<div class="content">
                              <div class="empty">
                                - 
                              </div>
                            </div>`
            $(this).find('.content').css('background-color',"unset");
            $(this).find('.content').css('color',"unset");
            });
          });

          
          $.ajax({
            // url:'http://127.0.0.1:3500/user/getTimeTable/'+id,
            url:'https://shapeyou-demo.herokuapp.com/user/getTimeTable/'+id,
            method: 'GET',
            data: {trainerType},
            success:(data)=>{
              var index = 0;
              loaded = true;
          $('#trainerTT tr').each(function(){
            var timeR = null;
            var timeStr = null;
            var timeStr2 = null;
            
            if(index!=0){
                timeR = $(this).find('th')[0].innerText;
                var timeA = timeR.split('-');
                timeStr = timeA[0].substring(0,timeA[0].length-2) + ":00" + timeA[0].slice(-2) +" - "+timeA[1].substring(0,timeA[1].length-2)+":00" + timeA[1].slice(-2);
                timeStr2 = timeStr.replace(/\s/g,'');
              }
              
              $(this).find('td').each(function(){
                var col = $("table thead tr th").eq($(this).index());
                var key = col[0].getAttribute('value');
                var key2 = key.split(' ').join('-');
                var dayCol = col[0].innerHTML.split('>')[2].split('<')[0];

                var headDate = new Date(key);
                headDate.setHours(0,0,0,0);
                var currDate = new Date();
                currDate.setHours(0,0,0,0);

              
                if(trainerType == "group" && index!=0 && data && data[key]!=undefined){
                  
                  for(var i=0;i<data[key].length;i++){
                    var ne = data[key][i].replace(/\s/g,'-').split('-');
                    var timeSlot = ne[0]+" - "+ne[3];
                    if(timeSlot == timeStr  && (currDate<=headDate) && ne[4]==trainerCat){
                        console.log('in');
                        $(this).find('.content')[0].innerHTML = `<button class='bookSlot' data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#mymodal-g1">Book Your Slot</button><button class="booked" hidden disabled>BOOKED</button>`;
                        $(this).find('.content').find('.empty').attr('hidden','');
                        $(this).find('.content').find('.bookSlot').attr('data-key',key.replace(/\s/g, '-'));
                        $(this).find('.content').find('.bookSlot').attr('data-slot',timeStr.replace(/\s/g, ''));
                        $(this).find('.content').find('.bookSlot').attr('data-trainer',name);
                        // $(this).find('.content').css('background-color',"yellowgreen");
                        // $(this).find('.content').css('color',"darkgreen");
                    }
                  }
                }else if(trainerType == "personal" && index!=0){
                    switch (dayCol){
                      case 'MON':
                          dayCol = "Monday";
                          break;
                      case 'TUE':
                          dayCol = "Tuesday";
                          break;
                      case 'WED':
                          dayCol = "Wednesday";
                          break;
                      case 'THU':
                          dayCol = "Thursday";
                          break;
                      case 'FRI':
                          dayCol = "Friday";
                          break;
                      case 'SAT':
                          dayCol = "Saturday";
                          break;
                      default:
                          dayCol = "Sunday";
                  };

                  if(data && data[dayCol]){
                    for(var i=0;i<data[dayCol].length;i++){
                      if(data[dayCol][i].split(' ')[0]==timeStr2 && (currDate<=headDate) && parseInt(data[dayCol][i].split(' ')[1])==0){
                            $(this).find('.content')[0].innerHTML = `<button class='bookSlot' data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#mymodal1">Book Your Slot</button><button class="booked" hidden disabled>BOOKED</button>`;
                            $(this).find('.content').find('.empty').attr('hidden','');
                            $(this).find('.content').find('.bookSlot').attr('data-key',key.replace(/\s/g, '-'));
                            $(this).find('.content').find('.bookSlot').attr('data-key2',dayCol);
                            $(this).find('.content').find('.bookSlot').attr('data-slot',timeStr.replace(/\s/g, ''));
                            $(this).find('.content').find('.bookSlot').attr('data-trainer',name);
                            // $(this).find('.content').css('background-color',"yellowgreen");
                            // $(this).find('.content').css('color',"darkgreen");
                      }
                    };
                  }
                }
              });
              index++;
            });
          }
        });

      });


      // DATE HEADINGS OF TIME TABLE 

     
      var curr = new Date;
        var firstday = new Date(curr.setDate((curr.getDate() - curr.getDay())));
        var lastday = new Date((curr.setDate((curr.getDate() - curr.getDay())+6)));
    
      var d = new Date();
      var m = d.getMinutes();
      var h = d.getHours();
      if(h == '0') {h = 12}
      
      var currentTime = h+":"+m;
    
      var weekday=new Array(7);
          weekday[0]="SUN";
          weekday[1]="MON";
          weekday[2]="TUE";
          weekday[3]="WED";
          weekday[4]="THU";
          weekday[5]="FRI";
          weekday[6]="SAT";

        
    
      var data=new Object();
    
      var j=1;
    
      var first = firstday;
  
    
      // for(var d = 0;d<7; d++){
      //     var nextDay = new Date();
      //     nextDay.setDate(firstday.getDate()+1);
      //     var datePassed = firstday.getDate() + " " + firstday.toLocaleString('default', { month: 'short' })+" "+firstday.getFullYear();
      //     data[datePassed] = new Array();
      //     firstday = nextDay;
      // }
    
    
      // firstday = first;



      for(var i=firstday;i<=lastday;i.setDate(i.getDate() + 1)){
            document.getElementById('dateT'+j).innerHTML = `<span>${i.getDate()}<br>${weekday[j-1]}</span>`;
            document.getElementById('dateT'+j).setAttribute('value',`${i.getDate()+" "+i.toLocaleString('default',{month:'short'})+" "+i.getFullYear()}`);
            j++;
        }

      //FILLING TABLE DETAILS

      $.ajax({
        // url:'http://127.0.0.1:3500/user/getTimeTable/'+id,
        url:'https://shapeyou-demo.herokuapp.com/user/getTimeTable/'+id,
        method: 'GET',
        data: {trainerType},
        success:(data)=>{
          var index = 0;
          loaded = true;
          $('#trainerTT tr').each(function(){
            var timeR = null;
            var timeStr = null;
            var timeStr2 = null;
            
            if(index!=0){
                timeR = $(this).find('th')[0].innerText;
                var timeA = timeR.split('-');
                timeStr = timeA[0].substring(0,timeA[0].length-2) + ":00" + timeA[0].slice(-2) +" - "+timeA[1].substring(0,timeA[1].length-2)+":00" + timeA[1].slice(-2);
                timeStr2 = timeStr.replace(/\s/g,'');
              }
              
              $(this).find('td').each(function(){
                var col = $("table thead tr th").eq($(this).index());
                var key = col[0].getAttribute('value');
                var key2 = key.split(' ').join('-');
                var dayCol = col[0].innerHTML.split('>')[2].split('<')[0];
              
                var headDate = new Date(key);
                headDate.setHours(0,0,0,0);
                var currDate = new Date();
                currDate.setHours(0,0,0,0);

                if(trainerType == "group" && index!=0 && data && data[key]!=undefined){

                  for(var i=0;i<data[key].length;i++){
                    var ne = data[key][i].replace(/\s/g,'-').split('-');
                    var timeSlot = ne[0]+" - "+ne[3];
                    if(timeSlot == timeStr && (currDate<=headDate) && ne[4]==trainerCat){
                        $(this).find('.content')[0].innerHTML = `<button class='bookSlot' data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#mymodal-g1">Book Your Slot</button><button class="booked" hidden disabled>BOOKED</button>`;
                        $(this).find('.content').find('.empty').attr('hidden','');
                        $(this).find('.content').find('.bookSlot').attr('data-key',key.replace(/\s/g, '-'));
                        $(this).find('.content').find('.bookSlot').attr('data-slot',timeStr.replace(/\s/g, ''));
                        $(this).find('.content').find('.bookSlot').attr('data-trainer',name);
                        // $(this).find('.content').css('background-color',"yellowgreen");
                        // $(this).find('.content').css('color',"darkgreen");
                      
                    }
                  }
                }else if(trainerType == "personal" && index!=0){
                    switch (dayCol){
                      case 'MON':
                          dayCol = "Monday";
                          break;
                      case 'TUE':
                          dayCol = "Tuesday";
                          break;
                      case 'WED':
                          dayCol = "Wednesday";
                          break;
                      case 'THU':
                          dayCol = "Thursday";
                          break;
                      case 'FRI':
                          dayCol = "Friday";
                          break;
                      case 'SAT':
                          dayCol = "Saturday";
                          break;
                      default:
                          dayCol = "Sunday";
                  };

                  if(data && data[dayCol]!=undefined){
                    for(var i=0;i<data[dayCol].length;i++){
                      if(data[dayCol][i].split(' ')[0]==timeStr2 && (currDate<=headDate) && parseInt(data[dayCol][i].split(' ')[1])==0){
                            $(this).find('.content')[0].innerHTML = `<button class='bookSlot' data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#mymodal1">Book Your Slot</button><button class="booked" hidden disabled>BOOKED</button>`;
                            $(this).find('.content').find('.empty').attr('hidden','');
                            $(this).find('.content').find('.bookSlot').attr('data-key',key.replace(/\s/g, '-'));
                            $(this).find('.content').find('.bookSlot').attr('data-key2',dayCol);
                            $(this).find('.content').find('.bookSlot').attr('data-slot',timeStr.replace(/\s/g, ''));
                            $(this).find('.content').find('.bookSlot').attr('data-trainer',name);
                            // $(this).find('.content').css('background-color',"yellowgreen");
                            // $(this).find('.content').css('color',"darkgreen");
                    };
                  }
                }
              }
            });
              index++;
            });
          }
        });

        // $("div[id^='mymodal']").each(function(){

        //   var currentModal = $(this);
          
        //   //click next
        //   currentModal.find('.btn-next').click(function(){
        //     currentModal.modal('hide');
        //     currentModal.closest("div[id^='mymodal']").nextAll("div[id^='mymodal']").first().modal('show');
        //   });
          
        //   //click prev
        //   currentModal.find('.btn-prev').click(function(){
        //     currentModal.modal('hide');
        //     currentModal.closest("div[id^='mymodal']").prevAll("div[id^='mymodal']").first().modal('show'); 
        //   });

        // });

        // $("div[id^='mymodal-g']").each(function(){
  
        //   var currentModal = $(this);
          
        //   //click next
        //   currentModal.find('.btn-next').click(function(){
        //     currentModal.modal('hide');
        //     currentModal.closest("div[id^='mymodal-g']").nextAll("div[id^='mymodal-g']").first().modal('show'); 
        //   });
          
        //   //click prev
        //   currentModal.find('.btn-prev').click(function(){
        //     currentModal.modal('hide');
        //     currentModal.closest("div[id^='mymodal-g']").prevAll("div[id^='mymodal-g']").first().modal('show'); 
        //   });

        // });

        $(document).on('click', '.couponApply', function() {
          var currentModal = $(this).parent().parent().parent().parent().parent();
          if($(this).prev().val().toUpperCase() ==couponName){

            $('.prices').each((e,value)=>{
              console.log(e);
              var price = value.innerText;
              var amount = parseFloat(price.slice(1,));
              var discountP = discount;
              console.log(discountP)
              discountP=parseInt(discountP.slice(0,2));
              amount -= amount*(discountP/100);
              value.innerHTML = `<h4 class="prices"><del>${price}</del></h4>`
              value.innerHTML += `<h4 class="prices2"><sup>₹</sup>${amount.toFixed(2)}</h4>`;
              if(trainerType == "group"){
                var content = `<input type="hidden" name="price" value=${amount.toFixed(2)}>`
                $('#form'+(e+1)).append(content);
              }else{
                var content = `<input type="hidden" name="price" value=${amount.toFixed(2)}>`
                $('#formp'+(e+1)).append(content);
              }
            });

            $('#applyButton').css('cursor','not-allowed');
            $('#applyButton').attr('disabled','');
            $('#applyButton')[0].innerText = 'Applied';
            $('#couponValid').removeAttr('hidden');
            $('#couponInvalid').attr('hidden','');
            $('#applyButton2').css('cursor','not-allowed');
            $('#applyButton2').attr('disabled','');
            $('#applyButton2')[0].innerText = 'Applied';
            $('#couponValid2').removeAttr('hidden');
            $('#couponInvalid2').attr('hidden','');
          }else{
            $('#couponInvalid').removeAttr('hidden');
            $('#couponValid').attr('hidden','');
            $('#couponInvalid2').removeAttr('hidden');
            $('#couponValid2').attr('hidden','');
          }
          // currentModal.modal('hide');
          // currentModal.next().modal('show'); 
          
        });
        

        $(document).on('click', '.bookSlot', function() {
              const key  = $(this).attr('data-key');
              const key3  = $(this).attr('data-key2');
              const slot = $(this).attr('data-slot');
              const name = $(this).attr('data-trainer');

              $(this).attr('hidden','');
              $(this).next().removeAttr('hidden');

              const date = new Object();
              const date2 = new Object();
              const userCount = new Object();

              date[key] = new Array();
              date[key].push(slot);

              if(trainerType == "group"){
                date2[key] = slot;
                userCount[id] = date2;
              }else{
                date2[key3] = slot;
                userCount[id] = date2;
              }

              $.ajax({
                url:'/user/bookedSlots/' + <%- JSON.stringify(currentUser._id)%>,
                method:'GET',
                success:(booked)=>{

                  if(booked.length == 0){
                    var newObj = new Object();
                    newObj[name] = new Array();
                    newObj[name].push(date);
                    booked.push(newObj);
                  
                  }
                  else{

                    var isPresent = false;

                    for(var i=0;i<booked.length;i++){
                      if(Object.keys(booked[i])[0] == name){
                        isPresent = true;
                        
                        var temp = booked[i][Object.keys(booked[i])[0]];

                        if(temp.length == 0){
                          booked[i][Object.keys(booked[i])[0]].push(date); 
                        }else{
                          var isThere = false;
                          for(var j=0;j<temp.length;j++){
                            if(key in temp[j]){
                              isThere = true;
                              if(!booked[i][Object.keys(booked[i])[0]][j][key].includes(slot)){
                                booked[i][Object.keys(booked[i])[0]][j][key].push(slot);
                              }
                              break;
                            }
                          }
                          if(!isThere){
                            booked[i][Object.keys(booked[i])[0]].push(date); 
                            break;
                          }
                        }
                      }
                    }

                    if(!isPresent){
                      var newObj = new Object();
                      newObj[name] = new Array();
                      newObj[name].push(date);
                      booked.push(newObj);
                    }
                  }

                console.log(booked);
                console.log(userCount);
                var content = `<input type="hidden" name="booked" value=${JSON.stringify(booked)}>`
                var content2 = `<input type="hidden" name="userCount" value=${JSON.stringify(userCount)}>`
                $('.newSession').append(content);
                $('.newSession').append(content2);
              
          }
          });
        });

    </script>
    <script>
      $('.nav-link').on('click', function() {
      $('.active-link').removeClass('active-link');
      $(this).addClass('active-link');
    });
    // Testimonials carousel (uses the Owl Carousel library)
    $(".testimonials-carousel").owlCarousel({
      autoplay: true,
      dots: true,
      loop: true,
      responsive: {
        0: {
          items: 1
        },
        768: {
          items: 1
        },
        900: {
          items: 2
        }
      }
    });
    </script>
    
</body>
</html>