<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/trainerProfile.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/stars.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">ShapeYou</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
    </nav>

<!-- content -->
    <div class="container" >
      

      <section class="text-gray-700 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-col">
          <div class="lg:w-4/6 mx-auto">
            <h1 style="text-align: center;">YOUR TRAINER</h1>
            <div class="flex flex-col sm:flex-row mt-10">
              <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
                <div class="w-30 h-30 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
                  <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                    <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg> -->
                  <img src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" style="max-width: 100%; max-height: 100%; border-radius: 50%;
                                                                              display: block;">
                </div>
                <div class="flex flex-col items-center text-center justify-center">
                  <h2 class="font-medium title-font mt-4 text-gray-900 text-lg"><%= trainer.username %></h2>
                  <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
                  <div class="bulletPoints" style="font-family: Montserrat,sans-serif;font-size: 15px!important;margin-top: 15px;">
                    <span style="float: left;margin-left: 10px;color:#4564fd;width:120px">AGE :</span> 32
                    <hr>
                    <span style="float: left;margin-left: 10px;color:#4564fd;width:120px">WEIGHT :</span>60kg
                    <hr>
                    <span style="float: left;margin-left: 10px;color:#4564fd;width:120px">OCCUPATION :</span>Boxing
                    <hr>
                    <span style="float: left;margin-left: 10px;color:#4564fd;width:120px">CATEGORY :</span> Basic <%= trainer.categoryType %>
                </div>
                </div>
              </div>
              <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-300 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
                <p class="leading-relaxed text-lg mb-4">Meggings portland fingerstache lyft, post-ironic fixie man bun banh mi umami everyday carry hexagon locavore direct trade art party. Locavore small batch listicle gastropub farm-to-table lumbersexual salvia messenger bag. Coloring book flannel truffaut craft beer drinking vinegar sartorial, disrupt fashion axe normcore meh butcher. Portland 90's scenester vexillologist forage post-ironic asymmetrical, chartreuse disrupt butcher paleo intelligentsia pabst before they sold out four loko. 3 wolf moon brooklyn.</p>
              </div>
            </div>
          </div>
        </div>
      </section>




      <!-- <section> -->
        <!-- <form action=""></form> -->
        <!-- <fieldset class="starability-basic">
          <legend>First rating:</legend>
          <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
          <input type="radio" id="first-rate1" name="rating" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="rating" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="rating" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="rating" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="rating" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        <p class="starability-result" data-rating = "5">
          Rated: 3 stars
        </p>
      </section> -->
    

      <div class="trainingType">
        <button name = "personal" class="button activated" style="margin:20px">Personal Training</button>
        <button name = "group" class="button" style="margin:20px">Group Training - <%=category %></button>
    </div>

      <div class="container trainerTimeTable">
        <table class="table" id="trainerTT">
          <thead class="thead-dark">
                <tr style="text-align: center;">
                  <th scope="col">Slots</th>
                  <th scope="col" id="dateT1"></th>
                  <th scope="col" id="dateT2"></th>
                  <th scope="col" id="dateT3"></th>
                  <th scope="col" id="dateT4"></th>
                  <th scope="col" id="dateT5"></th>
                  <th scope="col" id="dateT6"></th>
                </tr>
              </thead>
              <tbody style="text-align:center">
                  <tr>
                    <th scope="row">3PM-4PM</th>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                        
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                        
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">4PM-5PM</th>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row">5PM-6PM</th>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row">6PM-7PM</th>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row">7PM-8PM</th>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                        </div>
                    </td>
                    <td>
                        <div class="content">
                          <div class="empty">
                            - 
                          </div>
                          <button class='bookSlot' hidden>Book Your Slot</button>   
                          <button class='booked' hidden>BOOKED</button>   
                        </div>
                    </td>
                    
                  </tr>
                </tbody>
              </table>
  
      </div>

        <div class="trainerSessions">
          <div class="group" hidden>

              <h1 style="text-align: center;margin-top: 25px;">Sessions Available</h1>
              <div id="sessions">
                    <section class="text-gray-700 body-font overflow-hidden">
                        <div class="container px-5 py-24 mx-auto">
                          <div class="flex flex-wrap -m-4">
                            <div class="p-4 xl:w-1/3 md:w-1/2 w-full">
                              <div class="h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden">
                                <h2 class="text-sm tracking-widest title-font mb-1 font-medium">1 Session</h2>
                                <h1 class="text-5xl text-gray-900 pb-4 mb-4 border-b border-gray-200 leading-none">₹1000</h1>
                                <p class="flex items-center text-gray-600 mb-2">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Vexillologist pitchfork
                                </p>
                                <p class="flex items-center text-gray-600 mb-2">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Tumeric plaid portland
                                </p>
                                <p class="flex items-center text-gray-600 mb-6">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Mixtape chillwave tumeric
                                </p>
                                <form class="newSession" action="/user/newSession" method="POST">
                                  <button class="flex items-center mt-auto text-white bg-blue-500 border-0 py-2 px-4 w-full focus:outline-none hover:bg-blue-600 rounded">Pay Now
                                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                  </svg>
                                  </button>
                                  <input type="hidden" name="trainerId" value="<%= trainer._id %>">
                                  <input type="hidden" name="category" value="<%= category %>">
                                  <input type="hidden" name="type" value="group">
                                  <input type="hidden" name="username" value="<%= trainer.username %>">
                                  <input type="hidden" name="numOfSessions" value="1">
                              </form>
                                <p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>
                              </div>
                            </div>
                            <div class="p-4 xl:w-1/3 md:w-1/2 w-full">
                              <div class="h-full p-6 rounded-lg border-2 border-blue-500 flex flex-col relative overflow-hidden">
                                <span class="bg-blue-500 text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl">POPULAR</span>
                                <h2 class="text-sm tracking-widest title-font mb-1 font-medium">5 Sessions</h2>
                                <h1 class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200">
                                  <span>₹3000</span>
                                </h1>
                                <p class="flex items-center text-gray-600 mb-2">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Vexillologist pitchfork
                                </p>
                                <p class="flex items-center text-gray-600 mb-2">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Tumeric plaid portland
                                </p>
                                <p class="flex items-center text-gray-600 mb-2">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Hexagon neutra unicorn
                                </p>
                                <p class="flex items-center text-gray-600 mb-6">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Mixtape chillwave tumeric
                                </p>
                                <form class="newSession" action="/user/newSession" method="POST">
                                  <button class="flex items-center mt-auto text-white bg-blue-500 border-0 py-2 px-4 w-full focus:outline-none hover:bg-blue-600 rounded">Pay Now
                                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                  </svg>
                                  </button>
                                  <input type="hidden" name="trainerId" value="<%= trainer._id %>">
                                  <input type="hidden" name="category" value="<%= category %>">
                                  <input type="hidden" name="type" value="group">
                                  <input type="hidden" name="username" value="<%= trainer.username %>">
                                  <input type="hidden" name="numOfSessions" value="5">
                              </form>
                                <p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>
                              </div>
                            </div>
                            <div class="p-4 xl:w-1/3 md:w-1/2 w-full">
                              <div class="h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden">
                                <h2 class="text-sm tracking-widest title-font mb-1 font-medium">10 Sessions</h2>
                                <h1 class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200">
                                  <span>₹5000</span>
                                </h1>
                                <p class="flex items-center text-gray-600 mb-2">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Vexillologist pitchfork
                                </p>
                                <p class="flex items-center text-gray-600 mb-2">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Tumeric plaid portland
                                </p>
                                <p class="flex items-center text-gray-600 mb-2">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Hexagon neutra unicorn
                                </p>
                                <p class="flex items-center text-gray-600 mb-2">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Vexillologist pitchfork
                                </p>
                                <p class="flex items-center text-gray-600 mb-6">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Mixtape chillwave tumeric
                                </p>
                                <form class="newSession" action="/user/newSession" method="POST">
                                  <button class="flex items-center mt-auto text-white bg-blue-500 border-0 py-2 px-4 w-full focus:outline-none hover:bg-blue-600 rounded">Pay Now
                                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                  </svg>
                                  </button>
                                  <input type="hidden" name="trainerId" value="<%= trainer._id %>">
                                  <input type="hidden" name="category" value="<%= category %>">
                                  <input type="hidden" name="type" value="group">
                                  <input type="hidden" name="username" value="<%= trainer.username %>">
                                  <input type="hidden" name="numOfSessions" value="10">
                              </form>
                                <p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                </div>
          </div>
          <div class="personal">
                  <h1 style="text-align: center;margin-top: 25px;">Sessions Available</h1>
                  <div id="sessions">
                    <section class="text-gray-700 body-font overflow-hidden">
                        <div class="container px-5 py-24 mx-auto">
                          <div class="flex flex-wrap -m-4">
                            <div class="p-4 xl:w-1/3 md:w-1/2 w-full">
                              <div class="h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden">
                                <h2 class="text-sm tracking-widest title-font mb-1 font-medium">1 Session</h2>
                                <h1 class="text-5xl text-gray-900 pb-4 mb-4 border-b border-gray-200 leading-none">₹1000</h1>
                                <p class="flex items-center text-gray-600 mb-2">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Vexillologist pitchfork
                                </p>
                                <p class="flex items-center text-gray-600 mb-2">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Tumeric plaid portland
                                </p>
                                <p class="flex items-center text-gray-600 mb-6">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Mixtape chillwave tumeric
                                </p>
                                <form class="newSession" action="/user/newSession" method="POST">
                                  <button class="flex items-center mt-auto text-white bg-blue-500 border-0 py-2 px-4 w-full focus:outline-none hover:bg-blue-600 rounded">Pay Now
                                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                  </svg>
                                  </button>
                                  <input type="hidden" name="trainerId" value="<%= trainer._id %>">
                                  <input type="hidden" name="category" value="<%= category %>">
                                  <input type="hidden" name="type" value="personal">
                                  <input type="hidden" name="username" value="<%= trainer.username %>">
                                  <input type="hidden" name="numOfSessions" value="1">
                              </form>
                                <p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>
                              </div>
                            </div>
                            <div class="p-4 xl:w-1/3 md:w-1/2 w-full">
                              <div class="h-full p-6 rounded-lg border-2 border-blue-500 flex flex-col relative overflow-hidden">
                                <span class="bg-blue-500 text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl">POPULAR</span>
                                <h2 class="text-sm tracking-widest title-font mb-1 font-medium">5 Sessions</h2>
                                <h1 class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200">
                                  <span>₹3000</span>
                                </h1>
                                <p class="flex items-center text-gray-600 mb-2">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Vexillologist pitchfork
                                </p>
                                <p class="flex items-center text-gray-600 mb-2">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Tumeric plaid portland
                                </p>
                                <p class="flex items-center text-gray-600 mb-2">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Hexagon neutra unicorn
                                </p>
                                <p class="flex items-center text-gray-600 mb-6">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Mixtape chillwave tumeric
                                </p>
                                <form class="newSession" action="/user/newSession" method="POST">
                                  <button class="flex items-center mt-auto text-white bg-blue-500 border-0 py-2 px-4 w-full focus:outline-none hover:bg-blue-600 rounded">Pay Now
                                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                  </svg>
                                  </button>
                                  <input type="hidden" name="trainerId" value="<%= trainer._id %>">
                                  <input type="hidden" name="category" value="<%= category %>">
                                  <input type="hidden" name="type" value="personal">
                                  <input type="hidden" name="username" value="<%= trainer.username %>">
                                  <input type="hidden" name="numOfSessions" value="5">
                              </form>
                                <p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>
                              </div>
                            </div>
                            <div class="p-4 xl:w-1/3 md:w-1/2 w-full">
                              <div class="h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden">
                                <h2 class="text-sm tracking-widest title-font mb-1 font-medium">10 Sessions</h2>
                                <h1 class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200">
                                  <span>₹5000</span>
                                </h1>
                                <p class="flex items-center text-gray-600 mb-2">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Vexillologist pitchfork
                                </p>
                                <p class="flex items-center text-gray-600 mb-2">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Tumeric plaid portland
                                </p>
                                <p class="flex items-center text-gray-600 mb-2">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Hexagon neutra unicorn
                                </p>
                                <p class="flex items-center text-gray-600 mb-2">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Vexillologist pitchfork
                                </p>
                                <p class="flex items-center text-gray-600 mb-6">
                                  <span class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                      <path d="M20 6L9 17l-5-5"></path>
                                    </svg>
                                  </span>Mixtape chillwave tumeric
                                </p>
                                <form class="newSession" action="/user/newSession" method="POST">
                                  <button class="flex items-center mt-auto text-white bg-blue-500 border-0 py-2 px-4 w-full focus:outline-none hover:bg-blue-600 rounded">Pay Now
                                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                  </svg>
                                  </button>
                                  <input type="hidden" name="trainerId" value="<%= trainer._id %>">
                                  <input type="hidden" name="category" value="<%= category %>">
                                  <input type="hidden" name="type" value="personal">
                                  <input type="hidden" name="username" value="<%= trainer.username %>">
                                  <input type="hidden" name="numOfSessions" value="10">
                              </form>
                                <p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
            </div>
          </div>

    </div>

    <script>

      var id = <%-JSON.stringify(trainer._id) %>;
      var trainerCat = <%-JSON.stringify(category) %>;
      var trainerType = 'personal';
      var name = <%- JSON.stringify(trainer.username)%>;

      var trainerPersonals = <%- JSON.stringify(trainer.personalSlots) %>;
      var persSlots = null;

      $(".button").click(function() {
        $(this).addClass("activated");
        $(".button").not(this).removeClass('activated');
        trainerType = this.name;
        if(trainerType == 'personal'){
            $('.personal').removeAttr('hidden');
            $('.group').attr('hidden','');
        }
        else{
            $('.group').removeAttr('hidden');
            $('.personal').attr('hidden','');
        }

        $('#trainerTT tr').each(function(){
          $(this).find('td').each(function(){
            $(this).find('.content')[0].innerHTML = `<div class="content">
                              <div class="empty">
                                - 
                              </div>
                            </div>`
            $(this).find('.content').css('background-color',"unset");
            $(this).find('.content').css('color',"unset");
            });
          });


        $.ajax({
        url:'http://127.0.0.1:3500/user/getTimeTable/'+id,
        // url:'https://shapeyou-demo.herokuapp.com/user/getTimeTable/'+id,
        method: 'GET',
        data: {trainerType},
        success:(data)=>{
          var index = 0;
          $('#trainerTT tr').each(function(){
            var timeR = null;
            var timeStr = null;
            if(index!=0){
                timeR = $(this).find('th')[0].innerText;
                var timeA = timeR.split('-');
                timeStr = timeA[0].slice(0,1)+":00 - "+timeA[1].slice(0,1)+":00";
                timeStr2 = timeA[0].slice(0,1)+":00-"+timeA[1].slice(0,1)+":00";
              }
              
              $(this).find('td').each(function(){
                var col = $("table thead tr th").eq($(this).index());
                var key = col[0].getAttribute('value');
                var key2 = key.split(' ').join('-');
                var dayCol = col[0].innerHTML.split('>')[2].split('<')[0];
              
                if(trainerType == "group" && index!=0 && data[key]!=undefined){

                  for(var i=0;i<data[key].length;i++){
                    if(data[key][i].slice(0,11) == timeStr && data[key][i].substring(12,data[key][i].length-2)==trainerCat){
                        $(this).find('.content')[0].innerHTML = `<button class='bookSlot'>Book Your Slot</button><button class="booked" hidden disabled>BOOKED</button>`;
                        $(this).find('.content').find('.empty').attr('hidden','');
                        $(this).find('.content').find('.bookSlot').attr('data-key',key.replace(/\s/g, '-'));
                        $(this).find('.content').find('.bookSlot').attr('data-slot',timeStr.replace(/\s/g, ''));
                        $(this).find('.content').find('.bookSlot').attr('data-trainer',name);
                        $(this).find('.content').css('background-color',"yellowgreen");
                        $(this).find('.content').css('color',"darkgreen");
                      
                    }
                  }
                }else if(trainerType == "personal" && index!=0){
                    switch (dayCol){
                      case 'MON':
                          dayCol = "Monday";
                          break;
                      case 'TUE':
                          dayCol = "Tuesday";
                          break;
                      case 'WED':
                          dayCol = "Wednesday";
                          break;
                      case 'THU':
                          dayCol = "Thursday";
                          break;
                      case 'FRI':
                          dayCol = "Friday";
                          break;
                      case 'SAT':
                          dayCol = "Saturday";
                          break;
                      default:
                          dayCol = "Sunday";
                  };
                  for(var i=0;i<data[dayCol].length;i++){
                    if(data[dayCol][i].slice(0,9)==timeStr2 && parseInt(data[dayCol][i].slice(-1))==0){
                          $(this).find('.content')[0].innerHTML = `<button class='bookSlot'>Book Your Slot</button><button class="booked" hidden disabled>BOOKED</button>`;
                          $(this).find('.content').find('.empty').attr('hidden','');
                          $(this).find('.content').find('.bookSlot').attr('data-key',key.replace(/\s/g, '-'));
                          $(this).find('.content').find('.bookSlot').attr('data-key2',dayCol);
                          $(this).find('.content').find('.bookSlot').attr('data-slot',timeStr.replace(/\s/g, ''));
                          $(this).find('.content').find('.bookSlot').attr('data-trainer',name);
                          $(this).find('.content').css('background-color',"yellowgreen");
                          $(this).find('.content').css('color',"darkgreen");
                    }
                  };
                }
              });
              index++;
            });
          }
        });

      });


      // DATE HEADINGS OF TIME TABLE 

      var curr = new Date;
      var firstday = new Date(curr.setDate(curr.getDate() - curr.getDay() +1));
      var lastday = new Date(curr.setDate(curr.getDate() - curr.getDay()+6));
    
      var d = new Date();
      var m = d.getMinutes();
      var h = d.getHours();
      if(h == '0') {h = 12}
      
      var currentTime = h+":"+m;
    
      var weekday=new Array(7);
      weekday[0]="MON";
      weekday[1]="TUE";
      weekday[2]="WED";
      weekday[3]="THU";
      weekday[4]="FRI";
      weekday[5]="SAT";
      weekday[6]="SUN";
    
    
      var data=new Object();
    
      var j=1;
    
      var first = firstday;
  
    
      for(var d = 0;d<6; d++){
          var nextDay = new Date();
          nextDay.setDate(firstday.getDate()+1);
          var datePassed = firstday.getDate() + " " + firstday.toLocaleString('default', { month: 'short' })+" "+firstday.getFullYear();
          data[datePassed] = new Array();
          firstday = nextDay;
      }
    
    
      firstday = first;
    
      for(var i=firstday.getDate();i<=lastday.getDate();i++){
          document.getElementById('dateT'+j).innerHTML = `<span>${i}<br>${weekday[j-1]}</span>`;
          document.getElementById('dateT'+j).setAttribute('value',Object.keys(data)[j-1]);
          j++;
      }

      //FILLING TABLE DETAILS

      $.ajax({
        url:'http://127.0.0.1:3500/user/getTimeTable/'+id,
        // url:'https://shapeyou-demo.herokuapp.com/user/getTimeTable/'+id,
        method: 'GET',
        data: {trainerType},
        success:(data)=>{
          var index = 0;
          $('#trainerTT tr').each(function(){
            var timeR = null;
            var timeStr = null;
            if(index!=0){
                timeR = $(this).find('th')[0].innerText;
                var timeA = timeR.split('-');
                timeStr = timeA[0].slice(0,1)+":00 - "+timeA[1].slice(0,1)+":00";
                timeStr2 = timeA[0].slice(0,1)+":00-"+timeA[1].slice(0,1)+":00";
              }
              
              $(this).find('td').each(function(){
                var col = $("table thead tr th").eq($(this).index());
                var key = col[0].getAttribute('value');
                var key2 = key.split(' ').join('-');
                var dayCol = col[0].innerHTML.split('>')[2].split('<')[0];
              
                if(trainerType == "group" && index!=0 && data[key]!=undefined){

                  for(var i=0;i<data[key].length;i++){
                    if(data[key][i].slice(0,11) == timeStr && data[key][i].substring(12,data[key][i].length-2)==trainerCat){
                        $(this).find('.content')[0].innerHTML = `<button class='bookSlot'>Book Your Slot</button><button class="booked" hidden disabled>BOOKED</button>`;
                        $(this).find('.content').find('.empty').attr('hidden','');
                        $(this).find('.content').find('.bookSlot').attr('data-key',key.replace(/\s/g, '-'));
                        $(this).find('.content').find('.bookSlot').attr('data-slot',timeStr.replace(/\s/g, ''));
                        $(this).find('.content').find('.bookSlot').attr('data-trainer',name);
                        $(this).find('.content').css('background-color',"yellowgreen");
                        $(this).find('.content').css('color',"darkgreen");
                      
                    }
                  }
                }else if(trainerType == "personal" && index!=0){
                    switch (dayCol){
                      case 'MON':
                          dayCol = "Monday";
                          break;
                      case 'TUE':
                          dayCol = "Tuesday";
                          break;
                      case 'WED':
                          dayCol = "Wednesday";
                          break;
                      case 'THU':
                          dayCol = "Thursday";
                          break;
                      case 'FRI':
                          dayCol = "Friday";
                          break;
                      case 'SAT':
                          dayCol = "Saturday";
                          break;
                      default:
                          dayCol = "Sunday";
                  };
                  for(var i=0;i<data[dayCol].length;i++){
                    if(data[dayCol][i].slice(0,9)==timeStr2 && parseInt(data[dayCol][i].slice(-1))==0){
                          $(this).find('.content')[0].innerHTML = `<button class='bookSlot'>Book Your Slot</button><button class="booked" hidden disabled>BOOKED</button>`;
                          $(this).find('.content').find('.empty').attr('hidden','');
                          $(this).find('.content').find('.bookSlot').attr('data-key',key.replace(/\s/g, '-'));
                          $(this).find('.content').find('.bookSlot').attr('data-key2',dayCol);
                          $(this).find('.content').find('.bookSlot').attr('data-slot',timeStr.replace(/\s/g, ''));
                          $(this).find('.content').find('.bookSlot').attr('data-trainer',name);
                          $(this).find('.content').css('background-color',"yellowgreen");
                          $(this).find('.content').css('color',"darkgreen");
                    }
                  };
                }
              });
              index++;
            });
          }
        });
        


        $(document).on('click', '.bookSlot', function() {
              const key  = $(this).attr('data-key');
              const key3  = $(this).attr('data-key2');
              const slot = $(this).attr('data-slot');
              const name = $(this).attr('data-trainer');

              $(this).attr('hidden','');
              $(this).next().removeAttr('hidden');

              const date = new Object();
              const date2 = new Object();
              const userCount = new Object();

              date[key] = new Array();
              date[key].push(slot);

              if(trainerType == "group"){
                var key2 = key.split('-').join(' ');
                date2[key2] = slot;
                userCount[id] = date2;
              }else{
                date2[key3] = slot;
                userCount[id] = date2;
              }


              $.ajax({
                url:'/user/bookedSlots/' + <%- JSON.stringify(currentUser._id)%>,
                method:'GET',
                success:(booked)=>{
                  if(booked.length == 0){
                    var newObj = new Object();
                    newObj[name] = new Array();
                    newObj[name].push(date);
                    booked.push(newObj);
                  }

                  for(var i=0;i<booked.length;i++){
                    if(Object.keys(booked[i])[0] == name){
                      var temp = booked[i][Object.keys(booked[i])[0]];
                      if(temp.length == 0){
                        booked[i][Object.keys(booked[i])[0]].push(date); 
                      }else{
                        var isThere = false;
                        for(var j=0;j<temp.length;j++){
                          if(key in temp[j]){
                            isThere = true;
                            booked[i][Object.keys(booked[i])[0]][j][key].push(slot);
                            break;
                          }
                        }
                      if(!isThere){
                        booked[i][Object.keys(booked[i])[0]].push(date); 
                        break;
                      }
                    }
                  }
                }

                console.log(booked);
                var content = `<input type="hidden" name="booked" value=${JSON.stringify(booked)}>`
                
                $('.newSession').append(content);
              
            }
          });
        });

    </script>
    
</body>
</html>