<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/trainerDashboard.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">ShapeYou</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#setTimeTable">
                Set Time
              </button>
              
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-link mr-3"><a href="/trainer/details">Fill Details</a></li>
              <li class="nav-link mr-3"><a href="/trainer/personalSlots">Personal time slots</a></li>
            <li class="nav-link"><a href="/auth/logout" style="text-decoration: none;">Logout</a></li>
          </ul>
        </div>
    </nav>

    <br>

    <!-- Trainer TimeTable -->
    
    <div class="container trainerTimeTable">
        <table class="table" id="trainerTT">
            <thead class="thead-dark">
              <tr style="text-align: center;">
                <th scope="col">Slots</th>
                <th scope="col" id="dateT1"></th>
                <th scope="col" id="dateT2"></th>
                <th scope="col" id="dateT3"></th>
                <th scope="col" id="dateT4"></th>
                <th scope="col" id="dateT5"></th>
                <th scope="col" id="dateT6"></th>
              </tr>
            </thead>
            <tbody style="text-align:center">
                <tr>
                  <th scope="row">3PM-4PM</th>
                  <td>
                      <div class="content mx-auto">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                      
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                      
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">4PM-5PM</th>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row">5PM-6PM</th>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row">6PM-7PM</th>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row">7PM-8PM</th>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  <td>
                      <div class="content">
                        -    
                      </div>
                  </td>
                  
                </tr>
              </tbody>
            </table>

    </div>


    <!-- Course Details -->

    <div class="trainingType">
        <button name = "Personal" class="button " style="margin:20px">Personal</button>
        <button name = "Group" class="button activated" style="margin:20px">Group</button>
    </div>

    <div class="container courseContainer">
        <div class="group" >
            <h2 class="todayDate"></h2>
            <div id="classesG">
                
            </div>
        </div>
        <div class="personal" hidden>
            <h2 class="todayDate"></h2>
            <div id="classesP">
        </div>
    </div>


    <!-- Modal for set Time -->
    <div class="modal fade" id="setTimeTable" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <% trainer.subCategories.forEach((subs,index)=>{%>
                    <% if(index==0){ %>
                        <div class="title" name="<%= subs.replace(/\s/g, '') %>">
                            <h5 class="modal-title" id="exampleModalLongTitle"><%=subs %></h5>
                    <%}else{%>
                        <div class="title" name="<%= subs.replace(/\s/g, '') %>" hidden>
                            <%if(index!=(trainer.subCategories.length-1)){ %>
                                <button type="button" class="prev">&lt;</button>
                            <%}%>
                            <h5 class="modal-title" id="exampleModalLongTitle" ><%=subs %></h5>
                        <%}%>
                        <%if(trainer.subCategories.length>1 && index!=(trainer.subCategories.length-1)){ %>
                            <button type="button" class="next">&gt;</button>
                        <% }else if(trainer.subCategories.length>1 && index ==(trainer.subCategories.length-1)){ %>
                            <button type="button" class="prev">&lt;</button>
                        <%}%>

                    </div>

                <% }) %>
                
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <table class="table" id="weekTable">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Slots</th>
                        <th scope="col" id="date1"></th>
                        <th scope="col" id="date2"></th>
                        <th scope="col" id="date3"></th>
                        <th scope="col" id="date4"></th>
                        <th scope="col" id="date5"></th>
                        <th scope="col" id="date6"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">3PM-4PM</th>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                            
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                            
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">4PM-5PM</th>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        
                      </tr>
                      <tr>
                        <th scope="row">5PM-6PM</th>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        
                      </tr>
                      <tr>
                        <th scope="row">6PM-7PM</th>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        
                      </tr>
                      <tr>
                        <th scope="row">7PM-8PM</th>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning">
                                    <input type="checkbox" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                            </div>
                        </td>
                        
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary save"  data-dismiss="modal">Save changes</button>
            </div>
          </div>
        </div>
      </div>


      <script>

          var trainerPersonals = <%- JSON.stringify(trainer.personalSlots) %>;

          var compare = new Array();
          var compareP = null;
          
          var persSlots = null;

          $.ajax({
              url:'http://127.0.0.1:3500/trainer/getTimeTable/<%= trainer._id %>',
            //   url:'https://shapeyou-demo.herokuapp.com/trainer/getTimeTable/<%= trainer._id %>',
              method: 'GET',
              success:(data)=>{
                  var index = 0;
                  $('#trainerTT tr').each(function(){
                      var timeR = null;
                      var timeStr = null;
                      if(index!=0){
                          timeR = $(this).find('th')[0].innerText;
                          var timeA = timeR.split('-');
                          timeStr = timeA[0].slice(0,1)+":00 - "+timeA[1].slice(0,1)+":00";
                          timeStr2 = timeA[0].slice(0,1)+":00-"+timeA[1].slice(0,1)+":00";
                        }
                        
                        $(this).find('td').each(function(){
                            var col = $("table thead tr th").eq($(this).index());
                            var key = col[0].getAttribute('value');
                            var dayCol = col[0].innerHTML.split('>')[2].split('<')[0];

                            switch (dayCol){
                                case 'MON':
                                    dayCol = "Monday";
                                    break;
                                case 'TUE':
                                    dayCol = "Tuesday";
                                    break;
                                case 'WED':
                                    dayCol = "Wednesday";
                                    break;
                                case 'THU':
                                    dayCol = "Thursday";
                                    break;
                                case 'FRI':
                                    dayCol = "Friday";
                                    break;
                                case 'SAT':
                                    dayCol = "Saturday";
                                    break;
                                default:
                                    dayCol = "Sunday";
                            }

                            persSlots = trainerPersonals[dayCol];

                            for(var i=0;i<persSlots.length;i++){
                                if(persSlots[i] == timeStr2){
                                    $(this).find('.content')[0].innerText = "Personal";
                                    $(this).find('.content').css('background-color',"wheat");
                                }
                            }


                            if(index!=0 && data[key]!=undefined){
                                for(var i=0;i<data[key].length;i++){
                                    if(data[key][i].slice(0,11) == timeStr){
                                        if(data[key][i].slice(12,) == "CrossFit"){
                                            $(this).find('.content')[0].innerText = "C";
                                            $(this).find('.content').css('background-color',"blue");
                                            
                                        }
                                        else if(data[key][i].slice(12,) == "Functional&StrengthTraining"){
                                            $(this).find('.content')[0].innerText = "F";
                                            $(this).find('.content').css('background-color',"red");
                                            
                                        }
                                        else if(data[key][i].slice(12,) == "MMA&Boxing"){
                                            $(this).find('.content')[0].innerText = "MMA";
                                            $(this).find('.content').css('background-color',"orange");
                                            
                                        }
                                        else if(data[key][i].slice(12,) == "Zumba"){
                                            $(this).find('.content')[0].innerText = "Z";
                                            $(this).find('.content').css('background-color',"grey");
                                            
                                        }
                                        else if(data[key][i].slice(12,) == "Dance"){
                                            $(this).find('.content')[0].innerText = "D";
                                            $(this).find('.content').css('background-color',"pink");
                                            
                                        }
                                        else if(data[key][i].slice(12,) == "Yoga"){
                                            $(this).find('.content')[0].innerText = "Y";
                                            $(this).find('.content').css('background-color',"green");
                                            
                                        }
                                        else if(data[key][i].slice(12,) == "Meditation"){
                                            $(this).find('.content')[0].innerText = "M";
                                            $(this).find('.content').css('background-color',"black");
                                            
                                        }
                                        else if(data[key][i].slice(12,) == "Nutrition"){
                                            $(this).find('.content')[0].innerText = "N";
                                            $(this).find('.content').css('background-color',"brown");
                                            
                                        }else{
                                            $(this).find('.content')[0].innerText = "T";
                                            $(this).find('.content').css('background-color',"lightgreen");
                                            
                                        }
                                        $(this).find('.content').css('border-radius',"20px");
                                        $(this).find('.content').css('color',"darkgreen");
                                    }
                                }
                            }
                            
                        });
                        index++;
                    });
                    
                    var today = new Date();

                    var todayTime = today.getDate()+ " "+today.toLocaleString('default', { month: 'short' })+ " " + today.getFullYear();
                    var todayDay = today.getDay();
                    var text = " ";
                    var text2 = " ";

                    if(data && (todayTime in data)){
                        for(var i =0;i<data[todayTime].length;i++){
                            compare.push(data[todayTime][i]);
                            text += `<div class="slotRow">
                                    <div class="slots">
                                    ${data[todayTime][i]}
                                    </div>
                                    <div class="createLink">
                                        <form method="post" action='/trainer/createMeeting'>
                                            <button style="background-color:red;cursor:default" disabled id="create${i}">Create</button>
                                        </form>
                                    </div>
                                    </div>`
                        }


                        document.getElementById('classesG').innerHTML = text;
                    }

                    var weekday=new Array(7);
                    weekday[0]="Sunday";
                    weekday[1]="Monday";
                    weekday[2]="Tuesday";
                    weekday[3]="Wednesday";
                    weekday[4]="Thursday";
                    weekday[5]="Friday";
                    weekday[6]="Saturday";

                    compareP = trainerPersonals[weekday[todayDay]];
                    for(var j=0;j<trainerPersonals[weekday[todayDay]].length;j++){
                        text2 += `<div class="slotRow">
                                <div class="slots">
                                ${trainerPersonals[weekday[todayDay]][j]}
                                </div>
                                <div class="createLink">
                                    <form method="post" action='/trainer/createMeeting'>
                                        <button style="background-color:red;cursor:default" disabled id="createP${j}">Create</button>
                                    </form>
                                </div>
                                </div>`
                    }

                    document.getElementById('classesP').innerHTML = text2;

                }
            });


            setTimeout(function(){
                $('#weekTable tr').each(function(){
                    $(this).find('td').each(function(){
                        var col = $("#weekTable thead tr th").eq($(this).index());
                        var dayCol = col[0].innerText.slice(-3);

                        switch (dayCol){
                                case 'MON':
                                    dayCol = "Monday";
                                    break;
                                case 'TUE':
                                    dayCol = "Tuesday";
                                    break;
                                case 'WED':
                                    dayCol = "Wednesday";
                                    break;
                                case 'THU':
                                    dayCol = "Thursday";
                                    break;
                                case 'FRI':
                                    dayCol = "Friday";
                                    break;
                                case 'SAT':
                                    dayCol = "Saturday";
                                    break;
                                default:
                                    dayCol = "Sunday";
                            }

                            var slotsP = trainerPersonals[dayCol];

                            var timeR = $(this).closest('tr').find('th')[0].innerText;
                            var timeA = timeR.split('-');
                            var timeStr = timeA[0].slice(0,1)+":00-"+timeA[1].slice(0,1)+":00";

                            for(var j=0;j<slotsP.length;j++){
                                if(slotsP[j] == timeStr){
                                    $(this).find('input[type="checkbox"]').attr('disabled','');
                                    $(this).find('input[type="checkbox"]').parent().css("background-color","grey");
                                    $(this).find('input[type="checkbox"]').parent().css("border-color","grey");
                                }
                            }
                    });
                });
            }, 500);
            
            
            setInterval(()=>{
                var today = new Date();
                var m = today.getMinutes();
                var h = today.getHours();
                if(h == '0') {h = 12}
                if(m<10){
                        m = '0' + m;
                }
                if(h>12){
                    h = h-12;
                    
                    m = m+"PM";
                }else{
                    m = m + 'AM';
                }
                var currentTime = h+":"+m;
                
                $('.todayDate').text(today.toLocaleString('default', { month: 'short' }) + " " + today.getDate()+ " " + today.getFullYear() +" " + currentTime);

                var compare1 = currentTime.slice(0,4);

                for(var i=0;i<compare.length;i++){
                    var compare2 = compare[i].slice(0,4);
                    if(((parseInt(compare1.slice(0,2)) == parseInt(compare2.slice(0,2))-1) && (compare1.slice(-2)>=45))    ||   ((compare1.slice(0,2) == compare2.slice(0,2)) && (compare1.slice(-2) <=15 ))){
                        $('#create'+i).removeAttr('disabled');
                        $('#create'+i).css('background-color','green');
                        $('#create'+i).css('cursor','pointer');

                    }
                    else{
                        $('#create'+i).attr('disabled','');
                        $('#create'+i).css('background-color','#99AAAB');
                        $('#create'+i).css('color','white');
                        $('#create'+i).css('border-radius','20px');
                        $('#create'+i).css('cursor','default');
                    }

                }

                var compare2 = compareP;
                for(var j=0;j<compare2.length;j++){
                    if(((parseInt(compare1.slice(0,2)) == parseInt(compare2[j].slice(0,2))-1) && (compare1.slice(-2)>=45))    ||   ((parseInt(compare1.slice(0,2)) == parseInt(compare2[j].slice(0,2))) && (compare1.slice(-2) <=15 ))){
                        $('#createP'+j).removeAttr('disabled');
                        $('#createP'+j).css('background-color','green');
                        $('#createP'+j).css('cursor','pointer');

                    }
                    else{
                        $('#createP'+j).attr('disabled','');
                        $('#createP'+j).css('background-color','#99AAAB');
                        $('#createP'+j).css('color','white');
                        $('#createP'+j).css('border-radius','20px');
                        $('#createP'+j).css('cursor','default');
                    }
                }

            },1000);
            
            
            
            
        $(".button").click(function() {
            var name = this.name;
            $(this).addClass("activated");
            $(".button").not(this).removeClass('activated');
           
            if(name == 'Personal'){
                $('.personal').removeAttr('hidden');
                $('.group').attr('hidden','');
            }
            else{
                $('.group').removeAttr('hidden');
                $('.personal').attr('hidden','');
            }

        });

        var curr = new Date;
        var firstday = new Date(curr.setDate(curr.getDate() - curr.getDay() +1));
        var lastday = new Date(curr.setDate(curr.getDate() - curr.getDay()+6));


        var weekday=new Array(7);
        weekday[0]="MON";
        weekday[1]="TUE";
        weekday[2]="WED";
        weekday[3]="THU";
        weekday[4]="FRI";
        weekday[5]="SAT";
        weekday[6]="SUN";


        var data=new Object();

        var j=1;

        var first = firstday;


        for(var d = 0;d<6; d++){
            var nextDay = new Date();
            nextDay.setDate(firstday.getDate()+1);
            var datePassed = firstday.getDate() + " " + firstday.toLocaleString('default', { month: 'short' })+" "+firstday.getFullYear();
            data[datePassed] = new Array();
            firstday = nextDay;
        }


        firstday = first;

        for(var i=firstday.getDate();i<=lastday.getDate();i++){
            document.getElementById('date'+j).innerHTML = `<span>${i}<br>${weekday[j-1]}</span>`;
            document.getElementById('dateT'+j).innerHTML = `<span>${i}<br>${weekday[j-1]}</span>`;
            document.getElementById('dateT'+j).setAttribute('value',Object.keys(data)[j-1]);
            document.getElementById('date'+j).setAttribute('value',Object.keys(data)[j-1]);
            j++;
        }

        j=1;

        var nameHead=$('.title').attr('name');

        var nameArray = <%- JSON.stringify(trainer.subCategories) %>

        $(document).on('change', ':checkbox', function() {
           
            if(nameHead == 'Yoga'){
                if($(this).hasClass('Yoga')){
                    $(this).removeAttr('disabled');
                    $(this).removeClass('Yoga','');

                }else{
                    $(this).addClass('Yoga');
                    $(this).attr('name','Yoga');

                }
                $(this).next().css('background-color','green');
            }

            else if(nameHead=="Meditation"){
                if($(this).hasClass('Meditation')){
                    $(this).removeAttr('disabled');
                    $(this).removeClass('Meditation','');

                }else{
                    $(this).addClass('Meditation');
                    $(this).attr('name','Meditation');

                }
                $(this).next().css('background-color','black');
            }

            else if(nameHead=="CrossFit"){
                if($(this).hasClass('CrossFit')){
                    $(this).removeClass('CrossFit','');

                }else{
                    $(this).addClass('CrossFit');
                    $(this).attr('name','CrossFit');

                }
                $(this).next().css('background-color','blue');
            }

            else if(nameHead=="Functional&StrengthTraining"){
                if($(this).hasClass('Functional&StrengthTraining')){
                    $(this).removeAttr('disabled');
                    $(this).removeClass('Functional&StrengthTraining','');

                }else{
                    $(this).addClass('Functional&StrengthTraining');
                    $(this).attr('name','Functional&StrengthTraining');

                }
                $(this).next().css('background-color','red');
            }
            else if(nameHead=="Zumba"){
                if($(this).hasClass('Zumba')){
                    $(this).removeAttr('disabled');
                    $(this).removeClass('Zumba','');

                }else{
                    $(this).addClass('Zumba');
                    $(this).attr('name','Zumba');

                }
                $(this).next().css('background-color','grey');
            }
            else if(nameHead=="Dance"){
                if($(this).hasClass('Dance')){
                    $(this).removeAttr('disabled');
                    $(this).removeClass('Dance','');

                }else{
                    $(this).addClass('Dance');
                    $(this).attr('name','Dance');

                }
                $(this).next().css('background-color','pink');
            }
            else if(nameHead=="MMA&Boxing"){
                if($(this).hasClass('MMA&Boxing')){
                    $(this).removeAttr('disabled');
                    $(this).removeClass('MMA&Boxing','');

                }else{
                    $(this).addClass('MMA&Boxing');
                    $(this).attr('name','MMA&Boxing');

                }
                $(this).next().css('background-color','orange');
            }
            else if(nameHead=="Nutrition"){
                if($(this).hasClass('Nutrition')){
                    $(this).removeAttr('disabled');
                    $(this).removeClass('Nutrition','');

                }else{
                    $(this).addClass('Nutrition');
                    $(this).attr('name','Nutrition');
                }
                $(this).next().css('background-color','brown');
            }
            else{
                if($(this).hasClass('Therapy&counselling')){
                    $(this).removeAttr('disabled');
                    $(this).removeClass('Therapy&counselling','');

                }else{
                    $(this).addClass('Therapy&counselling');
                    $(this).attr('name','Therapy&counselling');

                }
                $(this).next().css('background-color','lightgreen');
            }

        });
        
        $(document).on('click', '.next', function() {
            $(this).parent().attr('hidden','');
            $(this).parent().next().removeAttr('hidden');
            nameHead = $(this).parent().next().attr('name');

            for(var i=0;i<nameArray.length;i++){

                if((nameHead != nameArray[i]) && $(`:checkbox:checked`).hasClass(`${nameArray[i].replace(/\s/g, '')}`)){
                    $(`input:checkbox[class='${nameArray[i].replace(/\s/g, '')}']:checked`).attr('disabled','disabled');
                }else if ($(`:checkbox:checked`).hasClass(`${nameHead}`)){
                    $(`input:checkbox[class='${nameHead}']:checked`).removeAttr('disabled');
                }
            }
        });

        
        $(document).on('click', '.prev', function() {
            $(this).parent().attr('hidden','');
            $(this).parent().prev().removeAttr('hidden');
            nameHead = $(this).parent().prev().attr('name');
            for(var i=0;i<nameArray.length;i++){
                if((nameHead != nameArray[i]) && $(`:checkbox:checked`).hasClass(`${nameArray[i].replace(/\s/g, '')}`)){
                    $(`input:checkbox[class='${nameArray[i].replace(/\s/g, '')}']:checked`).attr('disabled','disabled');
                }else if ($(`:checkbox:checked`).hasClass(`${nameHead}`)){
                    $(`input:checkbox[class='${nameHead}']:checked`).removeAttr('disabled');
                }
            }

        });



        $('.save').on('click',()=>{
            $('#weekTable tr').each(function(){
                var index = 0;
                $(this).find('td').each(function(){
                    if($(this).find('input[type="checkbox"]')[0].checked == true){
                        var subName = $(this).find(':checked').attr('name');
                        var timeR = $(this).closest('tr').find('th')[0].innerText;
                        var timeA = timeR.split('-');
                        var timeStr = timeA[0].slice(0,1)+":00 - "+timeA[1].slice(0,1)+":00"+" "+subName;
                        data[Object.keys(data)[index]].push(timeStr);
                    }
                    index++;
                });
            });
            $.ajax({
                url:'http://127.0.0.1:3500/trainer/setTimeTable/<%= trainer.id %>',
                // url:'https://shapeyou-demo.herokuapp.com/trainer/setTimeTable/<%= trainer.id %>',
                method:'PUT',
                data: data,
                success:()=>{
                    alert('Saved Time Table');
                }
            });
            window.location="http://127.0.0.1:3500/trainer";
            // window.location="https://shapeyou-demo.herokuapp.com/trainer";
        });


      </script>


</body>
</html>