<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>User dashboard</title>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="/stylesheets/userDashboard.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
                
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
                
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Clarence Taylor</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="" alt="" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <% user.trainers.forEach(function(trainer) { %>
                    <li class="nav-item"><a class="nav-link trainerId" data-id="<%= trainer.id %>" data-name="<%= trainer.name %>"><%= trainer.name %></a></li>
                  <% }) %>
                    
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">

                  <div class="container trainerTimeTable">
                    <table class="table" id="trainerTT">
                        <thead class="thead-dark">
                          <tr style="text-align: center;">
                            <th scope="col">Slots</th>
                            <th scope="col" id="dateT1"></th>
                            <th scope="col" id="dateT2"></th>
                            <th scope="col" id="dateT3"></th>
                            <th scope="col" id="dateT4"></th>
                            <th scope="col" id="dateT5"></th>
                            <th scope="col" id="dateT6"></th>
                          </tr>
                        </thead>
                        <tbody style="text-align:center">
                            <tr>
                              <th scope="row">3PM-4PM</th>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                                  
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                                  
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">4PM-5PM</th>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              
                            </tr>
                            <tr>
                              <th scope="row">5PM-6PM</th>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              
                            </tr>
                            <tr>
                              <th scope="row">6PM-7PM</th>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              
                            </tr>
                            <tr>
                              <th scope="row">7PM-8PM</th>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              <td>
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                    <button class='bookSlot' hidden>Book Your Slot</button>   
                                    <button class='booked' hidden>BOOKED</button>   
                                  </div>
                              </td>
                              
                            </tr>
                          </tbody>
                        </table>
            
                </div>
            </section>
            <hr class="m-0" />
        </div>

            <!-- Course Details -->

    <div class="container courseContainer">
        <div class="group" >
            <h2 id="todayDate"></h2>
            <div id="classes">
                
            </div>
        </div>
    </div>

      <script>
          
          var id;
          var trainer = null;
          var compare = new Array();
          var slots,slots2=null,slots3 = null;

            $(document).on('click', '.trainerId', function() {
              trainer = $(this);
              id = $(this).attr("data-id");
              name = $(this).attr("data-name");

              $('#trainerTT tr').each(function(){
                  $(this).find('td').each(function(){
                    $(this).find('.content')[0].innerHTML = `<div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>`
                    $(this).find('.content').css('background-color',"unset");
                    $(this).find('.content').css('color',"unset");
                    });
                  });



              $.ajax({
                url:'http://127.0.0.1:3500/user/getTimeTable/'+id,
                // url:'https://shapeyou-demo.herokuapp.com/user/getTimeTable/'+id,
                method: 'GET',
                success:(data)=>{
                  var index = 0;
                  $.ajax({
                    url:'http://127.0.0.1:3500/user/bookedSlots/<%= currentUser._id %>',
                    // url:'https://shapeyou-demo.herokuapp.com/user/bookedSlots/<%- JSON.stringify(currentUser._id)%>',
                    method: 'GET',  
                    success:(data2)=>{

                    for(var i=0;i<data2.length;i++){
                      if(Object.keys(data2[i])[0] == name){
                        slots = data2[i][Object.keys(data2[i])[0]];
                      }
                    }


                      $('#trainerTT tr').each(function(){
                        var timeR = null;
                        var timeStr = null;
                        if(index!=0){
                            timeR = $(this).find('th')[0].innerText;
                            var timeA = timeR.split('-');
                            timeStr = timeA[0].slice(0,1)+":00 - "+timeA[1].slice(0,1)+":00";
                            timeStr2 = timeA[0].slice(0,1)+":00-"+timeA[1].slice(0,1)+":00";
                          }
                          
                          $(this).find('td').each(function(){
                            var col = $("table thead tr th").eq($(this).index());
                            var key = col[0].getAttribute('value');
                            var key2 = key.split(' ').join('-');
                            if(slots){
                              for(var j=0;j<slots.length;j++){
                                if(key2 in slots[j]){
                                  slots2 = slots[j];
                                }
                              }
                            }

                            if(index!=0 && data[key]!=undefined){

                              for(var i=0;i<data[key].length;i++){
                                if(data[key][i].slice(0,11) == timeStr){

                                  if(slots2!=undefined && slots2[key2]!=undefined && slots2[key2].includes(timeStr2)){
                                    $(this).find('.content')[0].innerHTML = `<button class="booked" disabled>BOOKED</button>`;
                                    $(this).find('.content').find('.empty').attr('hidden','');
                                  }
                                  else{
                                    $(this).find('.content')[0].innerHTML = `<button class='bookSlot'>Book Your Slot</button><button class="booked" hidden disabled>BOOKED</button>`;
                                    $(this).find('.content').find('.empty').attr('hidden','');
                                    $(this).find('.content').find('.bookSlot').attr('data-key',key.replace(/\s/g, '-'));
                                    $(this).find('.content').find('.bookSlot').attr('data-slot',timeStr.replace(/\s/g, ''));
                                    $(this).find('.content').find('.bookSlot').attr('data-trainer',name);
                                    $(this).find('.content').css('background-color',"yellowgreen");
                                    $(this).find('.content').css('color',"darkgreen");
                                  }
                                }
                              }
                            }
                          });
                          index++;
                        });

                        var today = new Date();

                        var todayTime = today.getDate()+ "-"+today.toLocaleString('default', { month: 'short' })+ "-" + today.getFullYear();
                        var text = " ";

                          if(slots){
                            for(var i=0;i<slots.length;i++){
                              if(todayTime in slots[i]){
                                for(var j=0;j<slots[i][todayTime].length;j++){
                                  compare.push(slots[i][todayTime][j]);
                                  text += `<div class="slotRow">
                                              <div class="slots">
                                              ${slots[i][todayTime][j]}
                                              </div>
                                              <div class="joinLink">
                                                  <form method="get" action='/user/zoomDashboard/${id}'>
                                                      <button style="background-color:red;cursor:default" disabled id="join${j}">Join</button>
                                                  </form>
                                              </div>
                                              </div>`
                                }
                              }
                            }

                            document.getElementById('classes').innerHTML = text;
                        }
                    }
                  });
                }
              });
            });


            setInterval(()=>{
                var today = new Date();
                var m = today.getMinutes();
                var h = today.getHours();
                if(h == '0') {h = 12}
                if(m<10){
                    m = '0' + m;
                }
                
                if(h>12){
                    h = h-12;
                    m = m+"PM";
                }else{
                    m = m + 'AM';
                }
                var currentTime = h+":"+m;
                
                document.getElementById('todayDate').innerText = today.toLocaleString('default', { month: 'short' }) + " " + today.getDate()+ " " + today.getFullYear() +" " + currentTime;

                var compare1 = currentTime.slice(0,4);

                for(var i=0;i<compare.length;i++){
                    var compare2 = compare[i].slice(0,4);


                    if(((parseInt(compare1.slice(0,2)) == parseInt(compare2.slice(0,2))-1) && (compare1.slice(-2)>=45))    ||   ((compare1.slice(0,2) == compare2.slice(0,2)) && (compare1.slice(-2) <=40 ))){
                      $.ajax({
                        url:'http://127.0.0.1:3500/user/isCreated/'+id,
                        // url:'https://shapeyou-demo.herokuapp.com/user/isCreated/'+id,
                        method: 'GET',
                        success:(data)=>{
                          if(data.isCreated == true){
                            $('#join'+(i-1)).removeAttr('disabled');
                            $('#join'+(i-1)).css('background-color','green');
                            $('#join'+(i-1)).css('cursor','pointer');
                          }
                        }
                      }); 
                    }
                    else{
                        $('#join'+i).attr('disabled','');
                        $('#join'+i).css('background-color','#99AAAB');
                        $('#join'+i).css('color','white');
                        $('#join'+i).css('border-radius','20px');
                        $('#join'+i).css('cursor','default');
                    }
                }

            },1000);
            

        var curr = new Date;
          var firstday = new Date(curr.setDate(curr.getDate() - curr.getDay() +1));
          var lastday = new Date(curr.setDate(curr.getDate() - curr.getDay()+6));
        
          var d = new Date();
          var m = d.getMinutes();
          var h = d.getHours();
          if(h == '0') {h = 12}
          
          var currentTime = h+":"+m;
        
          var weekday=new Array(7);
          weekday[0]="MON";
          weekday[1]="TUE";
          weekday[2]="WED";
          weekday[3]="THU";
          weekday[4]="FRI";
          weekday[5]="SAT";
          weekday[6]="SUN";
        
        
          var data=new Object();
        
          var j=1;
        
          var first = firstday;
      
        
          for(var d = 0;d<6; d++){
              var nextDay = new Date();
              nextDay.setDate(firstday.getDate()+1);
              var datePassed = firstday.getDate() + " " + firstday.toLocaleString('default', { month: 'short' })+" "+firstday.getFullYear();
              data[datePassed] = new Array();
              firstday = nextDay;
          }
        
        
          firstday = first;
        
          for(var i=firstday.getDate();i<=lastday.getDate();i++){
              document.getElementById('dateT'+j).innerHTML = `<span>${i}<br>${weekday[j-1]}</span>`;
              document.getElementById('dateT'+j).innerHTML = `<span>${i}<br>${weekday[j-1]}</span>`;
              document.getElementById('dateT'+j).setAttribute('value',Object.keys(data)[j-1]);
              j++;
          }
        
          j=1;       
          
          $(document).on('click', '.bookSlot', function() {
              const key  = $(this).attr('data-key');
              const slot = $(this).attr('data-slot');
              const name = $(this).attr('data-trainer');

              $(this).attr('hidden','');
              $(this).next().removeAttr('hidden');

              const bookedSlots = new Object();
              const date = new Object();
              const date2 = new Object();
              const userCount = new Object();

              date[key] = new Array();
              date[key].push(slot);

              var key2 = key.split('-').join(' ');

              date2[key2] = slot;

              userCount[id] = date2;

              $.ajax({
                url:'/user/bookedSlots/' + <%- JSON.stringify(currentUser._id)%>,
                method:'GET',
                success:(booked)=>{

                  for(var i=0;i<booked.length;i++){
                    if(Object.keys(booked[i])[0] == name){
                      var temp = booked[i][Object.keys(booked[i])[0]];
                      if(temp.length == 0){
                        booked[i][Object.keys(booked[i])[0]].push(date); 
                      }else{
                        var isThere = false;
                        for(var j=0;j<temp.length;j++){
                          if(key in temp[j]){
                            isThere = true;
                            booked[i][Object.keys(booked[i])[0]][j][key].push(slot);
                            break;
                          }
                        }
                      if(!isThere){
                        booked[i][Object.keys(booked[i])[0]].push(date); 
                        break;
                      }
                    }
                  }
                }

                  $.ajax({
                    url:'/user/updateuser',
                    method:'PUT',
                    data:{booked,userCount},
                    success:(data2)=>{
                      // console.log(data2);
                      window.location = 'http://127.0.0.1:3500/user/userDashboard/<%= currentUser._id %>';
                        //window.location ='https://shapeyou-demo.herokuapp.com/user/userDashboard/',
                    }
                  });

                }
              });
          });


        </script>
    </body>
</html>