<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>User dashboard</title>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="/stylesheets/userDashboard.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
                
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
                
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav" style="background-color: #79B258 !important;">
          <div class="text-left">
            <a href="/user" style="color: white;">Go back</a>
          </div>
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none"><%= user.username %></span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile mx-auto mb-2" src="/images/arnav.png" alt="" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <% if(user.trainers.length == 0) { %>
                    <li class="nav-item">No trainers purchased yet</li>
                    <li class="nav-item"><a class="nav-link btn" href="/auth/logout" style="color: white;">Sign Out</a></li>
                  <% } else {%>
                    <li class="nav-item dropright">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Group trainers
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% user.trainers.forEach(function(trainer) { %>
                          <% if(trainer.type == 'group') { %>
                          <a class="nav-link btn trainerId" style="color: black" data-id="<%= trainer.id %>" data-name="<%= trainer.name %>"><%= trainer.name %></a>
                          <% } %>
                        <% }) %>
                      </div>
                    </li>

                    <li class="nav-item dropright">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Personal trainers
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% user.trainers.forEach(function(trainer) { %>
                          <% if(trainer.type == 'personal') { %>
                          <a class="nav-link btn trainerId" style="color: black" data-id="<%= trainer.id %>" data-name="<%= trainer.name %>"><%= trainer.name %></a>
                          <% } %>
                        <% }) %>
                      </div>
                    </li>
                    <li class="nav-item"><a class="nav-link btn" href="/auth/logout" style="color: white;">Sign Out</a></li>
                  <% } %>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
          <h3 class="text-center"> 
            <span class="trainerName"></span>'s time table  <br>
            <h4 class="text-center">SubCategory:<span id="subcat"></span></h4>
          </h3>
          <!-- About-->
          <section class="resume-section" id="about">
            <div class="resume-section-content">
                  <div class=" container infoContainer text-right" >
                    
                    <h4>Num Of Sessions Remaining: <span id="numOfSessions"></span></h4>
                    <h4>Sessions expires on: <span id="val"></span></h4>
                  </div>

                  <div id="loading">
                    <img id="loading-image" src="/images/ajax-loader.gif" alt="Loading..." />
                  </div>
            

                  <div class="container trainerTimeTable table-responsive" id="container1" hidden>
                    <table class="table table-bordered" id="trainerTT">
                        <thead class="week-names">
                          <tr style="text-align: center;font-family: 'Roboto', sans-serif;">
                            <th scope="col"class="time-interval" style="background-color: #888888;vertical-align: inherit;" >Slots</th>
                            <th scope="col"  style="background-color: rgb(144, 140, 140); color:black" id="dateT1"></th>
                            <th scope="col" id="dateT2"></th>
                            <th scope="col" id="dateT3"></th>
                            <th scope="col" id="dateT4"></th>
                            <th scope="col" id="dateT5"></th>
                            <th scope="col" id="dateT6"></th>
                            <th scope="col" style="background-color: rgb(144, 140, 140); color:black" id="dateT7"></th>
                          </tr>
                        </thead>
                          <tbody style="text-align:center">
                              <tr>
                                <th scope="row" class="time-interval">3PM-4PM</th>
                                <td class="weekend">
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                    
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                    
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                               
                                <td class="weekend">
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                                </td>
                                
                              </tr>
                              <tr>
                                <th scope="row" class="time-interval">4PM-5PM</th>
                                <td class="weekend">
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td class="weekend">
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                                </td>
                                
                              </tr>
                              <tr>
                                <th scope="row" class="time-interval">5PM-6PM</th>
                                <td class="weekend">
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td class="weekend">
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                              
                                
                              </tr>
                              <tr>
                                <th scope="row" class="time-interval" >6PM-7PM</th>
                                <td class="weekend">
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td class="weekend">
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                
                              </tr>
                              <tr>
                                <th scope="row"class="time-interval" >7PM-8PM</th>
                                <td class="weekend">
                                  <div class="content">
                                    <div class="empty">
                                      - 
                                    </div>
                                  </div>
                              </td>
                              
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                                <td class="weekend">
                                    <div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>
                                </td>
                            
                                
                              </tr>
                            </tbody>
                          </table>
              
                  </div>
            </section>
            <hr class="m-0" />
        </div>

            <!-- Course Details -->

    <div class="container courseContainer" id="container2" hidden>
        <div class="group" >
            <h2 id="todayDate"></h2>
            <div id="classes">
                
            </div>
        </div>
    </div>

    <!-- Modal for confirmation -->
    <div class="modal fade" id="confirmslot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
             <button type="button" class="close" onclick="javascript:window.location.reload()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
               <h3>Your Session will be deducted on booking a slot.</h3>
          </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-primary btn-default accept">Accept</button>
               <button type="button" class="btn btn-default" onclick="javascript:window.location.reload()" data-dismiss="modal">Cancel</button>
            </div>
         </div>
      </div>
    </div>
    

      <script>
          var aboutTrainer = <%- JSON.stringify(user.trainers)%>;
          var id;
          var trainer = null;
          var compare = new Array();
          var slots,slots2=null,slots3 = null;

          var trainerCat = null;
          var trainerType = null;
          var userSessions = null;

          var weekName = null;

          setTimeout(()=>{
            $('#loading').hide();
            $('#container1').removeAttr('hidden');
            $('#container2').removeAttr('hidden');
          },2000);


          $(function () {
            $(".trainerId").first().trigger("click");
          });


            $(document).on('click', '.trainerId', function() {
              trainer = $(this);
              id = $(this).attr("data-id");
              name = $(this).attr("data-name");

              $('.trainerName').text(name);

              // if(user.trainers.find(el => el.id == id)) {
              //   $('.trainerName').text(el.username)
              // }
              aboutTrainer.some((t)=>{
                if(t.name == name){
                  trainerCat =  t.category;
                  trainerType = t.type;
                  userSessions = t.numOfSessions;
                  txnDate = t.txndate
                }
              });

              $('#numOfSessions').text(userSessions)
              $('#subcat').text(trainerCat)
              $('#val').text(txnDate.slice(0,10))


              $('#trainerTT tr').each(function(){
                  $(this).find('td').each(function(){
                    $(this).find('.content')[0].innerHTML = `<div class="content">
                                      <div class="empty">
                                        - 
                                      </div>
                                    </div>`
                    $(this).find('.content').css('background-color',"unset");
                    $(this).find('.content').css('color',"unset");
                    });
                  });

              $.ajax({
                // url:'http://127.0.0.1:3500/user/getTimeTable/'+id,
                url:'https://shapeyou-demo.herokuapp.com/user/getTimeTable/'+id,
                method: 'GET',
                data: {trainerType},
                success:(data)=>{
                  var index = 0;
                  $.ajax({
                    // url:'http://127.0.0.1:3500/user/bookedSlots/'+<%- JSON.stringify(user._id)%>,
                    url:'https://shapeyou-demo.herokuapp.com/user/bookedSlots/'+<%- JSON.stringify(currentUser._id)%>,
                    method: 'GET',  
                    success:(data2)=>{

                    if(data2){
                      for(var i=0;i<data2.length;i++){
                        if(Object.keys(data2[i])[0] == name){
                          slots = data2[i][Object.keys(data2[i])[0]];
                        }
                      }
                    }

                      $('#trainerTT tr').each(function(){
                        var timeR = null;
                        var timeStr = null;
                        if(index!=0){
                            timeR = $(this).find('th')[0].innerText;
                            var timeA = timeR.split('-');
                            timeStr = timeA[0].slice(0,1)+":00 - "+timeA[1].slice(0,1)+":00";
                            timeStr2 = timeA[0].slice(0,1)+":00-"+timeA[1].slice(0,1)+":00";
                          }
                          
                          $(this).find('td').each(function(){
                            var col = $("table thead tr th").eq($(this).index());
                            var key = col[0].getAttribute('value');
                            var key2 = key.split(' ').join('-');
                            var dayCol = col[0].innerHTML.split('>')[2].split('<')[0];
                            if(slots){
                              for(var j=0;j<slots.length;j++){
                                if(key2 in slots[j]){
                                  slots2 = slots[j];
                                }
                              }
                            }

                            if(trainerType == "group" && index!=0 && data && data[key]!=undefined){

                              for(var i=0;i<data[key].length;i++){
                                if(data[key][i].slice(0,11) == timeStr && data[key][i].substring(12,data[key][i].length-2)==trainerCat){

                                  if(slots2!=undefined && slots2[key2]!=undefined && slots2[key2].includes(timeStr2)){
                                    $(this).find('.content')[0].innerHTML = `<button class="booked" disabled>BOOKED</button>`;
                                    $(this).find('.content').find('.empty').attr('hidden','');
                                  }
                                  else{
                                    if(userSessions>0){
                                      $(this).find('.content')[0].innerHTML = `<button class='bookSlot'  data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#confirmslot">Book Your Slot</button><button class="booked" hidden disabled>BOOKED</button>`;
                                      $(this).find('.content').find('.empty').attr('hidden','');
                                      $(this).find('.content').find('.bookSlot').attr('data-key',key.replace(/\s/g, '-'));
                                      $(this).find('.content').find('.bookSlot').attr('data-slot',timeStr.replace(/\s/g, ''));
                                      $(this).find('.content').find('.bookSlot').attr('data-trainer',name);
                                      // $(this).find('.content').css('background-color',"yellowgreen");
                                      // $(this).find('.content').css('color',"darkgreen");
                                    }
                                  }
                                }
                              }
                            }else if(trainerType == "personal" && data &&index!=0){
                                switch (dayCol){
                                  case 'MON':
                                      dayCol = "Monday";
                                      break;
                                  case 'TUE':
                                      dayCol = "Tuesday";
                                      break;
                                  case 'WED':
                                      dayCol = "Wednesday";
                                      break;
                                  case 'THU':
                                      dayCol = "Thursday";
                                      break;
                                  case 'FRI':
                                      dayCol = "Friday";
                                      break;
                                  case 'SAT':
                                      dayCol = "Saturday";
                                      break;
                                  default:
                                      dayCol = "Sunday";
                              };
                              if(data[dayCol]!=undefined){

                              for(var i=0;i<data[dayCol].length;i++){
                                if(data[dayCol][i].slice(0,9)==timeStr2){
                                  if(slots2!=undefined && slots2[key2]!=undefined && slots2[key2].includes(timeStr2)){
                                    $(this).find('.content')[0].innerHTML = `<button class="booked" disabled>BOOKED</button>`;
                                    $(this).find('.content').find('.empty').attr('hidden','');
                                  }
                                  else{
                                    if((parseInt(data[dayCol][i].slice(-1))==0)){
                                      if(userSessions >0){
                                      $(this).find('.content')[0].innerHTML = `<button class='bookSlot'  data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#confirmslot" >Book Your Slot</button><button class="booked" hidden disabled>BOOKED</button>`;
                                      $(this).find('.content').find('.empty').attr('hidden','');
                                      $(this).find('.content').find('.bookSlot').attr('data-key',key.replace(/\s/g, '-'));
                                      $(this).find('.content').find('.bookSlot').attr('data-key2',dayCol);
                                      $(this).find('.content').find('.bookSlot').attr('data-slot',timeStr.replace(/\s/g, ''));
                                      $(this).find('.content').find('.bookSlot').attr('data-trainer',name);
                                      // $(this).find('.content').css('background-color',"yellowgreen");
                                      // $(this).find('.content').css('color',"darkgreen");
                                    }
                                  }
                                  }
                                }
                              };
                            };
                            }
                          });
                          index++;
                        });

                        var today = new Date();

                        var todayTime = today.getDate()+ "-"+today.toLocaleString('default', { month: 'short' })+ "-" + today.getFullYear();
                        var text = " ";

                          if(slots){
                            for(var i=0;i<slots.length;i++){
                              if(todayTime in slots[i]){
                                for(var j=0;j<slots[i][todayTime].length;j++){
                                  compare.push(slots[i][todayTime][j]);
                                  text += `<div class="slotRow">
                                              <div class="slots">
                                              ${slots[i][todayTime][j]}
                                              </div>
                                              <div class="joinLink">
                                                  <form method="get" action='/user/zoomDashboard/${id}'>
                                                      <button style="background-color:red;cursor:default" disabled id="join${j}">Join</button>
                                                  </form>
                                              </div>
                                              </div>`
                                }
                              }
                            }

                            document.getElementById('classes').innerHTML = text;
                        }
                    }
                  });
                }
              });
            });


            setInterval(()=>{
                var today = new Date();
                var m = today.getMinutes();
                var h = today.getHours();
                if(h == '0') {h = 12}
                if(m<10){
                    m = '0' + m;
                }
                
                if(h>12){
                    h = h-12;
                    m = m+"PM";
                }else{
                    m = m + 'AM';
                }
                var currentTime = h+":"+m;
                
                document.getElementById('todayDate').innerText = today.toLocaleString('default', { month: 'short' }) + " " + today.getDate()+ " " + today.getFullYear() +" " + currentTime;

                var compare1 = currentTime.slice(0,4);

                for(var i=0;i<compare.length;i++){
                    var compare2 = compare[i].slice(0,4);


                    if(((parseInt(compare1.slice(0,2)) == parseInt(compare2.slice(0,2))-1) && (compare1.slice(-2)>=45))    ||   ((compare1.slice(0,2) == compare2.slice(0,2)) && (compare1.slice(-2) <=40 ))){
                      $.ajax({
                        // url:'http://127.0.0.1:3500/user/isCreated/'+id,
                        url:'https://shapeyou-demo.herokuapp.com/user/isCreated/'+id,
                        method: 'GET',
                        success:(data)=>{
                          if(data.isCreated == true){
                            $('#join'+(i-1)).removeAttr('disabled');
                            $('#join'+(i-1)).css('background-color','green');
                            $('#join'+(i-1)).css('cursor','pointer');
                          }
                        }
                      }); 
                    }
                    else{
                        $('#join'+i).attr('disabled','');
                        $('#join'+i).css('background-color','#99AAAB');
                        $('#join'+i).css('color','white');
                        $('#join'+i).css('border-radius','20px');
                        $('#join'+i).css('cursor','default');
                    }
                }

            },1000);
            

        var curr = new Date;
        var firstday = new Date(curr.setDate((curr.getDate() - curr.getDay())));
        var lastday = new Date((curr.setDate((curr.getDate() - curr.getDay())+6)));

          var d = new Date();
          var m = d.getMinutes();
          var h = d.getHours();
          if(h == '0') {h = 12}
          
          var currentTime = h+":"+m;
        
          var weekday=new Array(7);
          weekday[0]="SUN";
          weekday[1]="MON";
          weekday[2]="TUE";
          weekday[3]="WED";
          weekday[4]="THU";
          weekday[5]="FRI";
          weekday[6]="SAT";

        
        
          var data=new Object();
        
          var j=1;
        
          var first = firstday;
      
        
          // for(var d = 0;d<7; d++){
          //     var nextDay = new Date();
          //     nextDay.setDate(firstday.getDate()+1);
          //     var datePassed = firstday.getDate() + " " + firstday.toLocaleString('default', { month: 'short' })+" "+firstday.getFullYear();
          //     data[datePassed] = new Array();
          //     firstday = nextDay;
          // }
        
        
          firstday = first;
        
          for(var i=firstday;i<=lastday;i.setDate(i.getDate() + 1)){
            document.getElementById('dateT'+j).innerHTML = `<span>${i.getDate()}<br>${weekday[j-1]}</span>`;
            document.getElementById('dateT'+j).setAttribute('value',`${i.getDate()+" "+i.toLocaleString('default',{month:'short'})+" "+i.getFullYear()}`);
            j++;
        }
        
          j=1;       
          

          var key = null;
          var key3 = null;
          var slot = null;
          var name = null;
          var date = null;
          var date2 = null;
          var userCount = null;
          var booked2 = null;
        

          $(document).on('click', '.bookSlot', function() {
              key  = $(this).attr('data-key');
              key3  = $(this).attr('data-key2');
              slot = $(this).attr('data-slot');
              name = $(this).attr('data-trainer');

              $(this).attr('hidden','');
              $(this).next().removeAttr('hidden');

              date = new Object();
              date2 = new Object();
              userCount = new Object();

              date[key] = new Array();
              date[key].push(slot);

              if(trainerType == "group"){
    
                  var key2 = key.split('-').join(' ');
    
                  date2[key2] = slot;
    
                  userCount[id] = date2;
                }else{
                  date2[key3] = slot;
                  userCount[id] = date2;
                }

              $.ajax({
                url:'/user/bookedSlots/<%= user._id %>' ,
                method:'GET',
                success:(booked)=>{

                  if(booked.length == 0){
                    var newObj = new Object();
                    newObj[name] = new Array();
                    newObj[name].push(date);
                    booked.push(newObj);
                  
                  }

                  for(var i=0;i<booked.length;i++){
                    if(Object.keys(booked[i])[0] == name){
                      var temp = booked[i][Object.keys(booked[i])[0]];
                      if(temp.length == 0){
                        booked[i][Object.keys(booked[i])[0]].push(date); 
                      }else{
                        var isThere = false;
                        for(var j=0;j<temp.length;j++){
                          if(key in temp[j]){
                            isThere = true;
                            booked[i][Object.keys(booked[i])[0]][j][key].push(slot);
                            break;
                          }
                        }
                      if(!isThere){
                        booked[i][Object.keys(booked[i])[0]].push(date); 
                        break;
                      }
                    }
                  }
                }
                booked2= booked;
                console.log(booked);
              }
            });
          
          });

          $(document).on('click', '.accept', function() {
            $.ajax({
                  url:'/user/updateuser',
                  method:'PUT',
                  data:{booked2,userCount,trainerType,trainerCat},
                  success:(data2)=>{
                      location.reload();
                  }
                });
          });




        </script>
    </body>
</html>