<%- include('./partials/header') %>

    <h1 class="text-center mt-5">Our categories</h1>
    <div class="row text-center mt-5" style="display:flex; flex-wrap: wrap;">
        <% categories.forEach(function(category) { %>
            
            <div class="col-lg-4 col-md-6 px-auto">
                <div class="card mb-5 zoom" style="width: 18rem;">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1534258936925-c58bed479fcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="">
                    <div class="card-body">
                        <a href="/user/category/<%= category.parent %>"><h5 class="card-title"><%= category.parent %> | <%= category.title %></h5></a>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    </div>
                  </div>
            </div>
            
        <% }); %>
    </div>
</div>

<%- include('./partials/footer') %>
